<app-toolbar
  *ngIf="showToolbar"
  [color]="toolbarColor"
  [hasValidate]="!loading && (dirty || saving)"
  [hasClose]="!loading && !dirty && !saving"
  (onValidate)="save($event)"
  (onValidateAndClose)="saveAndClose($event)"
  (onClose)="close($event)"
  [defaultBackHref]="defaultBackHref"
  [canGoBack]="true"
>
  <ion-title [innerHTML]="titleSubject | async"></ion-title>

  <ion-buttons slot="end">
    <!-- option menu -->
    <ion-button
      *ngIf="showOptionsMenu && ((enabled && !isNewData) || canDebug)"
      [matMenuTriggerFor]="optionsMenu"
      [title]="'COMMON.BTN_OPTIONS' | translate"
    >
      <mat-icon slot="icon-only">more_vert</mat-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu">
  <!-- report -->
  <button mat-menu-item *ngIf="enableReport" [disabled]="isNewData || !data.controlDate" (click)="openReport()">
    <mat-icon><ion-icon slot="icon-only" name="bar-chart-outline"></ion-icon></mat-icon>
    <ion-label translate>OBSERVED_LOCATION.EDIT.BTN_REPORT</ion-label>
  </button>

  <!-- reset -->
  <button mat-menu-item *ngIf="mobile" [disabled]="disabled || !dirty" (click)="cancel($event)">
    <mat-icon>
      <ion-icon slot="icon-only" name="refresh"></ion-icon>
    </mat-icon>
    <ion-label translate>COMMON.BTN_RESET</ion-label>
  </button>

  <mat-divider></mat-divider>

  <!-- delete -->
  <button mat-menu-item [disabled]="isNewData || disabled" (click)="delete($event)">
    <mat-icon>delete</mat-icon>
    <ion-label translate>COMMON.BTN_DELETE</ion-label>
  </button>

  <!-- DEV only -->
  <app-data-editor-debug-button></app-data-editor-debug-button>
</mat-menu>

<ion-content>
  <mat-tab-group
    #tabGroup
    class="mat-mdc-tab-fixed-content"
    [class.mobile]="mobile"
    [(selectedIndex)]="selectedTabIndex"
    (selectedTabChange)="onTabChange($event)"
    [animationDuration]="mobile ? tabGroupAnimationDuration : '0s'"
    [dynamicHeight]="false"
  >
    <!-- TAB: general -->
    <mat-tab
      [label]="'OBSERVED_LOCATION.EDIT.TAB_GENERAL' | translateContext: i18nContext.suffix"
      appSubMenuTab
      [subMenuTitle]="(titleSubject | async | noHtml) || ''"
      [parentPath]="defaultBackHref"
    >
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>OBSERVED_LOCATION.EDIT.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="error || (submitted && observedLocationForm.invalid)"></ion-icon>
      </ng-template>

      <div>
        <!-- error -->
        <ion-item *ngIf="mobile && (error || observedLocationForm.error); let errorMsg" lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="errorMsg | translate"></ion-label>
        </ion-item>

        <!-- DEBUG -->
        <ng-container *ngIf="debug">
          <ng-container *ngTemplateOutlet="debugPanel"></ng-container>
        </ng-container>

        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-padding">
              <!-- observed location -->
              <app-form-observed-location
                #observedLocationForm
                [acquisitionLevel]="acquisitionLevel"
                [programLabel]="programLabel$ | async"
                [requiredStrategy]="requiredStrategy$ | async"
                [strategyId]="strategy$ | async | mapGet: 'id'"
                [showError]="false"
                [showEndDateTime]="false"
                [mobile]="mobile"
                [debug]="debug"
                (onSubmit)="save($event)"
                [timezone]="dbTimeZone"
              ></app-form-observed-location>
            </ion-col>

            <!-- quality data -->
            <ion-col size="12" size-xl="3" class="ion-no-padding">
              <!-- strategy summary -->
              <app-strategy-summary-card *ngIf="showStrategyCard"></app-strategy-summary-card>

              <!-- metadata -->
              <app-entity-metadata [value]="data" [showRecorder]="showRecorder">
                <!-- Compose message -->
                <ion-button
                  recorderSuffix
                  *ngIf="showRecorder && canSendMessage"
                  slot="end"
                  size="small"
                  fill="clear"
                  color="tertiary"
                  class="visible-hover ion-no-margin"
                  [title]="'DATA.BTN_WRITE_TO_RECORDER' | translate"
                  (click)="openComposeMessageModal(data?.recorderPerson)"
                >
                  <ion-icon slot="icon-only" name="mail"></ion-icon>
                </ion-button>

                <!-- quality process -->
                <app-entity-quality-form></app-entity-quality-form>
              </app-entity-metadata>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </mat-tab>

    <!-- TAB: Landings -->
    <mat-tab
      #landingsTab
      [label]="'OBSERVED_LOCATION.EDIT.TAB_LANDINGS' | translateContext: i18nContext.suffix"
      [disabled]="!showLandingTab"
      appSubMenuTab
    >
      <ng-template mat-tab-label>
        <mat-icon><ion-icon name="boat"></ion-icon></mat-icon>
        <ng-container *rxIf="landingTable$; let table; suspense: suspense">
          <ion-label
            [matBadge]="table.visibleRowCount"
            [matBadgeHidden]="table.invalid || !table.visibleRowCount"
            matBadgeOverlap="false"
            matBadgeColor="primary"
            matBadgeSize="small"
            matBadgePosition="above after"
          >
            {{ landingsTab.textLabel }}
          </ion-label>
          <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="table.invalid"></ion-icon>
        </ng-container>
        <ng-template #suspense>
          <ion-label><ion-skeleton-text style="min-width: 110px"></ion-skeleton-text></ion-label>
        </ng-template>
      </ng-template>

      <div class="ion-no-padding">
        <!-- error -->
        <ion-item *ngIf="(landingTable$ | async)?.error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="(landingTable$ | async)?.error | translate"></ion-label>
        </ion-item>

        <ng-container *rxIf="landingTableType$; let type">
          <ng-container [ngSwitch]="type">
            <!-- aggregated landings -->
            <app-aggregated-landings-table
              #aggregatedLandingsTable
              *ngSwitchCase="'aggregated'"
              [programLabel]="programLabel$ | async"
              (onNewRow)="onNewAggregatedLanding($event)"
              [showToolbar]="!mobile"
              [sticky]="true"
              (ngInit)="landingTable = aggregatedLandingsTable"
              [debug]="debug"
            ></app-aggregated-landings-table>

            <!-- landings -->
            <app-landings-table
              #landingsTable
              *ngSwitchCase="'legacy'"
              [programLabel]="programLabel$ | async"
              [requiredStrategy]="requiredStrategy$ | async"
              [strategyId]="strategy$ | async | mapGet: 'id'"
              [showObserversColumn]="false"
              [showDateTimeColumn]="false"
              [showToolbar]="!mobile"
              [showPaginator]="true"
              (onOpenRow)="onOpenLanding($event)"
              (onNewRow)="onNewLanding($event)"
              (openTrip)="onOpenTrip($event)"
              (newTrip)="onNewTrip($event)"
              (ngInit)="landingTable = landingsTable"
              [debug]="debug"
            ></app-landings-table>
          </ng-container>
        </ng-container>
      </div>
    </mat-tab>

    <!-- TAB: PETS -->
    <mat-tab #petsTab [label]="'OBSERVED_LOCATION.EDIT.TAB_PETS' | translateContext: i18nContext.suffix" [disabled]="!showPETSTab" appSubMenuTab>
      <ng-template mat-tab-label>
        <mat-icon><ion-icon name="boat"></ion-icon></mat-icon>
        <!-- TODO JVF: PETS table -->
        <ng-container *rxIf="landingTable$; let table; suspense: suspense">
          <ion-label
            [matBadge]="table.visibleRowCount"
            [matBadgeHidden]="table.invalid || !table.visibleRowCount"
            matBadgeOverlap="false"
            matBadgeColor="primary"
            matBadgeSize="small"
            matBadgePosition="above after"
          >
            {{ petsTab.textLabel }}
          </ion-label>
          <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="table.invalid"></ion-icon>
        </ng-container>
        <ng-template #suspense>
          <ion-label><ion-skeleton-text style="min-width: 110px"></ion-skeleton-text></ion-label>
        </ng-template>
      </ng-template>

      <div class="ion-no-padding">
        <!-- error -->
        <ion-item *ngIf="(landingTable$ | async)?.error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="(landingTable$ | async)?.error | translate"></ion-label>
        </ion-item>
      </div>
    </mat-tab>
  </mat-tab-group>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>
  <app-form-buttons-bar
    (onCancel)="reloadWithConfirmation()"
    [disabledCancel]="!dirty || loading"
    (onSave)="save($event)"
    [disabled]="!dirty || loading"
  >
    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error | translate"></ion-label>
    </ion-item>
  </app-form-buttons-bar>
</ion-footer>

<!-- FAB button: add landing -->
<ion-fab
  *ngIf="mobile && selectedTabIndex === 1"
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  [class.cdk-visually-hidden]="(landingTable$ | async)?.disabled"
  @fadeInOutAnimation
>
  <ion-fab-button color="tertiary" (click)="addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ng-template #debugPanel>
  <app-debug title="Editor and Form">
    <ion-grid>
      <ion-row>
        <ion-col>
          editor.ready: {{ readySubject | async }}
          <br />
          editor.loading: {{ loading }}
          <br />
          editor.enabled: {{ enabled }}
          <br />
          editor.dirty: {{ dirty }}
          <br />
          editor.valid: {{ valid }}
          <br />
          editor.program: {{ (program$ | async)?.label }}
          <br />
          editor.strategy ({{ strategyResolution$ | async }}){{ requiredStrategy ? ' (required)' : '' }}: {{ (strategy$ | async)?.id }}
          <br />
          <br />
          editor.acquisitionLevel: {{ acquisitionLevel$ | async }}
          <br />
          editor.landingTableType: {{ landingTableType$ | async }}
          <br />
          <br />
          editor.showLandingTab: {{ showLandingTab }}
          <br />
          editor.showPETSTab: {{ showPETSTab }}
          <br />
          editor.showObservers: {{ showObservers }}
        </ion-col>
        <ion-col>
          form.ready: {{ observedLocationForm.readySubject | async }}
          <br />
          form.loading: {{ observedLocationForm.loading }}
          <br />
          form.enabled: {{ observedLocationForm.enabled }}
          <br />
          form.dirty: {{ observedLocationForm.dirty }}
          <br />
          form.valid: {{ observedLocationForm.valid }}
          <br />
          form.program: {{ observedLocationForm.programLabel }}
          <br />
          form.strategy{{ observedLocationForm.requiredStrategy ? ' (required)' : '' }}:
          {{ observedLocationForm.strategyId || observedLocationForm.strategyLabel }}
          <br />
          <br />
          form.acquisitionLevel: {{ observedLocationForm.acquisitionLevel }}
          <br />
          form.pmfms: {{ (observedLocationForm.pmfms$ | push)?.length || 0 }}
          <br />
          <br />
          form.showObservers: {{ observedLocationForm.showObservers }}
        </ion-col>
        <ion-col>
          form.startDateTime:
          {{ observedLocationForm.form | formGetValue: 'startDateTime' | dateFormat: { time: true } }}
          <br />
          form.endDateTime:
          {{ observedLocationForm.form | formGetValue: 'endDateTime' | dateFormat: { time: true } }}
          <br />
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-debug>
</ng-template>
