<app-toolbar  *ngIf="showToolbar" [defaultBackHref]="defaultBackHref" canGoBack="true">
  <ion-title [innerHTML]="$title|async"></ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="slides.print($event)" >
      <ion-icon name="print"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<ion-content>

  <ion-item *ngIf="error && showError" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <app-slides #slides *ngIf="!error" [options]="slidesOptions">
    <ng-container *ngIf="loaded; else loadingTemplate">
      <section>
        <section markdown ngPreserveWhitespaces>
          # {{ 'OBSERVED_LOCATION.REPORT.TITLE_SHORT'|translate }}
          - {{ 'OBSERVED_LOCATION.REPORT.LOCATION'|translate }} {{ data.location?.name }}
          - {{ 'OBSERVED_LOCATION.REPORT.DATE_TIME'|translate }} {{ data.startDateTime|dateFormat:{time: true} }}
          - {{ 'OBSERVED_LOCATION.REPORT.OBSERVERS'|translate }} {{ data.observers|personToString }}
          <ng-container *ngFor="let pmfm of pmfms">
          - {{ pmfm|pmfmName:{
            i18nPrefix: i18nContext.prefix,
            i18nContext: i18nContext.suffix,
            html: true } }} : {{ pmfmsValues[pmfm.id]|pmfmValue:{pmfm: pmfm, html: true} }}
          </ng-container>
        </section>
      </section>
      <section markdown ngPreserveWhitespaces *ngFor="let reportItem of landingReportItems">
        <app-auction-control-report
          [embedded]="true"
          [data]="reportItem.data"
          [parent]="data"
          [i18nContext]="i18nContext"
          [stats]="reportItem.stats"
          [pmfms]="reportItem.pmfms"
          ></app-auction-control-report>
      </section>
    </ng-container>
  </app-slides>

  <ng-template #loadingTemplate>
    <div class="loader">
      <ion-spinner slot="start" color="secondary" size="large"></ion-spinner>
    </div>
  </ng-template>

</ion-content>
