<mat-toolbar *ngIf="showToolbar">
  <ng-container *ngIf="!selection.hasValue(); else hasSelection">
    <!-- Add -->
    <button mat-icon-button *ngIf="canEdit && !mobile && enabled" [title]="'COMMON.BTN_ADD' | translate" (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>

    <!-- Refresh -->
    <button mat-icon-button *ngIf="!mobile" [title]="'COMMON.BTN_REFRESH' | translate" (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
  </ng-container>

  <!-- if row selection -->
  <ng-template #hasSelection>
    <!-- Delete -->
    <button mat-icon-button *ngIf="canEdit && enabled" [title]="'COMMON.BTN_DELETE' | translate" (click)="deleteSelection($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <ion-item *ngIf="showError && !mobile && error; let error" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <!-- separator -->
  <ion-text class="toolbar-spacer ion-text-center">
    <!-- title -->
    <span *ngIf="title" [innerHTML]="title"></span>
  </ion-text>

  <!-- options menu -->
  <button mat-icon-button matHeader [title]="'COMMON.BTN_OPTIONS' | translate" [matMenuTriggerFor]="optionsMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- Table options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">
  <!-- display columns -->
  <button mat-menu-item (click)="openSelectColumnsModal($event)">
    <mat-icon>view_column</mat-icon>
    <ion-label translate>COMMON.DISPLAYED_COLUMNS_DOTS</ion-label>
  </button>
</mat-menu>

<!-- error -->
<ion-item *ngIf="showError && mobile && error; let error" lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="error | translate"></ion-label>
</ion-item>

<div #tableContainer class="table-container" [class.has-toolbar]="showToolbar" [class.has-paginator]="showPaginator">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    [matSortDisableClear]="true"
    [matSortActive]="defaultSortBy"
    [matSortDirection]="defaultSortDirection"
    [trackBy]="trackByFn"
  >
    <ng-container matColumnDef="select" [sticky]="sticky && canEdit">
      <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit">
        <mat-checkbox (click)="toggleSelectRow($event, row)" [checked]="selection.isSelected(row)"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Id column -->
    <ng-container matColumnDef="id" [sticky]="sticky && canEdit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [class.cdk-visually-hidden]="!canEdit">
        <ion-label>#</ion-label>
      </th>
      <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit">{{ row.currentData?.id }}</td>
    </ng-container>

    <!-- Person  -->
    <ng-container matColumnDef="person">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>PROGRAM.PRIVILEGES.PERSON</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-autocomplete-field
          [formControl]="row.validator.controls.person"
          [placeholder]="'PROGRAM.PRIVILEGES.PERSON' | translate"
          [autofocus]="row.id === -1 && row.editing"
          [config]="autocompleteFields.person"
          [i18nPrefix]="'USER.'"
          floatLabel="never"
          required
        ></mat-autocomplete-field>
      </td>
    </ng-container>

    <!-- Person's department -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>PROGRAM.PRIVILEGES.DEPARTMENT</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label>
          {{ row.currentData.person?.department | referentialToString: displayAttributes.department }}
        </ion-label>
      </td>
    </ng-container>

    <!-- Privilege -->
    <ng-container matColumnDef="privilege">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>PROGRAM.PRIVILEGES.PRIVILEGE</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-autocomplete-field
          [formControl]="row.validator.controls.privilege"
          [placeholder]="'PROGRAM.PRIVILEGES.PRIVILEGE' | translate"
          [config]="autocompleteFields.privilege"
          floatLabel="never"
          required
        ></mat-autocomplete-field>
      </td>
    </ng-container>

    <!-- Location -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>
        <span translate>PROGRAM.PRIVILEGES.LOCATION</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-autocomplete-field
          [formControl]="row.validator.controls.location"
          [placeholder]="'PROGRAM.PRIVILEGES.LOCATION' | translate"
          [config]="autocompleteFields.location"
          [clearable]="true"
          floatLabel="never"
        ></mat-autocomplete-field>
      </td>
    </ng-container>

    <!-- Reference Person  -->
    <ng-container matColumnDef="referencePerson">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>PROGRAM.PRIVILEGES.REFERENCE_PERSON</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-autocomplete-field
          [formControl]="row.validator.controls.referencePerson"
          [placeholder]="'PROGRAM.PRIVILEGES.REFERENCE_PERSON' | translate"
          [autofocus]="row.id === -1 && row.editing"
          [config]="autocompleteFields.person"
          [i18nPrefix]="'USER.'"
          floatLabel="never"
          required
        ></mat-autocomplete-field>
      </td>
    </ng-container>

    <!-- Actions buttons column -->
    <app-actions-column
      [stickyEnd]="stickyEnd"
      (confirmAndAddClick)="confirmAndAdd($event.event, $event.row)"
      (cancelOrDeleteClick)="cancelOrDelete($event.event, $event.row)"
      (backward)="confirmAndBackward($event.event, $event.row)"
      (forward)="confirmAndForward($event.event, $event.row)"
      [canCancel]="false"
    ></app-actions-column>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.mat-mdc-row-error]="row.validator.invalid"
      [class.mat-mdc-row-dirty]="row.validator.dirty"
      [class.mat-mdc-row-disabled]="!row.editing"
      [class.mat-mdc-row-selected]="row.editing"
      (click)="clickRow($event, row)"
      [cdkTrapFocus]="row.editing && row.validator.invalid"
    ></tr>
  </table>
</div>

<ion-footer *ngIf="showPaginator">
  <mat-paginator
    #paginator
    class="mat-paginator-footer"
    [length]="totalRowCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="defaultPageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
</ion-footer>
