<!-- batch tree -->
<ion-list class="ion-no-padding" >
  <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl" class="batch-tree" [class.mobile]="mobile">
    <!-- Expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li
        *ngVar="{
          expanded: treeControl.isExpanded(node),
          selected: node === (selectionSubject | async)
        } as vars"
      >
        <ion-item
          (click)="click($event, node)"
          [class.activated]="vars.selected"
          [class.cdk-visually-hidden]="node.hidden"
          [class.tappable]="!node.disabled"
        >
          <button mat-icon-button slot="start" (click)="toggle($event, node)">
            <mat-icon class="mat-icon-rtl-mirror">{{ vars.expanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>

          <!-- name -->
          <ion-label>
            {{ node.name }}
          </ion-label>

          <!-- badges -->
          <ion-buttons slot="end">
            <!--<ng-container *ngIf="debug">
              <ng-container *ngTemplateOutlet="expandableBadges; context: { $implicit: node }"></ng-container>
            </ng-container>-->

            <!-- error -->
            <ion-icon
              *ngIf="(vars.selected && selectedBatchStatus ? selectedBatchStatus.valid : node.valid) === false"
              color="danger"
              slot="icon-only"
              name="alert-circle"
            ></ion-icon>
          </ion-buttons>

          <ion-icon name="chevron-forward-outline" slot="end" *ngIf="mobile && !node.disabled"></ion-icon>
        </ion-item>
        <ul [class.ion-no-padding]="node.hidden" [class.cdk-visually-hidden]="!vars.expanded">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>

    <!-- Leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li *ngVar="(selectionSubject | async) === node; let selected">
        <ion-item (click)="click($event, node)" [class.activated]="selected"
                  [class.tappable]="!node.disabled"
                  [class.disabled]="node.disabled">
          <!-- spacer for alignment -->
          <app-icon slot="start" [ref]="node.icon || {}"></app-icon>

          <!-- name + error -->
          <ion-label>
            {{ node.name }}
          </ion-label>
          <ion-buttons slot="end">
            <ng-container *ngIf="debug">
              <ng-container *ngTemplateOutlet="leafBadges; context: { $implicit: node }"></ng-container>
            </ng-container>

            <!-- batches count -->
            <ion-badge
              *ngVar="selected ? selectedBatchStatus : node; let node"
              [color]="node.valid === false ? 'danger' : !node.rowCount ? 'medium' : 'tertiary'"
              slot="end"
            >
              {{ node.rowCount || 0 }}
            </ion-badge>
          </ion-buttons>

          <ion-icon name="chevron-forward-outline" slot="end" *ngIf="mobile"></ion-icon>
        </ion-item>
      </li>
    </mat-tree-node>
  </mat-tree>
</ion-list>

<!-- expandable node badges -->
<ng-template #expandableBadges let-node>
  <!-- editing (=enabled) -->
  <ion-badge *ngIf="node.editing" color="success" class="visible-hover" slot="end">enabled</ion-badge>
  <ion-badge *ngIf="!node.editing" color="light" class="visible-hover" slot="end">disabled</ion-badge>
  &nbsp;

  <!-- pmfm count  -->
  <ion-badge *ngIf="node.pmfms?.length; let count" slot="end" class="visible-hover" color="secondary">
    {{ count }} pmfms
  </ion-badge>
</ng-template>

<!-- leaf nodes badges -->
<ng-template #leafBadges let-node>
  <!-- editing (=enabled) -->
  <ion-badge *ngIf="node.editing" color="success" class="visible-hover" slot="end">enabled</ion-badge>
  <ion-badge *ngIf="!node.editing" color="light" class="visible-hover" slot="end">disabled</ion-badge>
  &nbsp;

  <!-- table pmfm count  -->
  <ion-badge
    *ngIf="node.childrenPmfms?.length; let count"
    color="secondary"
    slot="end"
    class="visible-hover"
    [title]="node.childrenPmfms | arrayPluck : 'label'"
  >
    {{ count }} col
  </ion-badge>
</ng-template>
