<app-debug *ngIf="debug" [title]="'Batch tree'">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        ready: {{ readySubject | async }}
        <br />
        loading: {{ loading }} (subject: {{ loadingSubject | async }})
        <br />
        dirty: {{ dirty }}
        <br />
        valid: {{ valid }}
        <br />
        disabled: {{ disabled }}
        <br />
        program: {{ programLabel$ | async }}
        <br />
        strategy{{ requiredStrategy ? ' (required)' : '' }}: {{ strategyId$ | async }}
        <br />
        gear{{ requiredGear ? ' (required)' : '' }}: {{ gearId$ | async }}
        <br />
        <br />
        i18nContext.suffix: {{ i18nContext.suffix }}
        <br />
        <br />
        showCatchForm: {{ showCatchForm }}
        <br />
        showBatchTables: {{ showBatchTables }}
        <br />
        programAllowMeasure: {{ programAllowMeasure }}
        <br />
        allowSpeciesSampling: {{ allowSpeciesSampling }}
        <br />
        allowSubBatches: {{ allowSubBatches }}
        <br />
        allowIndividualCountOnly: {{ allowIndividualCountOnly }}
        <br />
        usageMode: {{ usageMode }}
        <br />
      </ion-col>
      <ion-col>
        catchBatchForm.ready: {{ catchBatchForm.readySubject | async }}
        <br />
        catchBatchForm.loading: {{ catchBatchForm.loading }}
        <br />
        catchBatchForm.dirty: {{ catchBatchForm.dirty }}
        <br />
        catchBatchForm.valid: {{ catchBatchForm.valid }}
        <br />
        catchBatchForm.disabled: {{ catchBatchForm.disabled }}
        <br />
        catchBatchForm.program: {{ catchBatchForm.programLabel }}
        <br />
        catchBatchForm.strategy{{ catchBatchForm.requiredStrategy ? ' (required)' : '' }}: {{ catchBatchForm.strategyId }}
        <br />
        catchBatchForm.gear{{ catchBatchForm.requiredGear ? ' (required)' : '' }}: {{ catchBatchForm.gearId }}
        <br />
        <br />
        catchBatchForm.i18nPmfmPrefix: {{ catchBatchForm.i18nPmfmPrefix }}
        <br />
        catchBatchForm.i18nSuffix: {{ catchBatchForm.i18nSuffix }}
        <br />
        catchBatchForm.pmfms: {{ catchBatchForm.pmfms?.length }}
        <br />
        catchBatchForm.defaultWeightPmfm: {{ catchBatchForm.defaultWeightPmfm?.label }}
        <br />
        catchBatchForm.samplingRatioFormat: {{ catchBatchForm.samplingRatioFormat }}
        <br />
        <br />
        catchBatchForm.hasContent: {{ catchBatchForm.hasContent$ | push }}
        <br />
        catchBatchForm.showWeight: {{ catchBatchForm.showWeight }}
        <br />
        catchBatchForm.requiredWeight: {{ catchBatchForm.requiredWeight }}
        <br />
        catchBatchForm.showSamplingBatch: {{ catchBatchForm.showSamplingBatch }}
        <br />
        catchBatchForm.samplingBatchEnabled: {{ catchBatchForm.samplingBatchEnabled }}
        <br />
        catchBatchForm.showSampleWeight: {{ catchBatchForm.showSampleWeight }}
        <br />
        catchBatchForm.requiredSampleWeight: {{ catchBatchForm.requiredSampleWeight }}
        <br />
      </ion-col>
      <ion-col *ngIf="showBatchTables">
        batchGroupsTable.ready: {{ batchGroupsTable.readySubject | async }}
        <br />
        batchGroupsTable.loading: {{ batchGroupsTable.loading }}
        <br />
        batchGroupsTable.dirty: {{ batchGroupsTable.dirtySubject | async }}
        <br />
        batchGroupsTable.valid: {{ batchGroupsTable.valid }}
        <br />
        batchGroupsTable.disabled: {{ batchGroupsTable.disabled }}
        <br />
        batchGroupsTable.program: {{ batchGroupsTable.programLabel }}
        <br />
        batchGroupsTable.strategy{{ batchGroupsTable.requiredStrategy ? ' (required)' : '' }}: {{ batchGroupsTable.strategyId }}
        <br />
        batchGroupsTable.gear{{ batchGroupsTable.requiredGear ? ' (required)' : '' }}: {{ batchGroupsTable.gearId }}
        <br />
        <br />
        batchGroupsTable.showSamplingBatchColumns: {{ batchGroupsTable.showSamplingBatchColumns }}
        <br />
        batchGroupsTable.defaultHasSubBatches: {{ batchGroupsTable.defaultHasSubBatches }}
        <br />
        batchGroupsTable.availableTaxonGroups: {{ batchGroupsTable.availableTaxonGroups?.length || 0 }}
        <br />
      </ion-col>
      <ion-col *ngIf="showSubBatchesTable && subBatchesTable">
        subBatchesTable.ready: {{ subBatchesTable.readySubject | async }}
        <br />
        subBatchesTable.loading: {{ subBatchesTable.loadingSubject | async }}
        <br />
        subBatchesTable.dirty: {{ subBatchesTable.dirtySubject | async }}
        <br />
        subBatchesTable.valid: {{ subBatchesTable.valid }}
        <br />
        subBatchesTable.disabled: {{ subBatchesTable.disabled }}
        <br />
        subBatchesTable.program: {{ subBatchesTable.programLabel }}
        <br />
        subBatchesTable.strategy{{ subBatchesTable.requiredStrategy ? ' (required)' : '' }}: {{ subBatchesTable.strategyId }}
        <br />
        subBatchesTable.gear{{ subBatchesTable.requiredGear ? ' (required)' : '' }}: {{ subBatchesTable.gearId }}
        <br />
        <br />
        subBatchesTable.showTaxonNameColumn: {{ subBatchesTable.showTaxonNameColumn }}
        <br />
        subBatchesTable.showIndividualCount: {{ subBatchesTable.showIndividualCount }}
        <br />
        <!--        batchGroupsTable.availableParents: {{subBatchesTable.availableParents?.length||0}}<br/>-->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="dumpDebugData('catchForm')">Dump catch form</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="dumpDebugData('rowValidator')">Dump table row</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="_debugData">
      <ion-col size="12">
        <pre>{{ _debugData | json }}</pre>
      </ion-col>
    </ion-row>
  </ion-grid>
</app-debug>

<!-- error -->
@if (showError) {
  <app-error-item [message]="errorSubject | async"></app-error-item>
}

<!-- catch batch form -->
<div class="ion-padding-top ion-padding-horizontal" [class.cdk-visually-hidden]="(showCatchForm$ | push: rxStrategy) === false">
  <app-form-catch-batch
    #catchBatchForm
    [programLabel]="programLabel$ | async"
    [acquisitionLevel]="rootAcquisitionLevel"
    [requiredStrategy]="requiredStrategy$ | async"
    [strategyId]="strategyId$ | async"
    [requiredGear]="requiredGear$ | async"
    [gearId]="gearId$ | async"
    (onSubmit)="save($event)"
    [tabindex]="200"
    [showError]="false"
    [i18nPmfmPrefix]="i18nPmfmPrefix"
    [i18nSuffix]="i18nContext?.suffix"
    [rxStrategy]="rxStrategy"
    [debug]="debug"
  ></app-form-catch-batch>
</div>

<mat-tab-group
  #tabGroup
  class="mat-mdc-tab-disabled-visible mat-mdc-tab-group-header-pagination-hidden"
  [class.cdk-visually-hidden]="(showBatchTables$ | push: rxStrategy) !== true"
  [class.mat-mdc-tab-group-header-hidden]="!allowQvPmfmGroup || mobile"
  [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="onTabChange($event)"
  [animationDuration]="tabGroupAnimationDuration"
>
  <!-- TAB: species list -->
  <mat-tab [label]="'TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES' | translate">
    <ng-template mat-tab-label>
      <mat-icon><ion-icon name="file-tray"></ion-icon></mat-icon>
      <ion-label translate>TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES</ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && (batchGroupsTable?.invalid || false)"></ion-icon>
    </ng-template>

    <!-- Batches group -->
    <app-batch-groups-table
      #batchGroupsTable
      acquisitionLevel="SORTING_BATCH"
      [programLabel]="programLabel$ | async"
      [requiredStrategy]="requiredStrategy$ | async"
      [strategyId]="strategyId$ | async"
      [requiredGear]="requiredGear$ | async"
      [gearId]="gearId$ | async"
      [usageMode]="usageMode"
      [disabled]="disabled"
      [sticky]="useSticky"
      [mobile]="mobile"
      [showError]="mobile"
      [debug]="debug"
      [compactFields]="mobile"
      [i18nPmfmPrefix]="i18nPmfmPrefix"
      [showSamplingBatchColumns]="showSamplingBatchColumns$ | async"
      [showCommentsColumn]="!mobile"
      [showAutoFillButton]="showAutoFillButton"
      [allowQvPmfmGroup]="allowQvPmfmGroup"
      [allowSubBatches]="allowSubBatches"
      [allowIndividualCountOnly]="allowIndividualCountOnly"
      (onSubBatchesChanges)="onSubBatchesChanges($event)"
    ></app-batch-groups-table>
  </mat-tab>

  <!-- TAB: individual measure -->
  <mat-tab
    #measureTab
    *ngIf="allowQvPmfmGroup && !mobile"
    [label]="'TRIP.OPERATION.EDIT.TAB_BATCH_INDIVIDUAL' | translate"
    [disabled]="showSubBatchesTable !== true"
  >
    <ng-template mat-tab-label>
      <mat-icon>assessment</mat-icon>
      <ion-label
        [matBadge]="subBatchesTable.visibleRowCount | badgeNumber"
        [matBadgeHidden]="subBatchesTable.invalid || !subBatchesTable.visibleRowCount"
        matBadgeOverlap="false"
        matBadgeColor="primary"
        matBadgeSize="small"
        matBadgePosition="above after"
      >
        {{ measureTab.textLabel }}
      </ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && subBatchesTable.invalid"></ion-icon>
    </ng-template>

    <app-sub-batches-table
      #subBatchesTable
      acquisitionLevel="SORTING_BATCH_INDIVIDUAL"
      [programLabel]="programLabel$ | async"
      [requiredGear]="requiredGear$ | async"
      [gearId]="gearId$ | async"
      [usageMode]="usageMode"
      [sticky]="useSticky"
      [debug]="debug"
      [tabindex]="200"
    ></app-sub-batches-table>
  </mat-tab>

  <ng-content></ng-content>
</mat-tab-group>
