


<!-- main toolbar -->
<mat-toolbar [class.expanded]="filterExpansionPanel.expanded">
  <button mat-icon-button
          [class.selected]="filterExpansionPanel.expanded"
          (click)="filterExpansionPanel.toggle()">
    <mat-icon class="mat-icon-rtl-mirror"
              matBadge="!"
              [matBadgeHidden]="valid || !model?.hidden"
              matBadgeOverlap="false"
              matBadgeColor="accent"
              matBadgeSize="small"
              matBadgePosition="above after"
      >{{filterExpansionPanel.expanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
  </button>

  <div *rxIf="editingBatch$; let node"
       [class.cdk-visually-hidden]="filterExpansionPanel.expanded">

    <!-- Parent button -->
    <ng-container *ngIf="node.parent && !node.parent.hidden">
      <!-- Allow to select a parent's brother -->
      <button mat-button
              *ngIf="node.parent.parent?.children|isArrayLength:{greaterThan: 1}; else noParentBrother"
              class="breadcrumb"
              [matMenuTriggerFor]="childrenMenu"
              [matMenuTriggerData]="{node: node.parent.parent, selected: node.parent}">
        <span matBadge="!"
              [matBadgeHidden]="!node.parent.invalid"
              matBadgeOverlap="false"
              matBadgeColor="accent"
              matBadgeSize="small"
              matBadgePosition="above after">{{node.parent.name}}</span>

        <span class="breadcrumb-separator">/</span>
      </button>

      <!-- Parent has no brother  -->
      <ng-template #noParentBrother>
        <button mat-button
                class="breadcrumb"
                (click)="startEditBatch($event, node.parent)">
          <span matBadge="!"
                [matBadgeHidden]="!node.parent.invalid"
                matBadgeOverlap="false"
                matBadgeColor="accent"
                matBadgeSize="small"
                matBadgePosition="above after">{{node.parent.name}}</span>

          <span class="breadcrumb-separator">/</span>
        </button>
      </ng-template>
    </ng-container>

    <!-- current batch name -->
    <button mat-button
            class="breadcrumb selected"
            [disabled]="!node.parent"
            [matMenuTriggerFor]="childrenMenu"
            [matMenuTriggerData]="{node: node.parent}">
      <mat-label  [matBadge]="node.valid ? (visibleRowCount || '') : '!'"
                  [matBadgeHidden]="!node.isLeaf && node.valid"
                  [matBadgeColor]="node.valid ? 'primary' : 'accent'"
                  matBadgeOverlap="false"
                  matBadgeSize="small"
                  matBadgePosition="above after">{{node.name}}</mat-label>

      <span *ngIf="!node.isLeaf" class="breadcrumb-separator">/</span>
    </button>

    <ng-container *ngIf="!node.isLeaf">

      <!-- Children menu -->
      <button mat-button class="breadcrumb"
              [matMenuTriggerFor]="childrenMenu"
              [matMenuTriggerData]="{node: node}">
        <span>...</span>
      </button>
    </ng-container>

  </div>

  <!-- help message -->
  <ion-item color="transparent"
            class="help" lines="none" (click)="filterExpansionPanel.toggle()" tappable>
    <ion-icon *ngIf="filterExpansionPanel.expanded || !editingBatch" color="primary" name="help-circle-outline"></ion-icon>
    <ion-label *ngIf="filterExpansionPanel.expanded || !editingBatch" color="primary" class="text-italic" [innerHTML]="'TRIP.BATCH.TREE.SELECT_PARENT_HELP'|translate"></ion-label>
  </ion-item>

  <div class="toolbar-spacer"></div>

  <!-- navigation buttons -->
  <button mat-icon-button
          [class.cdk-visually-hidden]="!editingBatch"
          (click)="backward($event)"
          [title]="'COMMON.BTN_BACKWARD'|translate">
    <ion-icon slot="icon-only" name="chevron-back-circle-outline"></ion-icon>
  </button>
  <button mat-icon-button
          [class.cdk-visually-hidden]="!editingBatch"
          (click)="forward($event)"
          [title]="'COMMON.BTN_FORWARD'|translate">

    <ion-icon *ngIf="highlightForwardButton; else normalIcon" slot="icon-only" name="chevron-forward-circle" color="tertiary"></ion-icon>
    <ng-template #normalIcon>
      <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
    </ng-template>
  </button>

  <!-- Show filter (hide if mobile, to keep only navigation button accessible on the right) -->
  <button mat-icon-button *ngIf="!mobile" (click)="filterExpansionPanel.toggle()">
    <mat-icon [matBadge]="1"
              [matBadgeHidden]="!editingBatch"
              matBadgeColor="accent"
              matBadgeSize="small"
              matBadgePosition="above after">filter_list_alt</mat-icon>
  </button>
</mat-toolbar>



<app-debug *ngIf="debug" title="Batch tree container">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        loading: {{loading}}<br/>
        ready: {{readySubject|async}}<br/>
        dirty: {{dirty}}<br/>
        value: {{!!data}}<br/>
        valid: {{valid}}<br/>
        invalid: {{invalid}}<br/>
      </ion-col>
      <ion-col *ngIf="form">
        form.dirty: {{form.dirty}}<br/>
        form.valid: {{form.valid}}<br/>
        form.invalid: {{form.invalid}}<br/>
        form.value: <br/>
        <!--        <pre><p>{{form.getRawValue()|json}}</p></pre>-->
      </ion-col>
      <ion-col>
        batchTree.loading: {{batchTree.loading}}<br/>
        batchTree.ready: {{batchTree.readySubject|async}}<br/>
        batchTree.dirty: {{batchTree.dirty}}<br/>
        batchTree.value: {{!!batchTree.data}}<br/>
        batchTree.valid: {{batchTree.valid}}<br/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="danger" [innerHTML]="form$| push | translateFormError: errorTranslatorOptions"></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</app-debug>


<!-- Children batches menu -->
<mat-menu #childrenMenu="matMenu" xPosition="after">
  <ng-template matMenuContent let-node="node">
    <button *ngFor="let item of node?.children" mat-menu-item
            [class.activated]="item.editing"
            (click)="startEditBatch(null, item)">
      <app-icon *ngIf="item.icon" [ref]="item.icon"></app-icon>
      <span matBadge="!"
            [matBadgeHidden]="item.valid"
            matBadgeOverlap="false"
            matBadgeColor="accent"
            matBadgeSize="small"
            matBadgePosition="above after">{{item.name}}</span>
    </button>
  </ng-template>
</mat-menu>


<div class="form-container" [class.has-toolbar]="showToolbar">
  <!-- filter panel -->
  <mat-expansion-panel #filterExpansionPanel
                       class="filter-panel ion-no-padding"
                       [class.ion-no-padding]="mobile"
                       [class.filter-panel-floating]="filterPanelFloating">

    <!-- batch tree -->
    <ion-list class="ion-no-padding">
      <mat-tree [dataSource]="treeDataSource"
                [treeControl]="treeControl"
                class="batch-tree">
        <!-- Expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" >
          <li *ngVar="treeControl.isExpanded(node) as expanded">
            <ion-item  (click)="startEditBatch($event, node)"
                      [class.cdk-visually-hidden]="node.hidden"
                      [class.activated]="editingBatch === node"
                      [disabled]="node.disabled"
                      tappable>
              <button mat-icon-button slot="start" (click)="$event.stopImmediatePropagation() || treeControl.toggle(node)">
                <mat-icon class="mat-icon-rtl-mirror">{{expanded ? 'expand_more' : 'chevron_right'}}</mat-icon>
              </button>

              <!-- name -->
              <ion-label>
                <h2>
                  <span matBadge="!"
                        [matBadgeHidden]="node.valid"
                        matBadgeOverlap="false"
                        matBadgeColor="accent"
                        matBadgeSize="small"
                        matBadgePosition="above after">{{node.name}}</span>
                </h2>
                <p [class.cdk-visually-hidden]="!node.touched || node.valid">
                  <ion-text color="danger" [innerHTML]="node.validator | translateFormError: errorTranslatorOptions"></ion-text>
                </p>
              </ion-label>

              <!-- badges -->
              <ion-buttons slot="end">
                <ng-container *ngTemplateOutlet="batchBadges; context: {$implicit: node}"></ng-container>
              </ion-buttons>
  <!--            &lt;!&ndash; has weight pmfms &ndash;&gt;-->
  <!--            <mat-icon class="small-icon" slot="end" *ngIf="node.pmfms|arrayFilter:isWeightPmfm|isNotEmptyArray">scale</mat-icon>-->
  <!--            &lt;!&ndash; has error pmfms &ndash;&gt;-->
  <!--            <ion-icon *ngIf="node === editingBatch && (batchTree.errorSubject | async) || node.error || node.invalid; let error"-->
  <!--                      class="small-icon" slot="end" name="alert-circle" color="danger"-->
  <!--                      [title]="error||''"></ion-icon>-->
              <ion-icon name="chevron-forward-outline" slot="end" *ngIf="!node.disabled"></ion-icon>
            </ion-item>
            <ul [class.ion-no-padding]="node.hidden"
                [class.cdk-visually-hidden]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>

        <!-- Leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li>

            <ion-item (click)="startEditBatch($event, node)"
                      [class.activated]="node === editingBatch"
                      tappable>
              <!-- spacer for alignment -->
              <app-icon slot="start" [ref]="node.icon||{}"></app-icon>

              <!-- name + error -->
              <ion-label>
                <h2>
                  <span matBadge="!"
                        [matBadgeHidden]="node.valid"
                        matBadgeOverlap="false"
                        matBadgeColor="accent"
                        matBadgeSize="small"
                        matBadgePosition="above after">{{node.name}}</span>
                </h2>
                <p *ngVar="node.validator | translateFormError: errorTranslatorOptions; let error"
                  [class.cdk-visually-hidden]="!error">
                  <ion-icon class="small-icon" color="danger" name="alert-circle"></ion-icon>
                  <ion-text color="danger" [innerHTML]="error"></ion-text>
                </p>
              </ion-label>
              <ion-buttons slot="end">
                <ng-container *ngTemplateOutlet="batchBadges; context: {$implicit: node}"></ng-container>
              </ion-buttons>
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>
          </li>
        </mat-tree-node>
      </mat-tree>
    </ion-list>

    <!-- filter action bar -->
    <mat-action-row>
      <div class="toolbar-spacer"></div>

      <button mat-icon-button color="accent"
              *ngIf="filterPanelFloating"
              (click)="toggleFilterPanelFloating()"
              class="hidden-xs hidden-sm hidden-md"
              [title]="(filterPanelFloating ? 'COMMON.BTN_EXPAND' : 'COMMON.BTN_HIDE') |translate">
        <mat-icon><span style="transform: rotate(90deg);">{{filterPanelFloating ? '&#xbb;' : '&#xab;'}}</span></mat-icon>
      </button>

      <!-- Close panel -->
      <ion-button mat-button fill="clear" color="dark"
                  (click)="closeFilterPanel()"
                  [disabled]="loadingSubject|async">
        <ion-text translate>COMMON.BTN_CLOSE</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- batch item -->
  <ng-template #batchBadges let-node>

    <ng-container *ngIf="debug">
      <!-- editing (=enabled) -->
      <ion-badge *ngIf="node.editing"
                 color="success" class="visible-hover" slot="end">enabled</ion-badge>
      <ion-badge *ngIf="!node.editing"
                 color="light" class="visible-hover" slot="end">disabled</ion-badge>
      &nbsp;

      <!-- pmfm count  -->
      <ion-badge *ngIf="node.pmfms?.length; let count"
                 slot="end" class="visible-hover" color="secondary"
                 >{{count}} pmfms</ion-badge>
      &nbsp;
      <!-- table pmfm count  -->
      <ion-badge *ngIf="node.childrenPmfms?.length; let count;"
                 color="secondary" slot="end" class="visible-hover"
                 [title]="node.childrenPmfms|arrayPluck:'label'">{{count}} columns</ion-badge>
      &nbsp;&nbsp;
    </ng-container>

    <!-- expanded node -->
    <ng-container *ngIf="node.isExpanded; else leafBadges">
      <!-- weight pmfms count -->
      <ion-badge *ngIf="(node.pmfms|arrayFilter:isWeightPmfm)?.length; let count"
                 [color]="node.valid ? 'success' : 'accent'"
                 slot="end">{{(count === 1 ? 'TRIP.BATCH.TREE.WEIGHT_COUNT' : 'TRIP.BATCH.TREE.WEIGHTS_COUNT') | translate:{count: count} }}
      </ion-badge>
    </ng-container>

    <!-- for leaf node -->
    <ng-template #leafBadges>
      <!-- batches count -->
      <ion-badge *ngIf="node===editingBatch ? batchTree.batchGroupsTable?.totalRowCount : node.currentData.children?.length; let count; else emptyLeaf"
                 [color]="count ? 'tertiary' : 'warning'"
                 slot="end">{{(count === 1 ? 'TRIP.BATCH.TREE.BATCH_COUNT' : 'TRIP.BATCH.TREE.BATCHES_COUNT') | translate:{count: count} }}
      </ion-badge>
      <!-- empty -->
      <ng-template #emptyLeaf>
        <ion-badge color="accent" slot="end"
                   translate>TRIP.BATCH.TREE.EMPTY</ion-badge>
      </ng-template>

      &nbsp;

      <!-- TODO measure count - need a cached value in model
      <ion-badge *ngIf="node===editingBatch ? batchTree.subBatchesCount : 0; let count"
                 [color]="count ? 'tertiary' : 'warning'"
                 slot="end">{{(count === 1 ? 'TRIP.BATCH.TREE.MEASUREMENT_COUNT' : 'TRIP.BATCH.TREE.MEASUREMENTS_COUNT') | translate:{count: count} }}
      </ion-badge> -->
    </ng-template>

  </ng-template>


  <app-batch-tree #batchTree
                  (ngInit)="addChildForm(batchTree)"
                  [class.cdk-visually-hidden]="!(editingBatch$|push)"
                  [queryTabIndexParamName]="queryTabIndexParamName"
                  [allowSamplingBatches]="allowSamplingBatches$|push"
                  [allowSubBatches]="allowSubBatches$|push"
                  [defaultHasSubBatches]="defaultHasSubBatches"
                  [availableTaxonGroups]="availableTaxonGroups"
                  [usageMode]="usageMode"
                  [modalOptions]="modalOptions"
                  [useSticky]="useSticky"
                  [i18nPmfmPrefix]="i18nPmfmPrefix"
                  [mobile]="mobile"
                  [disabled]="disabled"
                  [filter]="filter"
                  [debug]="debug">
  </app-batch-tree>

  <!-- Forward button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"
           *ngIf="mobile && editingBatch?.isExpanded"
           visible-xs visible-sm visible-mobile>

    <ion-fab-button [color]="highlightForwardButton ? 'tertiary': 'light'" (click)="forward($event)">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>

  </ion-fab>
</div>
