
<!-- catch batch form -->
<div class="ion-padding" [class.cdk-visually-hidden]="!showCatchForm">
  <form-catch-batch #catchBatchForm
                    [programLabel]="$programLabel|async"
                    acquisitionLevel="CATCH_BATCH"
                    [physicalGearId]="physicalGearId"
                    (onSubmit)="save($event)"
                    [tabindex]="200"
                    [showError]="false"
                    [i18nPmfmPrefix]="i18nPmfmPrefix"
                    [i18nSuffix]="i18nContext.suffix"
                    [debug]="debug">
  </form-catch-batch>
</div>

<ion-grid *ngIf="debug" class="form-container">
  <ion-row>
    <ion-col size="0" size-md="3" size-lg="3">
      <ion-label class="ion-float-end">Debug :</ion-label>
    </ion-col>
    <ion-col>
      <ion-text color="primary" class="text-italic">
        <small>
          batchTree.loading: {{loading}}<br/>
          batchTree.ready: {{readySubject|async}}<br/>
          batchTree.valid: {{valid}}<br/>
          batchTree.dirty: {{dirty}}<br/>
          batchTree.dirty: {{dirty}}<br/>
          batchTree.program: {{($program|async)?.label}}<br/>
          batchTree.showCatchForm: {{showCatchForm}}<br/>
          batchTree.i18nContext.suffix: {{i18nContext.suffix}}<br/>
        </small>
      </ion-text>
    </ion-col>
    <ion-col *ngIf="showCatchForm">
      <ion-text color="primary" class="text-italic">
        <small>
          catchBatchForm.loading: {{catchBatchForm.loading}}<br/>
          catchBatchForm.ready: {{catchBatchForm.readySubject|async}}<br/>
          catchBatchForm.dirty: {{catchBatchForm.dirty}}<br/>
          catchBatchForm.valid: {{catchBatchForm.valid}}<br/>
          catchBatchForm.program: {{catchBatchForm.programLabel}}<br/>
          catchBatchForm.i18nPmfmPrefix: {{catchBatchForm.i18nPmfmPrefix}}<br/>
          catchBatchForm.i18nSuffix: {{catchBatchForm.i18nSuffix}}<br/>
        </small>
      </ion-text>
    </ion-col>
    <ion-col *ngIf="showBatchTables">
      <ion-text color="primary" class="text-italic">
        <small>
          batchGroupsTable.loading: {{batchGroupsTable.loading}}<br/>
          batchGroupsTable.ready: {{batchGroupsTable.readySubject|async}}<br/>
          batchGroupsTable.dirty: {{batchGroupsTable.dirty}}<br/>
          batchGroupsTable.valid: {{batchGroupsTable.valid}}<br/>
          batchGroupsTable.program: {{batchGroupsTable.programLabel}}<br/>
<!--          batchGroupsTable.i18nPmfmPrefix: {{batchGroupsTable.i18nPmfmPrefix}}<br/>-->
<!--          batchGroupsTable.i18nColumnPrefix: {{batchGroupsTable.i18nColumnPrefix}}<br/>-->
<!--          batchGroupsTable.i18nColumnSuffix: {{batchGroupsTable.i18nColumnSuffix}}<br/>-->
          batchGroupsTable.showSamplingBatchColumns: {{batchGroupsTable.showSamplingBatchColumns}}<br/>
          batchGroupsTable.defaultHasSubBatches: {{batchGroupsTable.defaultHasSubBatches}}<br/>
          batchGroupsTable.availableTaxonGroups: {{batchGroupsTable.availableTaxonGroups?.length||0}}<br/>

        </small>
      </ion-text>
    </ion-col>
  </ion-row>

</ion-grid>

<mat-tab-group #tabGroup
               class="mat-tab-disabled-hidden mat-tab-group-header-pagination-hidden"
               [class.cdk-visually-hidden]="!showBatchTables"
               [class.mat-tab-group-header-hidden]="mobile"
               [(selectedIndex)]="selectedTabIndex"
               (selectedTabChange)="onTabChange($event)"
               [animationDuration]="tabGroupAnimationDuration">

  <!-- TAB: species list -->
  <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES'|translate}}">
    <ng-template mat-tab-label>
      <mat-icon><ion-icon name="file-tray"></ion-icon></mat-icon>
      <ion-label translate>TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES</ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger"
                *ngIf="submitted && (batchGroupsTable?.invalid || false)"></ion-icon>
    </ng-template>

    <!-- Batches group -->
    <app-batch-groups-table #batchGroupsTable
                            acquisitionLevel="SORTING_BATCH"
                            [programLabel]="$programLabel|async"
                            [usageMode]="usageMode"
                            [disabled]="disabled"
                            [useSticky]="useSticky"
                            [debug]="debug"
                            [mobile]="mobile"
                            [allowSubBatches]="allowSubBatches"
                            [showTaxonGroupColumn]="true"
                            [showTaxonNameColumn]="true"
                            [showCommentsColumn]="false"
                            (onSubBatchesChanges)="onSubBatchesChanges($event)">
    </app-batch-groups-table>
  </mat-tab>


  <!-- TAB: individual measure -->
  <mat-tab #measureTab label="{{'TRIP.OPERATION.EDIT.TAB_BATCH_INDIVIDUAL'|translate}}"
           [disabled]="!allowSubBatches || !showSubBatchesTable"
           *ngIf="!mobile">
    <ng-template mat-tab-label>
      <mat-icon>assessment</mat-icon>
      <ion-label [matBadge]="subBatchesTable.visibleRowCount"
                 [matBadgeHidden]="subBatchesTable.invalid || !subBatchesTable.visibleRowCount"
                 matBadgeOverlap="false"
                 matBadgeColor="primary"
                 matBadgeSize="small"
                 matBadgePosition="above after">{{measureTab.textLabel}}</ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger"
                *ngIf="submitted && subBatchesTable.invalid"></ion-icon>
    </ng-template>

    <app-sub-batches-table #subBatchesTable
                           acquisitionLevel="SORTING_BATCH_INDIVIDUAL"
                           [programLabel]="$programLabel | async"
                           [usageMode]="usageMode"
                           [useSticky]="useSticky"
                           [debug]="debug"
                           [tabindex]="200">
    </app-sub-batches-table>
  </mat-tab>

  <ng-content></ng-content>
</mat-tab-group>
