
.batch-tree {
  --app-tree-indent: 16px;
  --padding-start: 0;

  ul {
    padding-inline-start: var(--app-tree-indent);
    &.ion-no-padding {
      padding-inline-start: 0 !important;
    }
  }

  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;

    ion-item {
      .visible-hover {
        display: none;
        visibility: hidden;
      }

      &:hover {
        .visible-hover {
          display: unset;
          visibility: unset;
        }
      }
    }
  }

  .mat-tree-node {
    display: block;
  }


}

mat-tree, ion-list {
  background: transparent !important;
}

ion-item {
  --icon-size: 24px;
  --padding-start: 0 !important;
  --ion-item-background: var(--ion-color-transparent);

  &:hover {
    --ion-item-background: rgba(var(--ion-color-light-rgb), 0.6);
  }
  ion-button {
    mat-badge-small.mat-badge-after .mat-badge-content {
      right: -9px !important;
    }
    .mat-badge-small.mat-badge-above .mat-badge-content {
      top: -3px !important;
    }
  }
  &.activated {
    --ion-item-background: var(--ion-color-secondary100);
    &:hover {
      --ion-item-background: rgba(var(--ion-color-secondary-rgb), 0.8);
    }
  }

  app-icon {
    margin-inline-end: var(--app-tree-indent);
  }
  .mat-icon {
    height: var(--icon-size);
    width: var(--icon-size);
  }
  .material-icons {
    font-size: var(--icon-size);
  }
  .small-icon {
    --icon-size: 18px !important;
  }

  ion-label {
    word-wrap: break-word;
    white-space: normal;

    // Show matBadge in h2
    overflow: visible;

    .text-bold {
      font-weight: bold;
    }
  }
}


.cdk-visually-hidden{
  visibility: hidden !important;
  display: none !important;
}


