

<ng-container *ngIf="debug && false">
  <ng-container *ngTemplateOutlet="debugPanel"></ng-container>
</ng-container>

<ng-container *ngIf="!useModal; else withModal">
  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="editingBatch ? 'push' : 'side'">
      <!--<ion-item color="transparent"
                class="help" lines="none"
                (click)="toggleFilterPanel()"
                tappable>
        <ion-icon color="primary" name="help-circle-outline"></ion-icon>
        <ion-label color="primary" class="text-italic" [innerHTML]="'TRIP.BATCH.TREE.SELECT_PARENT_HELP'|translate"></ion-label>
      </ion-item>-->

      <!-- model tree -->
      <app-batch-model-tree #batchModelTree
                            [currentRowCount]="batchTree?.batchGroupsTable?.totalRowCount"
                            [selected]="editingBatch$|push"
                            (click)="startEditBatch(null, $event)"
                            [mobile]="mobile"
                            [debug]="debug && false">
      </app-batch-model-tree>
    </mat-sidenav>

    <mat-sidenav-content >

      <!-- toolbar -->
      <mat-toolbar>
        <button mat-icon-button
                (click)="toggleFilterPanel()"
                [title]="(sidenav.opened ? 'COMMON.BTN_HIDE_MENU' : 'COMMON.BTN_SHOW_MENU') |translate">
          <mat-icon class="mat-icon-rtl-mirror"
                    matBadge="!"
                    *ngIf="model; let model"
                    [matBadgeHidden]="model.valid && model.childrenValid"
                    matBadgeOverlap="false"
                    matBadgeColor="accent"
                    matBadgeSize="small"
                    matBadgePosition="above after"
          >{{sidenav.opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
          &nbsp;
        </button>

        <div *ngIf="editingBatch$|async; let node; else helpMessage">
          <ng-container *ngTemplateOutlet="breadcrumbButtons; context: {$implicit: node}"></ng-container>
        </div>

        <!-- help message -->
        <ng-template #helpMessage>
          <ion-item color="transparent"
                    class="help" lines="none"
                    (click)="toggleFilterPanel()"
                    tappable>
            <ion-icon color="primary" name="help-circle-outline"></ion-icon>
            <ion-label color="primary" class="text-italic" [innerHTML]="'TRIP.BATCH.TREE.SELECT_PARENT_HELP'|translate"></ion-label>
          </ion-item>
        </ng-template>

        <div class="toolbar-spacer"></div>

        <!-- navigation buttons -->
        <ng-container *rxIf="editingBatch$; let node">
          <ng-container *ngTemplateOutlet="navigationButtons"></ng-container>
        </ng-container>

      </mat-toolbar>

      <ng-container *ngTemplateOutlet="batchTreePanel"></ng-container>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <ng-container *ngTemplateOutlet="fabButtons"></ng-container>
</ng-container>

<ng-template #withModal>
    <!-- model tree -->
    <app-batch-model-tree #batchModelTree
                          [currentRowCount]="batchTree?.batchGroupsTable?.totalRowCount"
                          [selected]="editingBatch$|push"
                          (click)="startEditBatch(null, $event)"
                          [mobile]="mobile"
                          [debug]="debug && false">
    </app-batch-model-tree>
</ng-template>

<ion-modal #modal *ngIf="useModal"
           [keepContentsMounted]="true"
           class="modal-large"
           enter-animation="modal-slide-in" leave-animation="modal-slide-out">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary">

        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>

          <ng-container *rxIf="editingBatch$; let node">
            <ng-container *ngTemplateOutlet="breadcrumbButtons; context: {$implicit: node}"></ng-container>
          </ng-container>
        </ion-buttons>

        <ion-buttons slot="end">
          <ng-container *ngTemplateOutlet="navigationButtons"></ng-container>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ng-container *ngTemplateOutlet="batchTreePanel"></ng-container>
    </ion-content>

    <!-- Fab buttons -->
    <ng-container *ngTemplateOutlet="fabButtons"></ng-container>
  </ng-template>
</ion-modal>

<!-- Children batches menu -->
<mat-menu #childrenMenu="matMenu" xPosition="after">
  <ng-template matMenuContent let-node="node" let-selected="selected">
    <!-- if hidden, show parent children -->
    <ng-container *ngIf="node.hidden && node?.parent; let parent">
      <ng-container *ngFor="let item of parent.children">
        <ng-container *ngTemplateOutlet="menuItemButton; context: {$implicit: item, selected: selected}"></ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let item of node?.children">
      <ng-container *ngIf="item.hidden">
        <ng-container *ngFor="let subitem of item.children">
          <ng-container *ngTemplateOutlet="menuItemButton; context: {$implicit: subitem, selected: selected}"></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngTemplateOutlet="menuItemButton; context: {$implicit: item, selected: selected}"></ng-container>
    </ng-container>

    <!-- display one menu item -->
    <ng-template #menuItemButton let-item let-selected="selected">
      <button  mat-menu-item
               *ngIf="!item.hidden"
               [class.activated]="item===selected"
               (click)="startEditBatch(null, item)">
        <app-icon *ngIf="item.icon" [ref]="item.icon"></app-icon>
        <span matBadge="!"
              [matBadgeHidden]="item.valid"
              matBadgeOverlap="false"
              matBadgeColor="accent"
              matBadgeSize="small"
              matBadgePosition="above after">{{item.name}}</span>
      </button>
    </ng-template>
  </ng-template>
</mat-menu>

<ng-template #parentButton let-parent>
  <!-- Recursive call -->
  <ng-container *ngIf="parent?.parent">
    <ng-container *ngTemplateOutlet="parentButton; context: {$implicit: parent.parent}">
    </ng-container>
  </ng-container>

  <ng-container *ngIf="parent && !parent.hidden">
    <!-- Allow to select a parent's brother -->
    <button mat-button class="breadcrumb"
            *ngIf="parent.parent?.children|isArrayLength:{greaterThan: 1}; else noParentBrother"
            [matMenuTriggerFor]="childrenMenu"
            [matMenuTriggerData]="{node: parent.parent, selected: parent}">
            <span matBadge="!"
                  [matBadgeHidden]="!parent.invalid"
                  matBadgeOverlap="false"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">{{parent.name}}</span>

      <span class="breadcrumb-separator">/</span>
    </button>

    <!-- Parent has no brother  -->
    <ng-template #noParentBrother>
      <button mat-button class="breadcrumb"
              (click)="startEditBatch($event, parent)">
              <span matBadge="!"
                    [matBadgeHidden]="!parent.invalid"
                    matBadgeOverlap="false"
                    matBadgeColor="accent"
                    matBadgeSize="small"
                    matBadgePosition="above after">{{parent.name}}</span>

        <span class="breadcrumb-separator">/</span>
      </button>
    </ng-template>
  </ng-container>
</ng-template>

<ng-template #breadcrumbButtons let-node>
  <!-- Parent button -->
  <ng-container *ngTemplateOutlet="parentButton; context: {$implicit: node.parent}">
  </ng-container>

  <!-- current batch name -->
  <button mat-button
          class="breadcrumb selected"
          [disabled]="!node.parent"
          [matMenuTriggerFor]="childrenMenu"
          [matMenuTriggerData]="{node: node.parent, selected: node}">
    <mat-label  [matBadge]="node.valid ? (visibleRowCount || '') : '!'"
                [matBadgeHidden]="!node.isLeaf && node.valid"
                [matBadgeColor]="node.valid ? 'primary' : 'accent'"
                matBadgeOverlap="false"
                matBadgeSize="small"
                matBadgePosition="above after">{{node.name}}</mat-label>

    <span *ngIf="!node.isLeaf" class="breadcrumb-separator">/</span>
  </button>

  <ng-container *ngIf="!node.isLeaf">

    <!-- Children menu -->
    <button mat-button class="breadcrumb"
            [matMenuTriggerFor]="childrenMenu"
            [matMenuTriggerData]="{node: node}">
      <span>...</span>
    </button>
  </ng-container>

</ng-template>

<ng-template #navigationButtons>
  <!-- navigation buttons -->
  <button mat-icon-button
          (click)="backward($event)"
          [title]="'COMMON.BTN_BACKWARD'|translate">
    <ion-icon slot="icon-only" name="chevron-back-circle-outline"></ion-icon>
  </button>
  <button mat-icon-button
          (click)="forward($event)"
          [title]="'COMMON.BTN_FORWARD'|translate">

    <ion-icon *ngIf="highlightForwardButton; else normalIcon" slot="icon-only" name="chevron-forward-circle" color="tertiary"></ion-icon>
    <ng-template #normalIcon>
      <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
    </ng-template>
  </button>
</ng-template>
<ng-template #batchTreePanel>
  <app-batch-tree #batchTree
                  (ngInit)="addChildForm(batchTree)"
                  [class.cdk-visually-hidden]="!(editingBatch$|push:'userBlocking')"
                  [queryTabIndexParamName]="queryTabIndexParamName"
                  [allowSpeciesSampling]="allowSamplingBatches$|push:'userBlocking'"
                  [allowSubBatches]="allowSubBatches$|push:'userBlocking'"
                  [defaultHasSubBatches]="defaultHasSubBatches"
                  [availableTaxonGroups]="availableTaxonGroups"
                  [usageMode]="usageMode"
                  [modalOptions]="modalOptions"
                  [useSticky]="useSticky"
                  [i18nPmfmPrefix]="i18nPmfmPrefix"
                  [mobile]="mobile"
                  [disabled]="disabled"
                  [filter]="filter"
                  [debug]="debug">

  </app-batch-tree>
</ng-template>

<!-- Fab buttons -->
<ng-template #fabButtons>
  <!-- Fab button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!-- Add button -->
    <ion-fab-button color="tertiary"
                    *ngIf="enabled && editingBatch?.isLeaf"
                    (click)="addRow($event)"
                    @fadeInOutAnimation>

      <ion-icon name="fish"></ion-icon>
      <ion-icon name="add" class="icon-secondary" style="left: 29px;top: 4px;font-size: 23px;"></ion-icon>
    </ion-fab-button>

    <!-- Forward button -->
    <ion-fab-button [color]="highlightForwardButton ? 'tertiary': 'light'"
                    (click)="forward($event)" @fadeInOutAnimation>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ng-template>

<!-- debug-->
<ng-template #debugPanel>
  <app-debug title="Batch tree container">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          loading: {{loading}}<br/>
          ready: {{readySubject|async}}<br/>
          dirty: {{dirty}}<br/>
          value: {{!!data}}<br/>
          valid: {{valid}}<br/>
          invalid: {{invalid}}<br/>
          disabled: {{disabled}}<br/>
        </ion-col>
        <ion-col *ngIf="form">
          form.dirty: {{form.dirty}}<br/>
          form.valid: {{form.valid}}<br/>
          form.invalid: {{form.invalid}}<br/>
          form.value: <br/>
          <!--        <pre><p>{{form.getRawValue()|json}}</p></pre>-->
        </ion-col>
        <ion-col>
          batchTree.loading: {{batchTree?.loading}}<br/>
          batchTree.ready: {{batchTree?.readySubject|async}}<br/>
          batchTree.dirty: {{batchTree?.dirty}}<br/>
          batchTree.value: {{!!batchTree?.data}}<br/>
          batchTree.valid: {{batchTree?.valid}}<br/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-text color="danger" [innerHTML]="form$| push: 'userBlocking' | translateFormError: errorTranslatorOptions"></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-debug>
</ng-template>
