<app-debug *ngIf="debug" [title]="'Batch tree'">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        loading: {{loading}} (subject: {{loadingSubject|async}})<br/>
        ready: {{readySubject|async}}<br/>
        dirty: {{dirty}}<br/>
        valid: {{valid}}<br/>
        disabled: {{disabled}}<br/>
        program: {{(programLabel$|async)}}<br/>
        i18nContext.suffix: {{i18nContext.suffix}}<br/>
        <br/>
        showCatchForm: {{showCatchForm}}<br/>
        showBatchTables: {{showBatchTables}}<br/>
        programAllowMeasure: {{programAllowMeasure}}<br/>
        allowSpeciesSampling: {{allowSpeciesSampling}}<br/>
        allowSubBatches: {{allowSubBatches}}<br/>
      </ion-col>
      <ion-col>
        catchBatchForm.loading: {{catchBatchForm.loading}}<br/>
        catchBatchForm.ready: {{catchBatchForm.readySubject|async}}<br/>
        catchBatchForm.dirty: {{catchBatchForm.dirty}}<br/>
        catchBatchForm.valid: {{catchBatchForm.valid}}<br/>
        catchBatchForm.disabled: {{catchBatchForm.disabled}}<br/>
        catchBatchForm.program: {{catchBatchForm.programLabel}}<br/>
        catchBatchForm.i18nPmfmPrefix: {{catchBatchForm.i18nPmfmPrefix}}<br/>
        catchBatchForm.i18nSuffix: {{catchBatchForm.i18nSuffix}}<br/>
        catchBatchForm.pmfms: {{catchBatchForm.pmfms?.length}}<br/>
        catchBatchForm.defaultWeightPmfm: {{catchBatchForm.defaultWeightPmfm?.label}}<br/>
        catchBatchForm.samplingRatioFormat: {{catchBatchForm.samplingRatioFormat}}<br/>
        <br/>
        catchBatchForm.hasContent: {{catchBatchForm.hasContent$|push}}<br/>
        catchBatchForm.showWeight: {{catchBatchForm.showWeight}}<br/>
        catchBatchForm.requiredWeight: {{catchBatchForm.requiredWeight}}<br/>
        catchBatchForm.showSamplingBatch: {{catchBatchForm.showSamplingBatch}}<br/>
        catchBatchForm.samplingBatchEnabled: {{catchBatchForm.samplingBatchEnabled}}<br/>
        catchBatchForm.showSampleWeight: {{catchBatchForm.showSampleWeight}}<br/>
        catchBatchForm.requiredSampleWeight: {{catchBatchForm.requiredSampleWeight}}<br/>
      </ion-col>
      <ion-col *ngIf="showBatchTables">
        batchGroupsTable.loading: {{batchGroupsTable.loading}}<br/>
        batchGroupsTable.ready: {{batchGroupsTable.readySubject|async}}<br/>
        batchGroupsTable.dirty: {{batchGroupsTable.dirtySubject|async}}<br/>
        batchGroupsTable.valid: {{batchGroupsTable.valid}}<br/>
        batchGroupsTable.program: {{batchGroupsTable.programLabel}}<br/>
        <!--          batchGroupsTable.i18nPmfmPrefix: {{batchGroupsTable.i18nPmfmPrefix}}<br/>-->
        <!--          batchGroupsTable.i18nColumnPrefix: {{batchGroupsTable.i18nColumnPrefix}}<br/>-->
        <!--          batchGroupsTable.i18nColumnSuffix: {{batchGroupsTable.i18nColumnSuffix}}<br/>-->
        batchGroupsTable.showSamplingBatchColumns: {{batchGroupsTable.showSamplingBatchColumns}}<br/>
        batchGroupsTable.defaultHasSubBatches: {{batchGroupsTable.defaultHasSubBatches}}<br/>
        batchGroupsTable.availableTaxonGroups: {{batchGroupsTable.availableTaxonGroups?.length||0}}<br/>
      </ion-col>
      <ion-col *ngIf="showSubBatchesTable && subBatchesTable">
        subBatchesTable.loading: {{subBatchesTable.loading}}<br/>
        subBatchesTable.ready: {{subBatchesTable.readySubject|async}}<br/>
        subBatchesTable.dirty: {{subBatchesTable.dirtySubject|async}}<br/>
        subBatchesTable.valid: {{subBatchesTable.valid}}<br/>
        subBatchesTable.program: {{subBatchesTable.programLabel}}<br/>
        batchGroupsTable.showTaxonNameColumn: {{subBatchesTable.showTaxonNameColumn}}<br/>
        batchGroupsTable.showIndividualCount: {{subBatchesTable.showIndividualCount}}<br/>
<!--        batchGroupsTable.availableParents: {{subBatchesTable.availableParents?.length||0}}<br/>-->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="dumpDebugData('catchForm')">Dump catch form</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="dumpDebugData('rowValidator')">Dump table row</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="_debugData">
      <ion-col size="12">
        <pre>{{_debugData|json}}</pre>
      </ion-col>
    </ion-row>
  </ion-grid>
</app-debug>

<!-- error -->
<ion-item *rxIf="errorSubject; let errorMsg" lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" [innerHTML]="errorMsg|translate"></ion-label>
</ion-item>

<!-- catch batch form -->
<div class="ion-padding"
     [class.cdk-visually-hidden]="!showCatchForm">
  <form-catch-batch #catchBatchForm
                    [programLabel]="programLabel$|async"
                    [acquisitionLevel]="rootAcquisitionLevel"
                    (onSubmit)="save($event)"
                    [tabindex]="200"
                    [showError]="false"
                    [i18nPmfmPrefix]="i18nPmfmPrefix"
                    [i18nSuffix]="i18nContext.suffix"
                    [debug]="debug">
  </form-catch-batch>
</div>

<mat-tab-group #tabGroup
               class="mat-tab-disabled-visible mat-tab-group-header-pagination-hidden"
               [class.cdk-visually-hidden]="!showBatchTables"
               [class.mat-tab-group-header-hidden]="mobile"
               [(selectedIndex)]="selectedTabIndex"
               (selectedTabChange)="onTabChange($event)"
               [animationDuration]="tabGroupAnimationDuration">

  <!-- TAB: species list -->
  <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES'|translate}}">
    <ng-template mat-tab-label>
      <mat-icon><ion-icon name="file-tray"></ion-icon></mat-icon>
      <ion-label translate>TRIP.OPERATION.EDIT.TAB_BATCH_SPECIES</ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger"
                *ngIf="submitted && (batchGroupsTable?.invalid || false)"></ion-icon>
    </ng-template>

    <!-- Batches group -->
    <app-batch-groups-table #batchGroupsTable
                            acquisitionLevel="SORTING_BATCH"
                            [programLabel]="programLabel$|async"
                            [usageMode]="usageMode"
                            [disabled]="disabled"
                            [useSticky]="useSticky"
                            [debug]="debug"
                            [mobile]="mobile"
                            [allowSubBatches]="allowSubBatches"
                            [showSamplingBatchColumns]="showSamplingBatchColumns$|async"
                            [showCommentsColumn]="false"
                            (onSubBatchesChanges)="onSubBatchesChanges($event)">
    </app-batch-groups-table>
  </mat-tab>


  <!-- TAB: individual measure -->
  <mat-tab #measureTab label="{{'TRIP.OPERATION.EDIT.TAB_BATCH_INDIVIDUAL'|translate}}"
           [disabled]="!showSubBatchesTable"
           *ngIf="!mobile">
    <ng-template mat-tab-label>
      <mat-icon>assessment</mat-icon>
      <ion-label [matBadge]="subBatchesTable.visibleRowCount"
                 [matBadgeHidden]="subBatchesTable.invalid || !subBatchesTable.visibleRowCount"
                 matBadgeOverlap="false"
                 matBadgeColor="primary"
                 matBadgeSize="small"
                 matBadgePosition="above after">{{measureTab.textLabel}}</ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger"
                *ngIf="submitted && subBatchesTable.invalid"></ion-icon>
    </ng-template>

    <app-sub-batches-table #subBatchesTable
                           acquisitionLevel="SORTING_BATCH_INDIVIDUAL"
                           [programLabel]="programLabel$|async"
                           [usageMode]="usageMode"
                           [useSticky]="useSticky"
                           [debug]="debug"
                           [tabindex]="200">
    </app-sub-batches-table>
  </mat-tab>

  <ng-content></ng-content>
</mat-tab-group>
