.filter-panel {
  margin-bottom: 5px;
  --expansion-panel-padding: 0!important;

  &.filter-panel-floating {
    z-index: 10000
  }

  .form-container {
    mat-form-field {
      width: 100%;
      .datetime-md {
        padding: 0 !important;
      }
    }
  }

  mat-action-row {
    height: 46px;
    ion-label {
      line-height: 36px;
    }
  }
}

.map-container {
  height: 100%;
  width: 100%;

  div[leaflet] {
    height: 100%;
    width: 100%;
    padding: 0;
  }

}
