ion-content.embedded.has-paginator {
  --table-paginator-height: 0px;
  height: calc(100% - var(--table-paginator-height));

  &.has-paginator {
    --table-paginator-height: var(--app-paginator-height);
  }
}

.mat-toolbar {
  form {
    .mat-form-field {
      min-width: 50px;
      width: 300px;
    }
  }
}

.mat-expansion-panel {
  --expansion-panel-padding: 0!important;
  margin-bottom: 0;
  &.filter-panel-floating {
    z-index: 999;
    position: absolute;
    top: calc(var(--table-toolbar-height) + var(--mat-tab-link-height));
    left: 0;
    right: 0;
    margin-bottom: 0;
  }
  &.expanded {
    margin-bottom: 4px;
  }

  mat-action-row {
    height: 46px;

    ion-label {
      line-height: 36px;
    }
  }


}

.table-container {
  --table-toolbar-height: 0px;

  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height, 0px) - var(--mat-tab-link-height, 0px) - 1px);

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
}

.mat-table  {
  min-width: 100%;
  --mat-cell-vertical-padding: 4px;

  .mat-header-cell {
    background-color: whitesmoke;
  }
  .mat-header-cell,
  .mat-cell {
    padding-inline-start: var(--mat-cell-vertical-padding);
    //border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  .mat-cell {
    padding-inline-end: var(--mat-cell-vertical-padding);

    &.mat-cell-numeric {
      text-align: end;
    }

    a {
      color: var(--ion-color-dark) !important;
    }
    a:hover {
      text-decoration: underline;
      text-decoration-color: var(--ion-color-primary) !important;
      color: var(--ion-color-primary) !important;
      cursor: pointer !important;
    }
  }

  /* -- Manage some well known PMFM column -- */
  .mat-column-sea_state,
  .mat-column-substrate_type,
  .mat-column-survival_sampling_type {
    min-width: 180px;
  }

  /* -- Manage some well known dates columns -- */
  .mat-column-departure_date_time,
  .mat-column-return_date_time {
    min-width: 180px;
  }

  /* -- Manage some well known large columns -- */
  .mat-column-trip_comments,
  .mat-column-gear_label,
  .mat-column-gear_comments,
  .mat-column-station_comments {
    min-width: 180px;
    max-width: 250px;
  }
}
