<app-toolbar color="primary" *ngIf="!embedded">

  <ion-title>
    <span class="hidden-xs hidden-sm hidden-mobile"
          [innerHTML]="$title | async | translate"></span>
  </ion-title>

  <ion-buttons slot="end" *ngIf="type; let type">

    <!-- report -->
    <button mat-icon-button *rxIf="($enableReport|push) && !(loadingSubject|push)"
            [title]="'EXTRACTION.TABLE.BTN_REPORT'|translate"
            (click)="openReport()">
      <mat-icon><ion-icon slot="icon-only" name="bar-chart"></ion-icon></mat-icon>&nbsp;
    </button>

    <!-- edit product -->
    <button mat-icon-button
            *ngIf="!mobile && canEdit && type?.category === 'PRODUCT'"
            [title]="'COMMON.BTN_EDIT'|translate"
            (click)="openProduct(type)">
      <mat-icon>edit</mat-icon>
    </button>

    <!-- Help button -->
    <button mat-icon-button
            *ngIf="type.description || type.category === 'PRODUCT'"
            class="hidden-xs hidden-sm hidden-mobile"
            [title]="'COMMON.BTN_SHOW_HELP'|translate"
            (click)="openHelpModal($event)">
      <mat-icon>help_outline</mat-icon>
    </button>

    <!-- open map -->
    <button mat-icon-button
            *ngIf="type.isSpatial"
            class="hidden-xs hidden-sm hidden-mobile"
            [title]="'EXTRACTION.BTN_OPEN_MAP'|translate"
            (click)="openMap($event)">
      <mat-icon>
        <ion-icon name="earth"></ion-icon>
      </mat-icon>
    </button>

    <ng-container *ngIf="showFilter">
      <!-- reset filter -->
      <button mat-icon-button (click)="resetFilter()"
              *ngIf="filterCriteriaCount$|async">
        <mat-icon color="accent">filter_list_alt</mat-icon>
        <mat-icon  class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
      </button>

      <!-- show filter -->
      <button mat-icon-button (click)="filterExpansionPanel.toggle()">
        <mat-icon *ngIf="filterCriteriaCount$|async; let criteriaCount; else noCriteriaIcon"
                  [matBadge]="criteriaCount"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">filter_list_alt</mat-icon>
        <ng-template #noCriteriaIcon>
          <mat-icon>filter_list_alt</mat-icon>
        </ng-template>
      </button>
    </ng-container>

    &nbsp;

    <ion-button *ngIf="types$ | push |isArrayLength: {greaterThan: 1}"
                [matMenuTriggerFor]="selectTypeMenu"
                [matMenuTriggerData]="{$implicit: ($categories|async)}"
                color="accent" fill="solid">
      <ion-icon slot="start" name="server"></ion-icon>
      <ion-label [innerHTML]="'EXTRACTION.TABLE.BTN_SELECT_TYPE'|translate"></ion-label>
      <mat-icon slot="end">arrow_drop_down</mat-icon>
    </ion-button>
    &nbsp;
    <!-- options menu -->
    <ion-button *ngIf="mobile || canEdit || canCreateProduct"
                [matMenuTriggerFor]="optionsMenu"
                [matMenuTriggerData]="{$implicit: type}">
      <mat-icon slot="icon-only">more_vert</mat-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<!-- Types menu -->
<mat-menu #selectTypeMenu="matMenu" xPosition="after">
  <ng-template matMenuContent let-categories>
    <!-- only one category -->
    <ng-container *ngIf="categories | isArrayLength: {equals: 1}; else manyCategories">
      <ng-container *ngFor="let type of categories[0].types">
        <button mat-menu-item
                *ngIf="type.category === 'PRODUCT'; else typeWithProgram"
                (click)="setType(type)">
          <ion-label class="ion-text-wrap">
            <ion-icon name="eye-off" *ngIf="type.statusId===2"></ion-icon>&nbsp;
            <span>{{type.name}}</span>
          </ion-label>
        </button>
        <ng-template #typeWithProgram>
          <button mat-menu-item
                  [matMenuTriggerFor]="programMenu"
                  [matMenuTriggerData]="{type: type}">
            <ion-label class="ion-text-wrap">
              <ion-icon name="eye-off" *ngIf="type.statusId===2"></ion-icon>&nbsp;
              <span>{{type.name}} ...</span>
            </ion-label>
          </button>
        </ng-template>
      </ng-container>
    </ng-container>

    <!-- More than 1 categories -->
    <ng-template #manyCategories>
      <ng-container *ngFor="let item of categories">
        <button mat-menu-item
                *ngIf="item.label === 'LIVE'; else typesMenuButton"
                [matMenuTriggerFor]="programsMenu"
        >{{ ('EXTRACTION.CATEGORY.' + item.label) | uppercase | translate }}</button>
        <ng-template #typesMenuButton>
          <button mat-menu-item
                  *ngIf="item.label === 'PRODUCT'"
                  [matMenuTriggerFor]="typesMenu"
                  [matMenuTriggerData]="{types: item.types, title: 'EXTRACTION.TYPES_MENU.' + item.label + '_DIVIDER'}"
          >{{ ('EXTRACTION.CATEGORY.' + item.label) | uppercase | translate }}</button>
        </ng-template>
      </ng-container>
    </ng-template>
  </ng-template>
</mat-menu>

<mat-menu #typesMenu="matMenu" xPosition="after" class="mat-menu-size-400 ion-no-padding">
  <ng-template matMenuContent let-program="program" let-types="types" let-title="title">
    <!-- header-->
    <ion-row class="mat-menu-header ion-no-padding column" *ngIf="title">
      <ion-col>
        <ion-label>{{ title | uppercase | translate }}</ion-label>
      </ion-col>
    </ion-row>

    <ng-container *ngFor="let type of types">
      <button mat-menu-item (click)="setType(type)">
        <ion-label class="ion-text-wrap">
          <ion-icon name="eye-off" *ngIf="type.statusId===2"></ion-icon>&nbsp;
          <span>{{type.name}}</span>
        </ion-label>
      </button>
    </ng-container>
  </ng-template>
</mat-menu>

<!-- Programs menu -->
<mat-menu #programsMenu="matMenu" xPosition="after" class="mat-menu-size-400 ion-no-padding">
  <ng-template matMenuContent>
    <!-- header-->
    <ion-row class="mat-menu-header ion-no-padding column">
      <ion-col>
        <ion-label translate>EXTRACTION.TYPES_MENU.PROGRAM_DIVIDER</ion-label>
      </ion-col>
    </ion-row>

    <!-- programs -->
    <button mat-menu-item
            *rxFor="let program of $programs"
            [matMenuTriggerFor]="programTypesMenu"
            [matMenuTriggerData]="{programLabel: program.label, title: 'EXTRACTION.TYPES_MENU.LIVE_DIVIDER'}">
      <ion-label class="ion-text-wrap">
        <span>{{program|referentialToString}}</span>
      </ion-label>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #programTypesMenu="matMenu" xPosition="after" class="mat-menu-size-400 ion-no-padding">
  <ng-template matMenuContent let-programLabel="programLabel" let-title="title">
    <!-- header-->
    <ion-row class="mat-menu-header ion-no-padding column" *ngIf="title">
      <ion-col>
        <ion-label>{{ title | uppercase | translate }}</ion-label>
      </ion-col>
    </ion-row>

    <button mat-menu-item
            *rxFor="let type of watchExtractionTypesByProgram(programLabel); "
            (click)="setTypeAndProgram(type, programLabel)">
      <ion-label class="ion-text-wrap">
        <span>{{type.name}}</span>
      </ion-label>
    </button>
  </ng-template>
</mat-menu>

<!-- aggregate menu -->
<mat-menu #aggregateMenu="matMenu" xPosition="before">
  <button mat-menu-item *ngIf="canCreateProduct && !type?.isSpatial" (click)="aggregateAndSave($event)">
    <ion-label translate>EXTRACTION.NEW_SPATIAL_AGGREGATION</ion-label>
  </button>
  <button mat-menu-item *ngIf="canCreateProduct && type?.category !== 'PRODUCT'" (click)="save($event)">
    <ion-label translate>EXTRACTION.NEW_PRODUCT</ion-label>
  </button>
</mat-menu>


<!-- options menu -->
<mat-menu #optionsMenu="matMenu">
  <ng-template matMenuContent let-type>

    <button mat-menu-item
            *ngIf="mobile"
            (click)="doRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>

    <!-- open map (if mobile)  -->
    <button mat-menu-item
            class="visible-xs visible-sm visible-mobile"
            *ngIf="type?.isSpatial"
            (click)="openMap($event)">
      <mat-icon>
        <ion-icon name="earth"></ion-icon>
      </mat-icon>
    </button>

    <!-- help (if mobile) -->
    <button mat-menu-item
            *ngIf="type?.description || type?.category === 'PRODUCT'"
            class="visible-xs visible-sm visible-mobile"
            (click)="openHelpModal($event)">
      <mat-icon>help_outline</mat-icon>
    </button>

    <!-- include invalid data ?-->
    <button mat-menu-item
            *ngIf="showFilter && type?.category !== 'PRODUCT'"
            [disabled]="!canCreateProduct"
            (click)="toggleExcludeInvalidData($event)">
      <mat-icon>{{excludeInvalidData ? 'check_box': 'check_box_outline_blank'}}</mat-icon>
      <ion-label translate>EXTRACTION.FILTER.BTN_EXCLUDE_INVALID_DATA</ion-label>
    </button>

    <!-- edit product (if mobile) -->
    <button mat-menu-item
            *ngIf="mobile && canEdit && type?.category === 'PRODUCT'"
            (click)="openProduct(type)">
      <mat-icon>edit</mat-icon>
      <ion-label translate>COMMON.BTN_EDIT</ion-label>
    </button>

    <!-- delete product -->
    <ng-container *ngIf="(canEdit || isAdmin) && type?.category === 'PRODUCT'">

      <mat-divider></mat-divider>

      <button mat-menu-item
              (click)="delete($event)">
        <mat-icon>delete</mat-icon>
        <ion-label translate>COMMON.BTN_DELETE</ion-label>
      </button>
    </ng-container>


  </ng-template>
</mat-menu>

<ion-content class="ion-no-padding"
             [class.embedded]="embedded"
             [class.has-paginator]="embedded"
             scroll-y="false">


  <mat-toolbar *ngIf="embedded && showToolbar"
               [class.expanded]="filterExpansionPanel.expanded">

    <!-- Refresh -->
    <button mat-icon-button *ngIf="!mobile"
            [title]="'COMMON.BTN_REFRESH'|translate"
            (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>

    <ion-item *ngIf="!mobile && error; let error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error|translate"></ion-label>
    </ion-item>

    <div class="toolbar-spacer"></div>

    <ng-content select="[toolbarButton]"></ng-content>

    <button mat-button
            *ngIf="showDownloadButton"
            (click)="downloadAsFile($event)"
            (keyup.enter)="downloadAsFile($event)"
            download="true"
            [disabled]="loading">
      <mat-icon>get_app</mat-icon>
      <ion-label [innerHTML]="'COMMON.BTN_DOWNLOAD'|translate|uppercase"
                 [matTooltip]="'EXTRACTION.BTN_DOWNLOAD_HELP'|translate"></ion-label>
    </button>

    <ng-container *ngIf="showFilter">
      <!-- reset filter -->
      <button mat-icon-button (click)="resetFilter()"
              *ngIf="filterCriteriaCount$|async">
        <mat-icon color="accent">filter_list_alt</mat-icon>
        <mat-icon  class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold;">close</mat-icon>
      </button>

      <!-- show filter -->
      <button mat-icon-button (click)="filterExpansionPanel.toggle()">
        <mat-icon *ngIf="filterCriteriaCount$|async; let criteriaCount; else noCriteriaIcon"
                  [matBadge]="criteriaCount"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  matBadgePosition="above after">filter_list_alt</mat-icon>
        <ng-template #noCriteriaIcon>
          <mat-icon>filter_list_alt</mat-icon>
        </ng-template>
      </button>

      <!-- options menu -->
      <button mat-icon-button
              [title]="'COMMON.BTN_OPTIONS'|translate"
              [matMenuTriggerFor]="optionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>

  <ion-refresher slot="fixed" *ngIf="mobile" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="type?.sheetNames as sheetNames">
    <nav mat-tab-nav-bar *ngIf="sheetNames | isArrayLength:{greaterThan: 1} ">
      <a mat-tab-link *ngFor="let item of sheetNames"
         (click)="setSheetName(item)"
         [active]="item === sheetName">
        <ion-text>{{getI18nSheetName(item)}}</ion-text>
        <mat-icon *ngIf="hasFilterCriteria(item)">filter_list_alt</mat-icon>
      </a>
    </nav>
  </ng-container>

  <!-- filter panel -->
  <mat-expansion-panel #filterExpansionPanel class="filter-panel"
                       [class.filter-panel-floating]="filterPanelFloating"
                       [class.expanded]="!filterPanelFloating && filterExpansionPanel.expanded">
    <app-extraction-criteria-form #criteriaForm
                                  [showSheetsTab]="false"
                                  [columns]="$columns|async"
                                  (onSubmit)="onRefresh.emit($event)">
    </app-extraction-criteria-form>

    <mat-action-row>
      <ion-label class="ion-padding">
        <!-- Loading spinner -->
        <ion-spinner [hidden]="!loading"></ion-spinner>

        <!-- Counter  -->
        <ion-text [hidden]="loading || dirty" [color]="data?.total === 0 && 'danger'">
          {{ (data?.total ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: {count: (data?.total |
            numberFormat)} }}
        </ion-text>
      </ion-label>

      <div class="toolbar-spacer"></div>
      <!-- Close panel -->
      <ion-button mat-button fill="clear" color="dark"
                  (click)="filterExpansionPanel.close()"
                  [disabled]="loading">
        <ion-text translate>COMMON.BTN_CLOSE</ion-text>
      </ion-button>

      <!-- Search button -->
      <ion-button mat-button
                  [color]="dirty ? 'tertiary' : 'dark'"
                  [fill]="dirty ? 'solid' : 'clear'"
                  (click)="applyFilterAndClosePanel($event)"
                  [disabled]="loading">
        <ion-text translate>COMMON.BTN_APPLY</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- error -->
  <ion-item *ngIf="error" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <div #tableContainer class="table-container"
       [class.has-toolbar]="embedded && showToolbar">
    <table mat-table
           [dataSource]="dataSource"
           [class.cdk-visually-hidden]="!data?.total || loading"
           matSort
           matSortDisableClear>

      <!-- iterate on columns -->
      <ng-container *ngFor="let column of $columns | async" matColumnDef="{{column.columnName}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header
            [class.mat-cell-date-time]="column.type=='date'">
          <ion-label>{{ column.name }}</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" [class.mat-cell-date-time]="column.type=='date'"
                  [class.mat-cell-numeric]="column.type=='integer'">
          <a [title]="row.currentData[column.index]"
             (click)="onCellValueClick($event, column, row.currentData[column.index])">
            <ion-text color="dark">{{row.currentData[column.index]}}</ion-text>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" [stickyEnd]="stickyEnd">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button
                  [matTooltip]=" 'COMMON.DISPLAYED_COLUMNS'|translate"
                  (click)="openSelectColumnsModal($event)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          class="mat-row-disabled"></tr>
    </table>

    <!-- loading skeleton -->
    <ng-container *ngIf="loading; else loaded">
      <table class="mat-table">
        <tr class="mat-header-row">
          <th class="mat-header-cell"><ion-skeleton-text style="width: 50px"></ion-skeleton-text></th>
          <th class="mat-header-cell"><ion-skeleton-text style="width: 50px"></ion-skeleton-text></th>
          <th class="mat-header-cell"><ion-skeleton-text style="width: 50px"></ion-skeleton-text></th>
          <th class="mat-header-cell"><ion-skeleton-text style="width: 50px"></ion-skeleton-text></th>
          <th class="mat-header-cell"><ion-skeleton-text style="width: 50px"></ion-skeleton-text></th>
          <th class="mat-header-cell"><ion-skeleton-text style="width: 50px"></ion-skeleton-text></th>
          <th class="mat-header-cell"><ion-skeleton-text style="width: 50px"></ion-skeleton-text></th>
          <th class="mat-header-cell"><ion-skeleton-text style="width: 50px"></ion-skeleton-text></th>
          <th class="mat-header-cell" colspan="4">&nbsp;</th>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell" colspan="12"><ion-skeleton-text animated></ion-skeleton-text></td>
        </tr>
      </table>
    </ng-container>

    <ng-template #loaded>
      <ion-item *ngIf="data?.total === 0">
        <ion-text color="danger" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
      </ion-item>

      <ng-container *ngIf="!type">
        <p class="ion-text-center">
          <ion-icon color="primary100" name="information-circle"></ion-icon>
          <ion-text color="primary100" class="text-italic" [innerHTML]="'EXTRACTION.TABLE.SELECT_TYPE_HELP'|translate"></ion-text>
        </p>
        <p class="ion-text-center">
          <ion-button *ngIf="types$ | async |isArrayLength: {greaterThan: 1}"
                      [matMenuTriggerFor]="selectTypeMenu"
                      [matMenuTriggerData]="{$implicit: ($categories|async) }"
                      color="tertiary" fill="solid">
            <ion-icon slot="start" name="server"></ion-icon>
            <ion-label [innerHTML]="'EXTRACTION.TABLE.BTN_SELECT_TYPE'|translate"></ion-label>
            <mat-icon slot="end">arrow_drop_down</mat-icon>
          </ion-button>
        </p>
      </ng-container>
    </ng-template>

  </div>

</ion-content>

<ion-footer [class.cdk-visually-hidden]="!type">

  <!-- Paginator -->
  <mat-paginator [length]="data?.total" [pageSize]="defaultPageSize" [pageSizeOptions]="defaultPageSizeOptions"
                 class="mat-paginator-footer"
                 showFirstLastButtons>
  </mat-paginator>

  <!-- Action buttons -->
  <ion-toolbar class="hidden-xs hidden-sm hidden-mobile"
               *ngIf="!embedded">
    <ion-row class="ion-no-padding" nowrap>
      <ion-col>
        <ion-item *rxIf="errorSubject; let error; else debugPanel" lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
        </ion-item>

        <ng-template #debugPanel>
          <app-debug *ngIf="debug">
            loading: {{loading}}<br/>
          </app-debug>
        </ng-template>
      </ion-col>

      <ion-col size="auto">
        <ion-button fill="clear" color="dark"
                    (click)="doRefresh()"
                    (keyup.enter)="doRefresh()"
                    [disabled]="loading">
          <ion-icon slot="start" name="refresh"></ion-icon>
          <ion-label translate>COMMON.BTN_REFRESH</ion-label>
        </ion-button>

        <ion-button fill="solid" color="tertiary"
                    *ngIf="showDownloadButton"
                    (click)="downloadAsFile($event)"
                    (keyup.enter)="downloadAsFile($event)"
                    download="true"
                    [disabled]="loading">
          <mat-icon>get_app</mat-icon>
          <ion-label [innerHTML]="'COMMON.BTN_DOWNLOAD'|translate|uppercase"
                     [matTooltip]="'EXTRACTION.BTN_DOWNLOAD_HELP'|translate"></ion-label>
        </ion-button>

        <ion-button *ngIf="canCreateProduct"
                    fill="solid" color="danger"
                    [matMenuTriggerFor]="aggregateMenu"
                    [matTooltip]="'EXTRACTION.BTN_SAVE_HELP'|translate"
                    [disabled]="loading">
          <ion-label [innerHTML]="'COMMON.BTN_SAVE'|translate"></ion-label>
          <mat-icon slot="end">arrow_drop_down</mat-icon>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
