.ion-content-in-modal-mobile {
  height: calc(100vh - 139px);
}
.ion-content-in-modal-desktop {
  height: calc(100vh - 247px);
}


.table-container {
  --table-offline-nav: 0px;
  --table-toolbar-height: 0px;
  height: calc(100% - var(--table-offline-nav, 0px) - var(--table-toolbar-height, 0px));

  &.has-offline-nav {
    --table-offline-nav: var(--mat-tab-link-height, 48px);
  }
  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
}

.mat-mdc-table {
  --mat-cell-horizontal-padding: 4px;

  .mat-column-program {
    min-width: 90px;
  }

  .mat-column-vessel {
    min-width: 200px;
  }

  .mat-column-location {
    min-width: 150px;
  }

  .mat-column-observers,
  .mat-column-recorderPerson {
    min-width: 180px;
  }

  .mat-column-actions {
    min-width: 40px;
    max-width: 40px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  .mat-mdc-header-row,
  .mat-mdc-row {
    .mat-column-quality {
      min-width: calc(1.2em + 8px);
      padding-inline-start: 4px;
      padding-inline-end: 4px;

      mat-icon,
      ion-icon {
        font-size: 1.2em;
        height: 1.2em;
        width: 1.2em;
      }
    }
  }
}
