<app-modal-toolbar
  [modalName]="modalName"
  [title]="title | translate"
  color="accent"
  [canValidate]="!loading && valid"
  (cancel)="cancel()"
  (validate)="validate($event)"
></app-modal-toolbar>

<ion-content class="ion-padding">
  <!-- error -->
  <app-error-item [message]="errorSubject | async"></app-error-item>

  <form class="form-container" [formGroup]="form">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <!-- Program -->
          <mat-autocomplete-field
            [placeholder]="'TRIP.TABLE.FILTER.PROGRAM' | translate"
            formControlName="program"
            [config]="autocompleteFields.program"
            [required]="true"
            [clearable]="true"
            [tabindex]="1"
          >
            <ion-icon matPrefix name="contract"></ion-icon>
          </mat-autocomplete-field>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-start">
        <ion-col>
          <!-- Vessel -->
          <mat-chips-field
            *ngIf="autocompleteFields.vesselSnapshot; else fieldSkeleton"
            formControlName="vesselSnapshot"
            [placeholder]="'TRIP.OFFLINE_MODAL.VESSELS' | translate"
            [config]="autocompleteFields.vesselSnapshot"
            [clearable]="true"
            chipColor="accent"
            [tabindex]="3"
          >
            <ion-icon matPrefix name="boat"></ion-icon>
          </mat-chips-field>
        </ion-col>
      </ion-row>

      @let enableHistoryControl = form | formGetControl: 'enableHistory';
      <ion-row>
        <ion-col size="12">
          <!-- enable history ? -->
          <mat-form-field>
            <input matInput hidden /><!-- fake input -->
            <mat-checkbox matPrefix [formControl]="enableHistoryControl" labelPosition="after" [tabindex]="4">
              <ion-text translate>TRIP.OFFLINE_MODAL.ENABLE_HISTORICAL_DATA</ion-text>
            </mat-checkbox>
            <mat-error *ngIf="enableHistoryControl.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          </mat-form-field>
        </ion-col>

        @if (enableHistoryControl.valueChanges | async) {

          <!-- Period duration -->
          <ion-col offset="1" size="11">
          <mat-form-field>
            <ion-icon matPrefix name="calendar-outline"></ion-icon>
              <mat-label translate>TRIP.OFFLINE_MODAL.DURATION_PLACEHOLDER</mat-label>
            <mat-select
              formControlName="periodDuration"
              [tabindex]="6"
              required
            >
              <mat-option *ngFor="let item of periodDurationLabels" [value]="item.key">
                {{ item.label | translate }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="form.controls.periodDuration.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          </mat-form-field>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>
  <ion-toolbar>
    <ion-row class="ion-no-padding" nowrap>
      <ion-col>
        <ng-content></ng-content>
      </ion-col>

      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>

        <ion-button
          [fill]="valid ? 'solid' : 'clear'"
          [disabled]="disabled"
          (click)="validate($event)"
          (keyup.enter)="validate($event)"
          [tabindex]="7"
          color="tertiary"
        >
          <ion-label translate>COMMON.BTN_VALIDATE</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ng-template #fieldSkeleton>
  <mat-form-field>
    <input matInput hidden />
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </mat-form-field>
</ng-template>
