.table-container {
  --table-toolbar-height: 0px;
  --table-paginator-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height, 0px) - var(--table-paginator-height, 0px));

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
  &.has-paginator {
    --table-paginator-height: var(--app-paginator-height);
  }
}

.mat-header-row,
.mat-row {
  .mat-column-icon {
    max-width: 40px;
    padding-left: 0;

    mat-icon,
    ion-icon {
      font-size: 1.2em;
      height: 1.2em;
      width: 1.2em;
    }
  }

  .mat-column-creationDate {
    min-width: 100px;
    max-width: 120px;
  }
}
