
<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">

  <!-- display columns -->
  <button mat-menu-item
          (click)="openSelectColumnsModal($event)">
    <mat-icon>view_column</mat-icon>
    <ion-label translate>COMMON.DISPLAYED_COLUMNS_DOTS</ion-label>
  </button>

</mat-menu>

<!-- top header -->
<mat-toolbar *ngIf="showToolbar">

  <ng-container *ngIf="!selection.hasValue(); else hasSelection">

    <button mat-icon-button [title]="'COMMON.BTN_REFRESH'|translate" (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>

  </ng-container>

  <!-- if row selection -->
  <ng-template #hasSelection>

    <!-- delete -->
    <button mat-icon-button class="hidden-xs hidden-sm" *ngIf="canDelete"
            [title]="'COMMON.BTN_DELETE'|translate" (click)="deleteSelection($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <!-- error -->
  <ion-item *ngIf="error" hidden-xs hidden-sm hidden-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <div class="toolbar-spacer"></div>


</mat-toolbar>

<div class="table-container"
     [class.has-toolbar]="showToolbar"
     [class.has-paginator]="showPaginator">

  <table mat-table matSort matSortDisableClear
         [dataSource]="dataSource"
         [matSortActive]="defaultSortBy"
         [matSortDirection]="defaultSortDirection"
         [trackBy]="trackByFn">

    <!-- select -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit">
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [class.cdk-visually-hidden]="!isAdmin">
        <ion-label>#</ion-label>
      </th>
      <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!isAdmin">{{ row.currentData.id | mathAbs }}</td>
    </ng-container>

    <!-- creationDate -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>SOCIAL.USER_EVENT.CREATION_DATE</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>
          {{row.currentData.creationDate | dateFromNow }}<br/>
          <ion-text color="medium"><small>{{row.currentData.creationDate | dateFormat: {time: true} }}</small></ion-text>
        </ion-text>
      </td>
    </ng-container>

    <!-- icon -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row;">
        <ng-container *ngIf="getIcon(row.currentData); let icon">
          <app-icon [ref]="icon"></app-icon>
        </ng-container>
      </td>
    </ng-container>

    <!-- message -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>SOCIAL.USER_EVENT.MESSAGE</ion-label>
      </th>
      <td mat-cell *matCellDef="let row;">
        <ng-container *ngIf="row.currentData.message; let message">
          <ion-text [innerHTML]="message|translate">
          </ion-text>
        </ng-container>
      </td>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button
                [title]="'COMMON.BTN_OPTIONS'|translate"
                [matMenuTriggerFor]="optionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngFor="let action of row.currentData.actions">
          <ng-container *ngIf="!action.default">
            <button mat-icon-button
                    *ngIf="action.iconRef; else buttonLabel"
                    [title]="(action.title || action.name) | translate"
                    [color]="action.color|matColor"
                    (click)="doAction(action, row)">
              <app-icon slot="start" [ref]="action.iconRef"></app-icon>
            </button>
            <ng-template #buttonLabel>
              <button mat-button
                      [color]="action.color|matColor"
                      (click)="doAction(action, row)">
                <mat-label>{{(action.title || action.name) | translate}}</mat-label>
              </button>
            </ng-template>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
             class="mat-row-disabled"
             (click)="clickRow($event, row)"></tr>

  </table>

  <ng-container *ngIf="loadingSubject|async; else noResult">
    <ion-item>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </ng-container>

  <ng-template #noResult>
    <ion-item *ngIf="totalRowCount === 0">
      <ion-text color="danger" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
    </ion-item>
  </ng-template>
</div>

<ion-footer>
  <mat-paginator class="mat-paginator-footer"
                 [length]="totalRowCount" [pageSize]="defaultPageSize"
                 [pageSizeOptions]="defaultPageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</ion-footer>
