ion-row {
  &.odd {
    background-color: var(--ion-color-light, grey);
  }

  &.mat-row-selected {
    background-color: var(--ion-color-secondary100) !important;
  }
}
.ion-grid.form-container {

  padding: var(--ion-padding, 16px) !important;
}


ion-row {

  .visible-hover-row {
    visibility: hidden;
  }

  &:hover {
    .visible-hover-row {
      visibility: unset !important;
    }
  }
}
