@import 'theme.globals';
:host {
  width: 100%;

  .mat-boolean-field-button {
    .mat-form-field-buttons {
      padding-inline-end: 50px;
    }
  }
}

@media screen and (max-width: #{$screen-xs-max}) {

  ::ng-deep {
    .mat-form-field-buttons {
      --buttons-col-count: 3 !important;
    }
    ion-button{
      font-size: 0.855rem;
      letter-spacing: -0.005rem;
    }
  }
}
