:host {
  width: 100%;

  .mat-boolean-field-button {
    .mat-form-field-buttons {
      padding-inline-end: 50px;
    }
  }
}

@media (max-width: 400px) {

  ::ng-deep {
    .mat-form-field-buttons {
      --buttons-col-count: 3 !important;
    }
    ion-button{
      //font-size: 0.875rem;
      font-size: 0.855rem;
      letter-spacing: -0.005rem;
      //word-break: break-word;
    }
  }
}
