:host {
  width: 100%;
}

.mat-header-row,
.mat-row {
  .mat-column-id {
    min-width: 30px;
    max-width: 30px;
  }

  .mat-column-parentGroup,
  .mat-column-taxonName,
  .mat-column-taxonGroup {
    min-width: 150px;
  }

  .mat-column-comments {
    min-width: unset !important;
    max-width: unset !important;
    width: 46px !important;
    padding-left: 6px;
  }

  .mat-column-80,
  .mat-column-94,
  .mat-column-94 {
    max-width: 50px;
  }

  .mat-column-81,
  .mat-column-95 {
    max-width: 100px;
  }

  .mat-column-weight {
    color: var(--ion-color-primary-tint) !important;
    font-style: italic !important;
  }
}

.table-container {
  max-height: calc(100vh - var(--toolbar-min-height, 56px) * 2);
  overflow-y: auto;

  mat-table {
    overflow-y: visible;
  }

  .visible-hover {
    visibility: hidden;
  }

  .mat-row:hover {
    .visible-hover {
      visibility: unset;
    }
  }
}
