:host {
  width: 100%;
  --toolbar-min-height: 140px;
}

.mat-header-row,
.mat-row {
  .mat-column-id {
    min-width: 30px;
    max-width: 30px;
  }

  .mat-column-parentGroup,
  .mat-column-taxonName,
  .mat-column-taxonGroup {
    min-width: 150px;
  }

  .mat-column-comments {
    min-width: unset !important;
    max-width: unset !important;
    width: 46px !important;
    padding-left: 6px;
  }

  .mat-column-80,
  .mat-column-94,
  .mat-column-94 {
    max-width: 50px;
  }

  .mat-column-81,
  .mat-column-95 {
    max-width: 100px;
  }

  .mat-column-weight {
    color: var(--ion-color-primary-tint) !important;
    font-style: italic !important;
  }
}

.table-container {
  --table-toolbar-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height));
  min-width: 100%;
  overflow: auto;

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }

  .visible-hover {
    visibility: hidden;
  }

  .mat-row:hover {
    .visible-hover {
      visibility: unset;
    }
  }
}
