<form [formGroup]="form" class="form-container ion-no-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <mat-autocomplete-field
          formControlName="taxonName"
          [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME' | translate"
          [config]="autocompleteFields.taxonName"
          [clearable]="true"
          [required]="true"
        ></mat-autocomplete-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-form-field
          formControlName="criteriaPmfm"
          [definition]="fieldDefinitions.criteriaPmfm"
          [clearable]="true"
          [required]="true"
        ></app-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <mat-form-field>
          <mat-label>{{ 'REFERENTIAL.PMFM.METHOD' | translate }}</mat-label>
          <input matInput readonly disabled [value]="(form | formGetValue: 'criteriaPmfm')?.method?.name || ''" />
        </mat-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      @let pmfm = form | formGetValue: 'criteriaPmfm';
      @let unitLabel = pmfm?.unitLabel || '';

      <!-- min -->
      <ion-col size="4">
        <mat-form-field>
          <mat-label>{{ 'TRIP.BATCH.EDIT.INDIVIDUAL_COUNT.MIN' | translate: { unit: unitLabel } }}</mat-label>
          <input
            matInput
            type="number"
            formControlName="min"
            [min]="0"
            [step]="pmfm | toString: computeNumberInputStep"
            [placeholder]="'TRIP.BATCH.EDIT.INDIVIDUAL_COUNT.MIN_PLACEHOLDER' | translate"
            required
          />
        </mat-form-field>
      </ion-col>

      <!-- max -->
      <ion-col size="4">
        <mat-form-field>
          <mat-label>{{ 'TRIP.BATCH.EDIT.INDIVIDUAL_COUNT.MAX' | translate: { unit: unitLabel } }}</mat-label>
          <input
            matInput
            type="number"
            formControlName="max"
            [placeholder]="'TRIP.BATCH.EDIT.INDIVIDUAL_COUNT.MAX_PLACEHOLDER' | translate"
            [step]="pmfm | toString: computeNumberInputStep"
            required
          />
        </mat-form-field>
      </ion-col>

      <!-- precision -->
      <ion-col size="4">
        <mat-form-field>
          <mat-label>{{ 'TRIP.BATCH.EDIT.INDIVIDUAL_COUNT.PRECISION' | translate: { unit: unitLabel } }}</mat-label>
          <input matInput type="number" [disabled]="disabledPrecision" [readonly]="disabledPrecision" formControlName="precision" />
        </mat-form-field>
      </ion-col>
    </ion-row>
    @if (showQvPmfm && !hasRequiredQvPmfm) {
      @if (!hasRequiredQvPmfm) {
        <mat-divider class="ion-padding-bottom"></mat-divider>
      }
      <ion-row>
        <ion-col>
          <app-form-field
            formControlName="qvPmfm"
            [placeholder]="'TRIP.BATCH.EDIT.INDIVIDUAL_COUNT.SORT_CRITERIA_QUALITATIVE' | translate"
            [definition]="fieldDefinitions.qvPmfm"
            [clearable]="true"
            [required]="hasRequiredQvPmfm"
          ></app-form-field>
        </ion-col>
      </ion-row>
    }
  </ion-grid>

  <!-- submit button -->
  <div class="ion-no-padding ion-align-items-end">
    <ion-button
      #submitButton
      color="tertiary"
      expand="block"
      fill="solid"
      shape="round"
      [disabled]="invalid"
      (click)="doSubmit()"
      [tabindex]="tabindex + 101"
    >
      <ion-label translate>COMMON.BTN_APPLY</ion-label>
    </ion-button>

    <ng-content select="[endButton]"></ng-content>
  </div>
</form>
<ng-template #measurementsSkeleton>
  <mat-form-fields-skeleton count="2"></mat-form-fields-skeleton>
</ng-template>
