<app-toolbar
  [title]="titleSubject | async"
  color="primary"
  [hasValidate]="!loading && (dirty || saving)"
  [hasClose]="!loading && !dirty && !saving"
  (onValidate)="save($event)"
  (onValidateAndClose)="saveAndClose($event)"
  (onClose)="close($event)"
  [defaultBackHref]="defaultBackHref"
  [canGoBack]="true"
>
  <button
    slot="end"
    mat-icon-button
    *ngIf="(enabled && !isNewData) || canDebug"
    [matMenuTriggerFor]="optionsMenu"
    [title]="'COMMON.BTN_OPTIONS' | translate"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</app-toolbar>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu">
  <!-- report -->
  <button mat-menu-item [disabled]="isNewData || disabled" (click)="openReport($event)">
    <mat-icon><ion-icon slot="icon-only" name="bar-chart-outline"></ion-icon></mat-icon>
    <ion-label translate>LANDING.EDIT.BTN_REPORT</ion-label>
  </button>

  <!-- reset -->
  <button mat-menu-item *ngIf="mobile" [disabled]="!dirty" (click)="cancel($event)">
    <mat-icon><ion-icon slot="icon-only" name="refresh"></ion-icon></mat-icon>
    <ion-label translate>COMMON.BTN_RESET</ion-label>
  </button>

  <mat-divider></mat-divider>

  <!-- delete -->
  <button mat-menu-item [disabled]="isNewData || disabled" (click)="delete($event)">
    <mat-icon>delete</mat-icon>
    <ion-label translate>COMMON.BTN_DELETE</ion-label>
  </button>

  <!-- DEV only -->
  <app-data-editor-debug-button></app-data-editor-debug-button>
</mat-menu>

<ion-content (swipeleft)="onSwipeTab($event)" (swiperight)="onSwipeTab($event)">
  <mat-tab-group
    #tabGroup
    class="mat-mdc-tab-disabled-hidden mat-mdc-tab-fixed-content"
    [(selectedIndex)]="selectedTabIndex"
    (selectedTabChange)="onTabChange($event)"
    [animationDuration]="mobile ? tabGroupAnimationDuration : '0s'"
    [dynamicHeight]="false"
  >
    <!-- TAB: general -->
    <mat-tab
      [label]="'LANDING.EDIT.TAB_GENERAL' | translate"
      appSubMenuTab
      [parentPath]="defaultBackHref"
      [subMenuTitle]="(titleSubject | async | noHtml) || ''"
    >
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>LANDING.EDIT.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && landingForm.invalid"></ion-icon>
      </ng-template>

      <div>
        <!-- error -->
        <ion-item *ngIf="landingForm.error || error as error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
        </ion-item>

        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-padding">
              <!-- landing form-->
              <app-landing-form
                #landingForm
                [programLabel]="programLabel$ | async"
                [i18nSuffix]="i18nContext.suffix"
                [showError]="false"
                [showMeasurements]="false"
                [showParent]="showParent"
                [parentAcquisitionLevel]="parentAcquisitionLevel"
                (onSubmit)="save($event)"
                (openObservedLocation)="openObservedLocation($event)"
                [debug]="debug"
              ></app-landing-form>
            </ion-col>

            <!-- data quality -->
            <ion-col class="ion-no-padding" size="12" size-xl="3" *ngIf="showEntityMetadata">
              <app-entity-metadata [value]="data">
                <app-entity-quality-form *ngIf="showQualityForm"></app-entity-quality-form>
              </app-entity-metadata>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </mat-tab>

    <!-- TAB: samples -->
    <mat-tab #samplesTab [label]="'AUCTION_CONTROL.TAB_SAMPLES' | translate" appSubMenuTab>
      <ng-template mat-tab-label>
        <mat-icon>
          <ion-icon matPrefix slot="icon-only" name="flag"></ion-icon>
        </mat-icon>
        <ion-label
          [matBadge]="samplesTable.visibleRowCount | badgeNumber"
          [matBadgeHidden]="samplesTable.invalid || !samplesTable.visibleRowCount"
          matBadgeOverlap="false"
          matBadgeColor="primary"
          matBadgeSize="small"
          matBadgePosition="above after"
        >
          {{ samplesTab.textLabel }}
        </ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="samplesTable.invalid"></ion-icon>
      </ng-template>

      <div>
        @if (debug) {
          <ng-container *ngTemplateOutlet="debugPanel"></ng-container>
        }

        <!-- error -->
        @if (submitted && (samplesTable.error || (landingForm.measurementValuesForm | formError: errorTranslateOptions)); as error) {
          <ion-item visible-xs visible-sm visible-mobile lines="none">
            <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
            <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
          </ion-item>
        }

        <form
          *rxIf="pmfms$; let pmfms; strategy: 'immediate'; else: measurementSkeletons"
          [formGroup]="landingForm.measurementValuesForm"
          class="form-container ion-padding ion-no-padding-bottom"
        >
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <!-- pmfms -->
              <ng-container *rxFor="let pmfm of pmfms; trackBy: landingForm.trackPmfmFn; strategy: 'immediate'; index as i">
                <ion-col size="11" size-md="5">
                  <app-pmfm-field [pmfm]="pmfm" [controlName]="pmfm | pmfmIdString"></app-pmfm-field>
                </ion-col>

                <ion-col size="auto" class="ion-col-button">
                  <button
                    mat-icon-button
                    color="primary"
                    *ngIf="mobile && pmfm.id === controlledSpeciesPmfmId && this.helpContent"
                    tabindex="-1"
                    (click)="openHelpModal($event)"
                  >
                    <mat-icon>help_outline</mat-icon>
                  </button>
                </ion-col>

                <ion-col *ngIf="pmfm.id === controlledSpeciesPmfmId && showOtherTaxonGroup" size="1" size-md="5">
                  <!-- Special case for controlled species: add a combo, for 'MZZ' species -->
                  <mat-autocomplete-field
                    [formControl]="taxonGroupControl"
                    [tabindex]="60"
                    [required]="false"
                    [config]="landingForm.autocompleteFields.taxonGroup"
                    [placeholder]="'AUCTION_CONTROL.EDIT.OTHER_TAXON_GROUP' | translate"
                  ></mat-autocomplete-field>
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-grid>
        </form>

        <app-samples-table
          #samplesTable
          [class.cdk-visually-hidden]="!showSamplesTable"
          [requiredLabel]="false"
          [showLabelColumn]="true"
          [showSampleDateColumn]="false"
          [showTaxonNameColumn]="false"
          [showTaxonGroupColumn]="false"
          [showImagesColumn]="true"
          [showToolbar]="!mobile"
          [showGroupHeader]="false"
          [enableTagIdGeneration]="false"
          [tabIndex]="61"
          [defaultSampleDate]="data?.dateTime"
          [usageMode]="usageMode"
          [compactFields]="true"
          [i18nColumnSuffix]="i18nContext.suffix"
          [pmfmValueColor]="getPmfmValueColor"
          (prepareRowForm)="onPrepareSampleForm($event)"
          [sticky]="true"
          [mobile]="mobile"
          [debug]="debug"
        >
          <ion-buttons slot="end">
            <!-- Help button -->
            <button mat-icon-button *ngIf="helpContent" [matTooltip]="'COMMON.BTN_SHOW_HELP' | translate" (click)="openHelpModal($event)">
              <mat-icon>help_outline</mat-icon>
            </button>
          </ion-buttons>
        </app-samples-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>
  <app-form-buttons-bar
    (onCancel)="reloadWithConfirmation()"
    [disabledCancel]="!dirty || loading"
    (onSave)="save($event)"
    [disabled]="!dirty || loading"
  >
    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error | translate"></ion-label>
    </ion-item>
  </app-form-buttons-bar>
</ion-footer>

<!-- FAB button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="mobile && _enabled && showSamplesTable && selectedTabIndex === 1" @fadeInOutAnimation>
  <ion-fab-button color="tertiary" (click)="samplesTable.addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ng-template #measurementSkeletons>
  <ion-grid class="form-container ion-padding">
    <ion-row class="ion-no-padding">
      <ng-container *ngTemplateOutlet="measurementSkeleton"></ng-container>
      <ng-container *ngTemplateOutlet="measurementSkeleton"></ng-container>
    </ion-row>
  </ion-grid>
</ng-template>

<ng-template #measurementSkeleton>
  <ion-col size="12" size-md="6">
    <mat-form-field class="mat-form-field-disabled">
      <input matInput hidden />
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </mat-form-field>
  </ion-col>
</ng-template>

<!-- DEBUG -->
<ng-template #debugPanel>
  <app-debug>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          editor.ready: {{ readySubject | async }}
          <br />
          editor.loading: {{ loading }} - saving: {{ savingSubject | async }}
          <br />
          editor.enabled: {{ enabled }}
          <br />
          editor.dirty: {{ dirty }}
          <br />
          editor.valid: {{ valid }}
          <br />
          editor.program: {{ (program$ | async)?.label }}
          <br />
          editor.strategy ({{ strategyResolution$ | async }}){{ requiredStrategy ? ' (required)' : '' }}: {{ (strategy$ | async)?.id }}
          <br />
          <br />
          editor.acquisitionLevel: {{ acquisitionLevel$ | async }}
        </ion-col>
        <ion-col>
          form.ready: {{ landingForm.readySubject | async }}
          <br />
          form.loading: {{ landingForm.loading }}
          <br />
          form.enabled: {{ landingForm.enabled }}
          <br />
          form.dirty: {{ landingForm.dirty }}
          <br />
          form.valid: {{ landingForm.valid }}
          <br />
          form.program: {{ landingForm.programLabel }}
          <br />
          form.strategy{{ landingForm.requiredStrategy ? ' (required)' : '' }}: {{ landingForm.strategyId || landingForm.strategyLabel }}
          <br />
          <br />
          form.acquisitionLevel: {{ landingForm.acquisitionLevel }}
          <br />
          form.pmfms: {{ (landingForm.pmfms$ | async)?.length }}
          <br />
          form.observedLocationId: {{ form | formGetValue: 'observedLocationId' }}
          <br />
          form.dateTime: {{ form | formGetValue: 'dateTime' | dateFormat: { time: true } }}
          <br />
          form.location: {{ form | formGetValue: 'location' | propertyGet: 'label' }}
          <br />
          <br />
          form.showStrategy: {{ landingForm.showStrategy }}
          <br />
          form.showLocation: {{ landingForm.showLocation }}
          <br />
          form.showVessel: {{ landingForm.showVessel }}
          <br />
          form.showParent: {{ landingForm.showParent }}
          <br />
          form.canEditStrategy: {{ landingForm.canEditStrategy }}
        </ion-col>
        <ion-col>
          samplesTable.ready: {{ samplesTable.readySubject | async }}
          <br />
          samplesTable.loading: {{ samplesTable.loading }} (subject: {{ samplesTable.loadingSubject | async }})
          <br />
          samplesTable.enabled: {{ samplesTable.enabled }}
          <br />
          samplesTable.dirty: {{ samplesTable.dirty }}
          <br />
          samplesTable.valid: {{ samplesTable.valid }}
          <br />
          samplesTable.program: {{ samplesTable.programLabel }}
          <br />
          samplesTable.strategy{{ samplesTable.requiredStrategy ? ' (required)' : '' }}: {{ samplesTable.strategyId || samplesTable.strategyLabel }}
          <br />
          <br />
          samplesTable.acquisitionLevel: {{ samplesTable.acquisitionLevel }}
          <br />
          samplesTable.pmfms: {{ (samplesTable.pmfms$ | async)?.length }}
          <br />
          <br />
          samplesTable.showIndividualMonitoringButton: {{ samplesTable.showIndividualMonitoringButton }}
          <br />
          samplesTable.showIndividualReleaseButton: {{ samplesTable.showIndividualReleaseButton }}
          <br />
          samplesTable.showImagesButton: {{ samplesTable.showImagesColumn }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-debug>
</ng-template>
