<!-- DEBUG -->
<ng-container *ngIf="debug">
  <ng-container *ngTemplateOutlet="debugPanel"></ng-container>
</ng-container>

<mat-toolbar *ngIf="showToolbar" [class.expanded]="filterExpansionPanel.expanded">
  <ng-container *ngIf="!selection.hasValue(); else hasSelection">
    <!-- Add -->
    <button mat-icon-button *ngIf="!mobile && enabled" [title]="'COMMON.BTN_ADD' | translate" (click)="addRow()">
      <mat-icon>add</mat-icon>
    </button>

    <!-- Refresh -->
    <button *ngIf="!mobile" mat-icon-button [title]="'COMMON.BTN_REFRESH' | translate" (click)="onRefresh.emit()">
      <mat-icon>refresh</mat-icon>
    </button>
  </ng-container>

  <!-- if row selection -->
  <ng-template #hasSelection>
    <!-- Delete -->
    <button
      mat-icon-button
      *ngIf="enabled && canCancelOrDeleteSelectedRows"
      [title]="'COMMON.BTN_DELETE' | translate"
      (click)="deleteSelection($event)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <ion-item *ngIf="!mobile && error; let error" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate: errorDetails"></ion-label>
  </ion-item>

  <div class="toolbar-spacer"></div>

  <!-- Reset filter -->
  <button mat-icon-button (click)="resetFilter()" *ngIf="filterCriteriaCount">
    <mat-icon color="accent">filter_list_alt</mat-icon>
    <mat-icon class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold">close</mat-icon>
  </button>

  <!-- Show filter -->
  <button mat-icon-button (click)="filterExpansionPanel.toggle()">
    <mat-icon
      [matBadge]="filterCriteriaCount"
      [matBadgeHidden]="filterIsEmpty"
      matBadgeColor="accent"
      matBadgeSize="small"
      matBadgePosition="above after"
    >
      filter_list_alt
    </mat-icon>
  </button>
</mat-toolbar>

<!-- Table options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">
  <!--<mat-divider></mat-divider>-->

  <!-- trash
  <button mat-menu-item
          (click)="openTrashModal($event)">
    <mat-icon>delete_sweep</mat-icon>
    <ion-label translate>COMMON.BTN_SHOW_TRASH_DOTS</ion-label>
  </button> -->
</mat-menu>

<!-- error -->
<ion-item *ngIf="error && showError && mobile" lines="none">
  <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
  <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
</ion-item>

<div #tableContainer class="table-container" [class.has-toolbar]="showToolbar" [class.has-paginator]="showPaginator">
  <!-- search -->
  <mat-expansion-panel #filterExpansionPanel class="filter-panel" [class.ion-no-padding]="mobile" [class.filter-panel-floating]="filterPanelFloating">
    <form class="form-container" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()">
      <ion-grid>
        <!-- Data quality status -->
        <ion-row *ngIf="showQualityColumn">
          <ion-col size="12" size-md="3" size-lg="3">
            <ion-label class="ion-float-end" translate>OBSERVED_LOCATION.TABLE.QUALITY_FILTER</ion-label>
          </ion-col>

          <ion-col *ngIf="filterDataQualityControl; let control">
            <mat-form-field floatLabel="never">
              <mat-select [formControl]="control" [placeholder]="'COMMON.EMPTY_OPTION' | translate">
                <mat-select-trigger>
                  <span *ngIf="statusById | mapGet: control.value; let item">
                    <ion-icon [name]="item.icon"></ion-icon>
                    {{ item.label | translate }}
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let item of statusList" [value]="item.id">
                  <ion-icon [name]="item.icon"></ion-icon>
                  {{ item.label | translate }}
                </mat-option>
              </mat-select>

              <button
                matSuffix
                mat-icon-button
                tabindex="-1"
                type="button"
                (click)="clearFilterValue('dataQualityStatus', $event)"
                [hidden]="disabled || !control.value"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <mat-action-row>
      <!-- Counter  -->
      <ion-label [hidden]="(loadingSubject | async) || filterForm.dirty" [color]="empty && 'danger'" class="ion-padding">
        {{ (totalRowCount ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: { count: (totalRowCount | numberFormat) } }}
      </ion-label>

      <div class="toolbar-spacer"></div>

      <button
        mat-icon-button
        color="accent"
        *ngIf="filterPanelFloating"
        (click)="toggleFilterPanelFloating()"
        class="hidden-xs hidden-sm hidden-md"
        [title]="(filterPanelFloating ? 'COMMON.BTN_EXPAND' : 'COMMON.BTN_HIDE') | translate"
      >
        <mat-icon>
          <span style="transform: rotate(90deg)">{{ filterPanelFloating ? '&#xbb;' : '&#xab;' }}</span>
        </mat-icon>
      </button>

      <!-- Close panel -->
      <ion-button mat-button fill="clear" color="dark" (click)="closeFilterPanel()" [disabled]="loadingSubject | async">
        <ion-text translate>COMMON.BTN_CLOSE</ion-text>
      </ion-button>

      <!-- Search button -->
      <ion-button
        mat-button
        [color]="filterForm.dirty ? 'tertiary' : 'dark'"
        [fill]="filterForm.dirty ? 'solid' : 'clear'"
        (click)="applyFilterAndClosePanel($event)"
        [disabled]="loadingSubject | async"
      >
        <ion-text translate>COMMON.BTN_APPLY</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="mobile">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <table
    mat-table
    matSort
    matSortDisableClear
    [dataSource]="dataSource"
    [matSortActive]="defaultSortBy"
    [matSortDirection]="defaultSortDirection"
    [trackBy]="trackByFn"
  >
    <ng-container matColumnDef="select" [sticky]="sticky && !mobile">
      <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="!canEdit || (mobile && !showToolbar)">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!canEdit || (mobile && !showToolbar)">
        <mat-checkbox (click)="toggleSelectRow($event, row)" [checked]="selection.isSelected(row)"></mat-checkbox>
      </td>
    </ng-container>

    <!-- rankOrder Column = id -->
    <ng-container matColumnDef="id" [sticky]="sticky">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [class.ion-padding-start]="!canEdit || mobile">
        <ion-label>#</ion-label>
      </th>
      <ng-container *matCellDef="let row">
        <td
          mat-cell
          [class.ion-padding-start]="!canEdit || mobile"
          *rxLet="
            row.currentData.qualificationComments || (row.validator.invalid && (row.validator | translateFormError: errorTranslatorOptions));
            let rowError
          "
          [title]="rowError || ''"
        >
          <ion-label matBadge="!" [matBadgeHidden]="!rowError && !showRowError" matBadgeOverlap="false" matBadgeColor="accent" matBadgeSize="small">
            {{ row.currentData.rankOrder || (row.currentData.id | mathAbs) }}
          </ion-label>
        </td>
      </ng-container>
    </ng-container>

    <!-- Quality Column -->
    <ng-container matColumnDef="quality">
      <th mat-header-cell *matHeaderCellDef>
        <!-- FIXME pas triable pour l'instant -->
        <ion-label translate>LANDING.TABLE.QUALITY</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <app-entity-quality-icon [value]="row.currentData"></app-entity-quality-icon>
      </td>
    </ng-container>

    <!-- Vessel Column -->
    <ng-container matColumnDef="vessel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>LANDING.TABLE.VESSEL</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label *ngIf="row?.currentData?.vesselSnapshot?.id !== unknownVesselId">
          {{ row.currentData?.vesselSnapshot | referentialToString: vesselSnapshotAttributes }}
        </ion-label>
      </td>
    </ng-container>

    <!-- Vessel type Column -->
    <ng-container matColumnDef="vesselType">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>LANDING.TABLE.VESSEL_TYPE</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label>{{ row.currentData?.vesselSnapshot?.vesselType | referentialToString: ['name'] }}</ion-label>
      </td>
    </ng-container>

    <!-- Vessel base port Column -->
    <ng-container matColumnDef="vesselBasePortLocation">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>LANDING.TABLE.VESSEL_BASE_PORT_LOCATION</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>
          {{ row.currentData.vesselSnapshot?.basePortLocation | referentialToString: autocompleteFields.location.attributes }}
        </ion-text>
      </td>
    </ng-container>

    <!-- Landing location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label translate>LANDING.TABLE.LOCATION</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-label>
          {{ row.currentData.location | referentialToString: autocompleteFields.location.attributes }}
        </ion-label>
      </td>
    </ng-container>

    <!-- date time  -->
    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-mdc-cell-date-time">
        <ion-label translate>LANDING.TABLE.DATE_TIME</ion-label>
      </th>
      <td mat-cell class="mat-mdc-cell-date-time" *matCellDef="let row">
        <ion-text *ngIf="getLandingDate(row.currentData); let landingDateTime">
          {{ landingDateTime | dateFormat: { time: true } }}
          <ion-text *ngIf="mobile" class="computed">
            <br />
            <small>{{ landingDateTime | dateFromNow }}</small>
          </ion-text>
        </ion-text>
      </td>
    </ng-container>

    <!-- Observers -->
    <ng-container matColumnDef="observers">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label>{{ 'LANDING.TABLE.OBSERVERS' | translateContext: i18nColumnSuffix }}</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData?.observers | personToString }}</ion-text>
      </td>
    </ng-container>

    <!-- creation date -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-mdc-cell-date-time">
        <span translate>LANDING.TABLE.CREATION_DATE</span>
      </th>
      <td mat-cell class="mat-mdc-cell-date-time" *matCellDef="let row">
        {{ row.currentData.creationDate | dateFormat: { time: false } }}
      </td>
    </ng-container>

    <!-- recorder -->
    <ng-container matColumnDef="recorderPerson">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ion-label translate>LANDING.TABLE.RECORDER_PERSON</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData?.recorderPerson | personToString }}</ion-text>
      </td>
    </ng-container>

    <!-- Pmfm columns -->
    <ng-container *ngFor="let pmfm of pmfms$ | async; trackBy: trackPmfmFn" [matColumnDef]="pmfm | pmfmIdString">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-column-pmfm mat-column-{{ pmfm.label }}"
        [class.mat-mdc-cell-date-time]="pmfm | isDatePmfm"
      >
        <ion-label>
          {{ pmfm | pmfmName: { html: true, i18nPrefix: i18nPmfmPrefix, i18nContext: i18nColumnSuffix } }}
        </ion-label>
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        class="mat-column-pmfm mat-column-{{ pmfm.label }}"
        [class.mat-mdc-cell-date-time]="pmfm | isDatePmfm"
        [class.mat-mdc-cell-computed]="pmfm | isComputedPmfm"
        (click)="focusColumn = pmfm.id.toString()"
      >
        @if (row.editing) {
          <app-pmfm-field
            [pmfm]="pmfm"
            [formControl]="row.validator | formGetControl: ['measurementValues', pmfm.id]"
            [compact]="pmfm?.type === 'boolean'"
            [autofocus]="row.editing && focusColumn == pmfm.id"
            floatLabel="never"
          ></app-pmfm-field>
        } @else if (mobile) {
          <ion-text
            [innerHTML]="
              row.currentData
                | measurementValueGet
                  : {
                      pmfm: pmfm,
                      html: true,
                      propertyNames: pmfm.isMultiple ? [qualitativeValueAttributes[0]] : qualitativeValueAttributes,
                      showYesOrNo: true
                    }
            "
          ></ion-text>
        } @else {
          <ion-text
            [innerHTML]="
              row.validator
                | formGetValue: ['measurementValues', pmfm.id]
                | pmfmValue
                  : {
                      pmfm: pmfm,
                      html: true,
                      propertyNames: pmfm.isMultiple ? [qualitativeValueAttributes[0]] : qualitativeValueAttributes,
                      showYesOrNo: true
                    }
            "
          ></ion-text>
        }
      </td>
    </ng-container>

    <!-- Sample count column -->
    <ng-container matColumnDef="samplesCount">
      <th mat-header-cell *matHeaderCellDef>
        <ion-label>{{ 'LANDING.TABLE.SAMPLES_COUNT' | translateContext: i18nColumnSuffix }}</ion-label>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-text>{{ row.currentData.samplesCount }}</ion-text>
      </td>
    </ng-container>

    <!-- Comments column -->
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="inlineEdition; else readonlyCell">
          <button
            *ngVar="row.validator | formGetValue: 'comments'; let comments"
            mat-icon-button
            [class.visible-hover]="!row.editing && !comments"
            (click)="openCommentPopover($event, row)"
            [disabled]="disabled"
            [title]="comments || ''"
          >
            <ion-icon [color]="comments ? 'tertiary' : 'medium'" name="chatbox" slot="icon-only"></ion-icon>
          </button>
        </ng-container>
        <ng-template #readonlyCell>
          <div *ngIf="row.currentData.comments; let comments" [title]="comments">
            <ion-icon *ngIf="comments | isNotNilOrBlank" color="secondary" name="chatbox" slot="icon-only"></ion-icon>
          </div>
        </ng-template>
      </td>
    </ng-container>

    <!-- Actions buttons column -->
    <ng-container matColumnDef="actions" [stickyEnd]="stickyEnd || singleSelectedRow">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button [title]="'COMMON.DISPLAYED_COLUMNS' | translate" (click)="openSelectColumnsModal($event)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let row">
        <ion-spinner *ngIf="row.validator?.pending" name="dots" [ngClass]="{ center: true }"></ion-spinner>

        <ng-container *ngIf="row.editing; else notEditing">
          <!-- undo or delete -->
          <button
            mat-icon-button
            color="light"
            *ngIf="row.validator?.invalid && canCancelOrDelete(row)"
            [title]="(row.id !== -1 ? 'COMMON.BTN_UNDO' : 'COMMON.BTN_DELETE') | translate"
            (click)="cancelOrDelete($event, row)"
          >
            <mat-icon *ngIf="row.id !== -1">undo</mat-icon>
            <mat-icon *ngIf="row.id === -1">delete_outline</mat-icon>
          </button>
          <!-- validate -->
          <button
            mat-icon-button
            color="light"
            *ngIf="row.validator?.valid && row.id !== -1"
            [title]="'COMMON.BTN_VALIDATE' | translate"
            (click)="confirmEditCreate($event, row)"
          >
            <mat-icon>check</mat-icon>
          </button>
        </ng-container>

        <ng-template #notEditing>
          <!-- Delete row button -->
          <button
            mat-icon-button
            *ngIf="enabled && singleSelectedRow === row && canCancelOrDelete(row); else otherButtons"
            [title]="'COMMON.BTN_DELETE' | translate"
            (click)="cancelOrDelete($event, row)"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <!-- Edit buttons (trip or sale) -->
          <ng-template #otherButtons>
            <button
              mat-icon-button
              *ngIf="row.id !== -1 && isTripDetailEditor"
              [color]="row.currentData.tripId ? 'primary' : 'medium'"
              [title]="'LANDING.TABLE.BTN_OPEN_TRIP' | translate"
              (click)="confirmAndEditTrip($event, row)"
            >
              <ion-icon name="boat" slot="icon-only"></ion-icon>
            </button>
            <button
              mat-icon-button
              *ngIf="row.id !== -1 && isSaleDetailEditor"
              [color]="(row.currentData.saleIds | isArrayLength: { equals: 1 }) ? 'primary' : 'dark'"
              [title]="'LANDING.TABLE.BTN_OPEN_SALE' | translate"
              (click)="confirmAndEditSale($event, row)"
            >
              <ion-icon name="pricetag" slot="icon-only"></ion-icon>
            </button>
          </ng-template>
        </ng-template>
      </td>
    </ng-container>

    <!-- *** FOOTER *** -->

    <!-- Observed species count footer -->
    <ng-container matColumnDef="footer-observedCount">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length - 2" class="mat-mdc-cell-content-start-padding">
        <ion-text
          color="primary"
          class="text-italic"
          [innerHTML]="
            'LANDING.TABLE.OBSERVED_SPECIES_COUNT'
              | translateContext
                : i18nColumnSuffix
                : { observedCount: (observedCount$ | async), minObservedCount: minObservedSpeciesCount, maxObservedCount: maxObservedSpeciesCount }
          "
        ></ion-text>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; when: isLanding"
      [class.mat-mdc-row-error]="row.validator?.invalid"
      [class.mat-mdc-row-dirty]="row.validator?.dirty"
      [class.mat-mdc-row-disabled]="!row.editing"
      [class.mat-mdc-row-selected]="highlightedRowId === row.id || (mobile && selection.isSelected(row))"
      [class.cdk-visually-hidden]="loadingSubject | async"
      (click)="clickRow($event, row)"
      (press)="pressRow($event, row)"
    ></tr>

    <!-- Divider -->
    <ng-container matColumnDef="divider" [sticky]="sticky" [class.mat-mdc-column-sticky]="sticky">
      <td mat-cell colspan="4" *matCellDef="let row" class="divider">
        @if (mobile) {
          <ion-text [innerHTML]="row.currentData | propertyGet: ['measurementValues', dividerPmfmId, 'name']"></ion-text>
        } @else {
          <ion-text [innerHTML]="row.validator | formGetValue: 'measurementValues' | mapGet: dividerPmfmId | mapGet: 'name'"></ion-text>
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="dividerColspan">
      <td mat-cell colspan="999" *matCellDef="let row" class="divider"></td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: ['divider', 'dividerColspan']; when: isDivider"></tr>

    <!-- footer -->
    <ng-container *ngIf="showFooter">
      <tr mat-footer-row *matFooterRowDef="footerColumns; sticky: useFooterSticky" [class.cdk-visually-hidden]="!totalRowCount"></tr>
    </ng-container>
  </table>

  <ng-container *ngIf="loadingSubject | async; else noResult">
    <ion-item>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-item>
  </ng-container>

  <ng-template #noResult>
    <ion-item *ngIf="totalRowCount === 0">
      <ion-text color="primary100" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
      <ng-container *ngTemplateOutlet="addRowButton"></ng-container>
    </ion-item>
  </ng-template>
</div>

<ion-footer *ngIf="showPaginator">
  <mat-paginator
    #paginator
    class="mat-paginator-footer"
    [length]="totalRowCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="defaultPageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
</ion-footer>

<!-- Add Fab Button  -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="enabled && showFabButton" visible-xs visible-sm visible-mobile>
  <ion-fab-button color="tertiary" (click)="addRow()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ng-template #addRowButton>
  <span *ngIf="!mobile && enabled">
    &nbsp;
    <ion-button color="medium" (click)="addRow()">
      <ion-icon name="add" slot="start"></ion-icon>
      <span translate>COMMON.BTN_ADD</span>
    </ion-button>
  </span>
</ng-template>

<!-- DEBUG -->
<ng-template #debugPanel>
  <app-debug title="Landings table">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          ready: {{ readySubject | async }}
          <br />
          loading: {{ loadingSubject | async }}
          <br />
          enabled: {{ enabled }}
          <br />
          dirty: {{ dirtySubject | async }}
          <br />
          valid: {{ valid }}
          <br />
          program: {{ programLabel }}
          <br />
          strategy {{ requiredStrategy ? '(required)' : '' }}: {{ strategyId || strategyLabel }}
          <br />
          <br />
          acquisitionLevel: {{ acquisitionLevel }}
          <br />
        </ion-col>
        <ion-col>
          pmfms: {{ (pmfms$ | async)?.length }}
          <br />
          visibleRowCount: {{ visibleRowCount }}
          <br />
          totalRowCount: {{ totalRowCount }}
          <br />
        </ion-col>
        <ion-col *ngIf="memoryDataService">
          service.starting: {{ memoryDataService.starting }}
          <br />
          service.started: {{ memoryDataService.started }}
          <br />
          service.dirty: {{ memoryDataService.dirtySubject | async }}
          <br />
          service.value: {{ !!memoryDataService.value }}
          <br />
        </ion-col>
        <ion-col *ngIf="memoryDataService">
          service.acquisitionLevel: {{ _dataService.acquisitionLevel }}
          <br />
          service.program: {{ _dataService.programLabel }}
          <br />
          service.strategy{{ _dataService.requiredStrategy ? ' (required)' : '' }}: {{ _dataService.strategyId || _dataService.strategyLabel }}
          <br />
          service.gear{{ _dataService.requiredGear ? ' (required)' : '' }}: {{ _dataService.gearId }}
          <br />
          service.visibleCount: {{ memoryDataService.count }}
          <br />
          service.hiddenCount: {{ memoryDataService.hiddenCount }}
          <br />
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-debug>
</ng-template>
