<app-toolbar [defaultBackHref]="defaultBackHref" canGoBack="true">
  <ion-title [innerHTML]="$title|async"></ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="slides.print($event)" >
      <ion-icon name="print"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<ion-content>

  <!-- error -->
  <ion-item *ngIf="error && showError" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <app-slides #slides *ngIf="!error"
              [options]="slidesOptions">
    <section *ngIf="loaded; else loadingTemplate">
      <section markdown ngPreserveWhitespaces>
        ## {{'LANDING.REPORT.SAMPLING.TITLE_SHORT'|translate}}
        - {{'LANDING.EDIT.SAMPLING.LANDING'|translate}} {{data.location?.name}}
        - {{'LANDING.EDIT.SAMPLING.STRATEGY'|translate}} {{strategyLabel}}
        - {{'LANDING.EDIT.SAMPLING.DATE'|translate}} : {{data.dateTime|dateFormat: {time: false} }}
        - {{'LANDING.REPORT.RECORDER_PERSON'|translate}} {{parent.observers|personToString}}
        - {{'LANDING.REPORT.VESSEL'|translate}} **{{data.vesselSnapshot?.registrationCode || data.vesselSnapshot?.name}}**

      </section>
    </section>
    <section *ngIf="loaded; else loadingTemplate">
      <section markdown ngPreserveWhitespaces *ngFor="let samples of (data.samples | splitArrayInChunks: 9); index as index; count as count">
        ### {{'LANDING.REPORT.SAMPLING.SAMPLES_TITLE'|translate}} {{index|paginationToString:count}}

        <table [style.--col-count]="pmfms.length">
          <thead>
            <tr>
              <th *ngFor="let pmfm of pmfms" [innerHTML]="pmfm|pmfmName: {i18nPrefix: i18nPmfmPrefix, i18nContext: i18nContext.suffix, html: true }"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sample of samples; even as even" [class.even]="even">
              <td *ngFor="let pmfm of pmfms" [innerHTML]="sample.measurementValues[pmfm.id]|pmfmValue: {pmfm: pmfm, html: true, propertyNames: ['label']}"></td>
            </tr>
          </tbody>
        </table>

      </section>
    </section>
  </app-slides>

  <ng-template #loadingTemplate>
    <div class="loader">
      <ion-spinner slot="start" color="secondary" size="large"></ion-spinner>
    </div>
  </ng-template>
</ion-content>
