<!-- <ion-col no-padding size="6" *ngFor="let pmfm of $pmfms | async; trackBy: trackPmfmFn">
  {{pmfm.name}}
</ion-col>-->

<form [formGroup]="form" (ngSubmit)="doSubmit($event)" class="form-container" [class.pmfm-disabled-hidden]="!showDisabledPmfm">
  <!-- debug -->
  @if (debug) {
    <ng-container *ngTemplateOutlet="debugPanel"></ng-container>
  }

  <!-- error -->
  @if (mobile && showError) {
    <app-error-item [message]="errorSubject | async"></app-error-item>
  }

  <!-- pmfms -->
  <ng-container *rxLet="pmfms$; let pmfms; suspense: measurementsSkeleton; strategy: 'immediate'; parent: false">
    <app-pmfm-field
      *rxFor="let pmfm of pmfms; trackBy: trackPmfmFn; strategy: 'userBLocking'; parent: false"
      [pmfm]="pmfm"
      [compact]="compact"
      [placeholder]="pmfm | pmfmName: { i18nPrefix: i18nPmfmPrefix, i18nSuffix: i18nSuffix }"
      [style]="pmfm | pmfmFieldStyle: maxItemCountForButtons"
      [maxVisibleButtons]="maxVisibleButtons"
      [showButtonIcons]="showButtonIcons"
      [floatLabel]="floatLabel"
    ></app-pmfm-field>
  </ng-container>
</form>

<ng-template #measurementsSkeleton>
  <ng-container *ngTemplateOutlet="measurementSkeleton"></ng-container>
  <ng-container *ngTemplateOutlet="measurementSkeleton"></ng-container>
</ng-template>

<ng-template #measurementSkeleton>
  <mat-form-field class="mat-form-field-disabled">
    <input matInput hidden />
    <ion-skeleton-text [animated]="animated" style="width: 60%"></ion-skeleton-text>
  </mat-form-field>
</ng-template>

<ng-template #debugPanel>
  <app-debug title="Measurements Form">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          ready: {{ readySubject | push }}
          <br />
          loading: {{ loadingSubject | push }}
          <br />
          enabled: {{ enabled }}
          <br />
          dirty: {{ dirty }}
          <br />
          valid: {{ valid }}
          <br />
          <br />
          i18nPmfmPrefix: {{ i18nPmfmPrefix }}
          <br />
          i18nSuffix: {{ i18nSuffix }}
        </ion-col>
        <ion-col>
          acquisitionLevel: {{ acquisitionLevel }}
          <br />
          program: {{ programLabel }}
          <br />
          strategy {{ requiredStrategy ? '(required)' : '' }}: {{ strategyId || strategyLabel }}
          <br />
          gear {{ requiredGear ? '(required)' : '' }}: {{ gearId }}
          <br />
          pmfms count: {{ (pmfms$ | push)?.length || 0 }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-debug>
</ng-template>
