.mat-mdc-form-field.with-prefix {
  .prefix-label {
    opacity: 1;
  }
  &.mat-form-field-hide-placeholder {
    .prefix-label {
      opacity: 0;
    }
  }

  .mat-mdc-form-field-infix {
    height: var(--mat-form-field-container-height, 45px);
    input {
      width: calc(100% - 25px);
      margin-inline-start: 6px;
    }
  }

}
