
ion-card {
  .visible-hover {
    visibility: hidden;
  }

  ion-card-title {

    &.tappable:hover {
      cursor: pointer;
      .visible-hover {
        visibility: visible;
      }
    }
  }
  ion-card-content {
    background-color: var(--ion-color-light-tint, whitesmoke);

    &.compact {
      padding-top: 6px;
      padding-bottom: 6px;

      input {
        text-overflow: ellipsis;
      }

      .tappable {
        cursor: pointer !important;
        &:hover {
          .visible-hover {
            visibility: visible;
          }
        }
      }

    }

    ion-label.status {
      font-size: 12px !important;
      color: var(--ion-color-step-850);

      ul {
        padding-inline-start: 16px;
      }

      &.tappable:hover {
        cursor: pointer;
        .visible-hover {
          visibility: visible;
        }
      }
    }


  }
}
