
ion-card {
  .visible-hover {
    visibility: hidden;
  }
  .tappable:hover {
    .visible-hover {
      cursor: pointer !important;
      visibility: visible;
    }
  }

  ion-card-content {
    background-color: var(--ion-color-light-tint, whitesmoke);
    --mdc-filled-text-field-disabled-container-color: transparent;
    --mdc-icon-button-margin-vertical: 4px;
    .mat-mdc-form-field {
      input {
        text-overflow: ellipsis;
      }
    }

    ion-label.status {
      font-size: 12px !important;
      color: var(--ion-color-step-850);

      ul {
        padding-inline-start: 16px;
      }

      &.tappable:hover {
        cursor: pointer;
        .visible-hover {
          visibility: visible;
        }
      }
    }


  }
}
