<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Lat/Long field test page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

    <ion-grid>

      <ion-row>
        <!-- Format -->
        <ion-col class="ion-padding">
          <ion-grid>
            <ion-row>
              <ion-col class="ion-float-end" size="auto">
                <label>Format:&nbsp;</label>
              </ion-col>
              <ion-col>
                <mat-select (valueChange)="setFormat($event)"
                            [value]="format">
                  <mat-option *ngFor="let item of formats" [value]="item.key">{{item.value|translate}}</mat-option>
                </mat-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

        <!-- Max decimals -->
        <ion-col class="ion-padding">
          <ion-grid>
            <ion-row>
              <ion-col class="ion-float-end" size="auto">
                <label>Nb decimals:&nbsp;</label>
              </ion-col>
              <ion-col>
                <mat-select (valueChange)="setMaxDecimals($event)"
                            [value]="maxDecimals">
                  <mat-option [value]="0">0</mat-option>
                  <mat-option [value]="1">2</mat-option>
                  <mat-option [value]="3">3</mat-option>
                  <mat-option [value]="4">4</mat-option>
                  <mat-option [value]="5">5</mat-option>
                  <mat-option [value]="6">6</mat-option>
                </mat-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>


        <!-- floatLabel -->
        <ion-col class="ion-padding">
          <ion-grid>
            <ion-row>
              <ion-col class="ion-float-end" size="auto">
                <label>floatLabel: </label>
              </ion-col>
              <ion-col>
                <mat-select (valueChange)="setFloatLabel($event)"
                            [value]="floatLabel">
                  <mat-option *ngFor="let item of floatLabels" [value]="item">{{item}}</mat-option>
                </mat-select>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- Empty -->
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Empty and required, with type '{{format}}'
                </ion-label>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>{{form|formGetValue:'empty'}}</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <mat-sampling-ratio-field formControlName="empty"
                                        [format]="format"
                                        [maxDecimals]="maxDecimals"
                                        [floatLabel]="floatLabel"
                                        [required]="true">
              </mat-sampling-ratio-field>
            </ion-card-content>
          </ion-card>
        </ion-col>


        <!-- Enable -->
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Enable, with type '{{format}}'
                </ion-label>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>{{form|formGetValue:'enable'}}</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <mat-sampling-ratio-field formControlName="enable"
                                        [format]="format"
                                        [maxDecimals]="maxDecimals"
                                        [floatLabel]="floatLabel">
              </mat-sampling-ratio-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Disable  -->
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Disable, with type '{{format}}'
                </ion-label>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>{{form|formGetValue:'disable'}}</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <mat-sampling-ratio-field formControlName="disable"
                                        [format]="format"
                                        [maxDecimals]="maxDecimals"
                                        [floatLabel]="floatLabel">
              </mat-sampling-ratio-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Readonly and Computed  -->
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <ion-label color="primary">
                  Readonly, with class 'computed'
                </ion-label>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-text color="medium">
                  <small><pre>{{form|formGetValue:'disable'}}</pre></small>
                </ion-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <mat-sampling-ratio-field formControlName="disable" class="computed"
                                        readonly="true"
                                        [format]="format"
                                        placeholder="Sampling Ratio"
                                        [floatLabel]="floatLabel">
              </mat-sampling-ratio-field>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

  </form>

</ion-content>
