:host {
  .mat-tab-group {
    --mat-tab-body-content-height: calc(100vh - var(--app-toolbar-height, 0px) - var(--mat-tab-link-height, 0px) - var(--app-form-buttons-bar-height, 0px) - 1px);
  }
}

.partner-logo {
  position: relative;
  display: inline-block;
  max-height: 50px;
}

.button-close {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
}

ion-skeleton-text {
  line-height: 18px;
}

ion-grid.cache {

  --ion-grid-column-padding: 5px;

  ion-row {
    &.mat-header-row {
      height: 40px;
      ion-col {
        vertical-align: center;
      }
    }
    &.computed ion-col ion-label,
    ion-label.computed
    {
      color: var(--ion-color-primary-tint) !important;
      font-style: italic !important;
    }
    &.odd {
      background-color: var(--ion-color-light);
    }

    ion-col {
      padding: var(--ion-grid-column-padding);
      ion-label {
        vertical-align: center;
      }
    }
  }
}
