
.table-container {
  --table-toolbar-height: 0px;
  height: calc(100% - var(--table-toolbar-height) - 1px);

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
}
.mat-mdc-table {
  .mat-column-gear {
    min-width: 250px;
    width: 300px;
    text-overflow: ellipsis;
  }
  .mat-column-subGearsCount {
    max-width: 50px;
  }
}

.ion-row.hidden {
  visibility: hidden;
  display: none;
}

ion-card {
  background-color: var(--ion-toolbar-background-color);
}
