ion-avatar img,
ion-avatar .avatar svg {
  border: 1px solid rgba(var(--ion-color-secondary-rgb, 0.5));
  border-radius: 5px;
}

.body {
  white-space: pre-line;
  user-select: text !important;

  ::ng-deep blockquote {
    margin: 0;
    padding-inline-start: 16px;
    border-inline-start: rgba(var(--ion-color-dark-rgb), 0.2) solid 1px;

    p {
      margin-block-start: 0;
      margin-block-end: 0;
      color: rgba(var(--ion-color-dark-rgb), 0.8);
    }
  }
}
