<app-toolbar [title]="'SOCIAL.MESSAGE.INBOX.TITLE' | translate" [canGoBack]="false"></app-toolbar>

<ion-content>
  <!-- actions -->
  <ion-toolbar color="light">
    <ion-title>{{ form | formGetValue : 'subject' }}</ion-title>
  </ion-toolbar>

  <div *ngIf="form | formGetValue; let data" class="ion-padding">
    <!-- date -->
    <ion-item class="ion-no-padding">
      <ion-avatar slot="start" *ngIf="data.issuer; let issuer">
        <img *ngIf="issuer.avatar; else generateIcon" src="{{ issuer.avatar }}" />

        <ng-template #generateIcon>
          <div class="avatar" *ngIf="issuer.id | isNotNilOrBlank">
            <svg width="40" width="40" [data-jdenticon-value]="issuer.id"></svg>
          </div>
        </ng-template>
      </ion-avatar>

      <ion-grid class="ion-no-margin ion-no-padding message">
        <ion-row>
          <ion-col size="12">
            <ion-text color="dark" translate>
              {{ 'SOCIAL.MESSAGE.INBOX.FROM' | translate }}
            </ion-text>
            <ion-text color="primary">
              {{ data.issuer | personToString }}
            </ion-text>
          </ion-col>
        </ion-row>

        <!-- date -->
        <ion-row>
          <ion-col size="6">
            <app-icon
              *ngIf="data.icon"
              [ref]="data.icon"
              height="16"
              width="16"
              style="vertical-align: sub; margin-right: 3px"
            ></app-icon>
            <small>
              <span>{{ data.creationDate | dateFromNow }}</span>
              <span style="color: gray">{{ ' | ' + (data.creationDate | dateFormat : { time: true }) }}</span>
            </small>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-buttons slot="end">
        <!-- reply -->
        <ion-button [title]="'SOCIAL.MESSAGE.INBOX.BTN_REPLY' | translate" (click)="reply($event)">
          <mat-icon slot="icon-only">reply</mat-icon>
        </ion-button>

        <!-- option menu -->
        <ion-button
          [matMenuTriggerFor]="optionsMenu"
          [title]="'COMMON.BTN_OPTIONS' | translate"
        >
          <mat-icon slot="icon-only">more_vert</mat-icon>
        </ion-button>

        <!-- Options menu -->
        <mat-menu #optionsMenu="matMenu">

          <!-- forward -->
          <button mat-menu-item (click)="forward($event)">
            <ion-label>
              <span translate>SOCIAL.MESSAGE.INBOX.BTN_FORWARD</span>
            </ion-label>
          </button>
        </mat-menu>

      </ion-buttons>
    </ion-item>

    <!-- Body -->
    <p class="body">
      <markdown [data]="data.body" emoji></markdown>
    </p>

  </div>
</ion-content>

<ion-footer *ngIf="!mobile">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>

        <ion-col size="auto">
          <!-- close -->
          <ion-button (click)="goBack($event)" color="dark" fill="clear">
            {{'COMMON.BTN_CLOSE' | translate}}
          </ion-button>

          <!-- reply -->
          <ion-button (click)="reply($event)" color="tertiary" fill="solid">
            {{'SOCIAL.MESSAGE.INBOX.BTN_REPLY' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
