.table-container {
  --table-toolbar-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height) - 1px);

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
  &.mobile {
    --mat-cell-horizontal-padding: 0px;
  }
}

.mat-mdc-table {
  --mat-row-max-height: 56px;
  --mat-cell-horizontal-padding: 4;
  --mat-column-actions-min-width: 98px;
  --mat-column-actions-max-width: 98px;


  .mat-mdc-header-row,
  .mat-mdc-row {
    padding: 0 0;
    z-index: 999;

    .mat-mdc-header-cell,
    .mat-mdc-cell {
      padding-inline-start: var(--mat-cell-horizontal-padding, 0) !important;
    }

    .mat-column-id {
      width: 40px !important;
    }

    .mat-column-parent {
      min-width: 175px;

      ion-label{
        max-width: 175px;
        min-width: 50px;
      }
    }

  }


}
