<ng-container [ngSwitch]="acquisitionLevel$|async">

  <!-- CATCH_BATCH (root) -->
  <form *ngSwitchCase="'CATCH_BATCH'"
        class="form-container"
        [formGroup]="form|formGetGroup:'measurementValues'"
        (ngSubmit)="doSubmit($event)">

    <!-- error -->
    <ion-item *ngIf="showError && (errorSubject|push); let error"
              visible-xs visible-sm visible-mobile lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
    </ion-item>

    <ng-container *rxIf="gridColCount$; let gridColCount; suspense: loadingSkeleton">

      <ion-grid class="ion-no-padding"
                [style.--ion-grid-columns]="gridColCount">

        <!-- gear pmfms  -->
        <ng-container *ngTemplateOutlet="pmfmsRow; context: {$implicit: gearPmfms$, gridColCount: gridColCount, title: 'TRIP.CATCH.FORM.ON_DECK', tabindex: tabindex+10}">
        </ng-container>

        <!-- on deck pmfms  -->
        <ng-container *ngTemplateOutlet="pmfmsRow; context: {$implicit: onDeckPmfms$, gridColCount: gridColCount, title: 'TRIP.CATCH.FORM.ON_DECK', tabindex: tabindex+10}">
        </ng-container>

        <!-- Sorting pmfms -->
        <ng-container *ngTemplateOutlet="pmfmsRow; context: {$implicit: sortingPmfms$, gridColCount: gridColCount, title: 'TRIP.CATCH.FORM.SORTING', tabindex: tabindex+20}">
        </ng-container>

        <!-- Catch weight pmfms -->
        <ng-container *ngTemplateOutlet="pmfmsRow; context: {
            $implicit: catchPmfms$,
            gridColCount: gridColCount,
            title: 'TRIP.CATCH.FORM.TOTAL_CATCH',
            tabindex: tabindex+30
          }">
        </ng-container>

        <!-- Other features -->
        <ng-container *ngTemplateOutlet="pmfmsRow; context: {
              $implicit: otherPmfms$,
              gridColCount: gridColCount,
              title: '',
              tabindex: tabindex+40
            }">
        </ng-container>

      </ion-grid>
    </ng-container>

    <ng-template #pmfmsRow let-pmfms let-title="title" let-tabindex="tabindex" let-gridColCount="gridColCount">
      <ng-container *ngIf="pmfms|async|arrayFilter: isVisiblePmfm; let pmfms">
        <ion-row *ngIf="pmfms|isNotEmptyArray">
          <ion-col [size]="gridColCount" [sizeMd]="labelColSize">
            <ion-label class="ion-float-end"><span translate>{{title}}</span>
            </ion-label>
          </ion-col>
          <ng-container *rxFor="let pmfm of pmfms; trackBy: trackPmfmFn; index as i; strategy: rxStrategy">
            <ion-col *ngVar="pmfm|pmfmFieldStyle:maxItemCountForButtons as style"
                     [size]="gridColCount"
                     [offsetMd]="pmfm.isQualitative && style === 'button' ? labelColSize : undefined"
                     [sizeMd]="pmfm.isQualitative && style === 'button' ? gridColCount - labelColSize : 1">
              <app-pmfm-field [pmfm]="pmfm"
                              [formControlName]="pmfm|pmfmIdString"
                              [style]="style"
                              [compact]="compact"
                              [tabindex]="tabindex + i * 3"
                              [maxVisibleButtons]="maxVisibleButtons"
                              [i18nPrefix]="i18nPmfmPrefix"
                              [i18nSuffix]="i18nSuffix">
              </app-pmfm-field>
            </ion-col>
          </ng-container>

        </ion-row>
      </ng-container>
    </ng-template>


    <ng-template #loadingSkeleton>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" size-md="3">
            <ion-label class="ion-float-end" translate>TRIP.CATCH.FORM.TOTAL_CATCH</ion-label>
          </ion-col>
          <ion-col size="6" size-md="auto">
            <mat-form-field>
              <input matInput hidden disabled>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>

  </form>

  <!-- SORTING_BATCH layout -->
  <app-batch-form-content *ngSwitchCase="'SORTING_BATCH'" [debug]="false">
  </app-batch-form-content>
</ng-container>
