<!-- DEBUG -->
<ng-container *ngIf="debug">
  <ng-container *ngTemplateOutlet="debugPanel"></ng-container>
</ng-container>

<mat-tab-group
  #tabGroup
  class="mat-tab-group-header-pagination-hidden mat-mdc-tab-disabled-hidden mat-mdc-tab-fixed-content mat-tab-group-samples"
  [class.mat-mdc-tab-group-header-hidden]="mobile"
  [(selectedIndex)]="selectedTabIndex"
  (selectedTabChange)="onTabChange($event)"
  [dynamicHeight]="false"
  animationDuration="0s"
>
  <!-- TAB: Samples  -->
  <mat-tab #sampleTab [label]="'TRIP.SAMPLE.TABLE.TAB_SAMPLES' | translateContext: i18nContext.suffix">
    <ng-template mat-tab-label>
      <mat-icon svgIcon="fish-oblique"></mat-icon>
      <ion-label>{{ sampleTab.textLabel }}</ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && samplesTable.invalid"></ion-icon>
    </ng-template>

    <app-samples-table
      #samplesTable
      acquisitionLevel="SAMPLE"
      [requiredStrategy]="requiredStrategy$ | async"
      [strategyId]="strategyId$ | async"
      [requiredGear]="requiredGear$ | async"
      [gearId]="gearId$ | async"
      [usageMode]="usageMode"
      [disabled]="disabled"
      [showToolbar]="!mobile"
      [sticky]="sticky"
      [stickyEnd]="stickyEnd"
      [pmfmGroups]="pmfmGroups"
      [defaultSampleDate]="defaultSampleDate"
      (prepareRowForm)="prepareRowForm.emit($event)"
      [weightDisplayedUnit]="weightDisplayedUnit"
      [compactFields]="compactFields"
      [mobile]="mobile"
      [debug]="debug"
    ></app-samples-table>
  </mat-tab>

  <!-- TAB: Individual monitoring (desktop only) -->
  <mat-tab
    #individualMonitoringTab
    *ngIf="!mobile"
    [label]="'TRIP.SAMPLE.TABLE.TAB_SUB_SAMPLES' | translateContext: i18nContext.suffix"
    [disabled]="!showIndividualMonitoringTable"
  >
    <ng-template mat-tab-label>
      <mat-icon>center_focus_strong</mat-icon>
      <ion-label
        [matBadge]="individualMonitoringTable.visibleRowCount | badgeNumber"
        [matBadgeHidden]="individualMonitoringTable.invalid || !individualMonitoringTable.visibleRowCount"
        matBadgeOverlap="false"
        matBadgeColor="primary"
        matBadgeSize="small"
        matBadgePosition="above after"
      >
        {{ individualMonitoringTab.textLabel }}
      </ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && individualMonitoringTable.invalid"></ion-icon>
    </ng-template>

    <app-individual-monitoring-table
      #individualMonitoringTable
      (ngInit)="onInitTable(individualMonitoringTable)"
      [programLabel]="programLabel$ | async"
      [requiredStrategy]="requiredStrategy$ | async"
      [strategyId]="strategyId$ | async"
      [requiredGear]="requiredGear$ | async"
      [gearId]="gearId$ | async"
      [usageMode]="usageMode"
      [sticky]="sticky"
      [showToolbar]="true"
      [showLabelColumn]="false"
      [weightDisplayedUnit]="weightDisplayedUnit"
      [mobile]="false"
      [debug]="debug"
    ></app-individual-monitoring-table>
  </mat-tab>

  <!-- TAB: Individual releases (desktop only)  -->
  <mat-tab
    #individualReleaseTab
    *ngIf="!mobile"
    label="{{ 'TRIP.SAMPLE.TABLE.TAB_INDIVIDUAL_RELEASES' | translate }}"
    [disabled]="!showIndividualReleaseTable"
  >
    <ng-template mat-tab-label>
      <mat-icon>room</mat-icon>
      <ion-label
        [matBadge]="individualReleaseTable.visibleRowCount | badgeNumber"
        [matBadgeHidden]="individualReleaseTable.invalid || !individualReleaseTable.visibleRowCount"
        matBadgeOverlap="false"
        matBadgeColor="primary"
        matBadgeSize="small"
        matBadgePosition="above after"
      >
        {{ individualReleaseTab.textLabel }}
      </ion-label>
      <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && individualReleaseTable.invalid"></ion-icon>
    </ng-template>

    <app-individual-releases-table
      #individualReleaseTable
      (ngInit)="onInitTable(individualReleaseTable)"
      [programLabel]="programLabel$ | async"
      [requiredStrategy]="requiredStrategy$ | async"
      [strategyId]="strategyId$ | async"
      [requiredGear]="requiredGear$ | async"
      [gearId]="gearId$ | async"
      [usageMode]="usageMode"
      [sticky]="sticky"
      [showToolbar]="true"
      [showLabelColumn]="false"
      [mobile]="false"
      [debug]="debug"
    ></app-individual-releases-table>
  </mat-tab>
</mat-tab-group>

<ng-template #debugPanel>
  <app-debug title="Sample tree">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          ready: {{ readySubject | async }})
          <br />
          loading: {{ loading }} (subject: {{ loadingSubject | async }})
          <br />
          dirty: {{ dirty }} - value: {{ !!data }}
          <br />
          valid: {{ valid }}
          <br />
          disabled: {{ disabled }}
          <br />
          program: {{ programLabel$ | async }}
          <br />
          strategy{{ requiredStrategy ? ' (required)' : '' }}: {{ strategyId$ | async }}
          <br />
          gear{{ requiredGear ? ' (required)' : '' }}: {{ gearId$ | async }}
          <br />
          <br />
          i18nContext.suffix: {{ i18nContext.suffix }}
          <br />
          <br />
          showLabelColumn: {{ showLabelColumn }}
          <br />
          showTaxonGroupColumn: {{ showTaxonGroupColumn }}
          <br />
          showTaxonNameColumn: {{ showTaxonNameColumn }}
          <br />
          showSampleDateColumn: {{ showSampleDateColumn }}
          <br />
          showImagesColumn: {{ showImagesColumn }}
          <br />
          showIndividualMonitoringTable: {{ showIndividualMonitoringTable }}
          <br />
          showIndividualReleaseTable: {{ showIndividualReleaseTable }}
        </ion-col>

        <ion-col *ngIf="samplesTable">
          samplesTable.ready: {{ samplesTable.readySubject | async }}
          <br />
          samplesTable.loading: {{ samplesTable.loading }}
          <br />
          samplesTable.dirty: {{ samplesTable.dirtySubject | async }}
          <br />
          samplesTable.valid: {{ samplesTable.valid }}
          <br />
          samplesTable.disabled: {{ samplesTable.disabled }}
          <br />
          samplesTable.program: {{ samplesTable.programLabel }}
          <br />
          samplesTable.strategy{{ samplesTable.requiredStrategy ? ' (required)' : '' }}: {{ samplesTable.strategyId }}
          <br />
          samplesTable.gear{{ samplesTable.requiredGear ? ' (required)' : '' }}: {{ samplesTable.gearId }}
          <br />
          <br />
          samplesTable.acquisitionLevel: {{ samplesTable.acquisitionLevel }}
          <br />
          samplesTable.pmfms: {{ (samplesTable.pmfms$ | async)?.length }}
          <br />
          <br />
          samplesTable.allowSubSamples: {{ samplesTable.allowSubSamples }}
          <br />
          samplesTable.showIndividualReleaseButton: {{ samplesTable.showIndividualReleaseButton }}
          <br />
          samplesTable.showLabelColumn: {{ samplesTable.showLabelColumn }}
          <br />
          samplesTable.showTaxonGroupColumn: {{ samplesTable.showTaxonGroupColumn }}
          <br />
          samplesTable.showTaxonNameColumn: {{ samplesTable.showTaxonNameColumn }}
          <br />
          samplesTable.showSampleDateColumn: {{ samplesTable.showSampleDateColumn }}
          <br />
          samplesTable.showImagesColumn: {{ samplesTable.showImagesColumn }}
          <br />
          samplesTable.hasRankOrder: {{ samplesTable.hasRankOrder }}
          <br />
          samplesTable.compactFields: {{ samplesTable.compactFields }}
        </ion-col>
        <ion-col *ngIf="individualMonitoringTable">
          individualMonitoringTable.ready: {{ individualMonitoringTable.readySubject | async }}
          <br />
          individualMonitoringTable.loading: {{ individualMonitoringTable.loading }}
          <br />
          individualMonitoringTable.dirty: {{ individualMonitoringTable.dirtySubject | async }}
          <br />
          individualMonitoringTable.valid: {{ individualMonitoringTable.valid }}
          <br />
          individualMonitoringTable.disabled: {{ individualMonitoringTable.disabled }}
          <br />
          individualMonitoringTable.program: {{ individualMonitoringTable.programLabel }}
          <br />
          individualMonitoringTable.strategy{{ individualMonitoringTable.requiredStrategy ? ' (required)' : '' }}:
          {{ individualMonitoringTable.strategyId }}
          <br />
          individualMonitoringTable.gear{{ individualMonitoringTable.requiredGear ? ' (required)' : '' }}: {{ individualMonitoringTable.gearId }}
          <br />
          <br />
          individualMonitoringTable.acquisitionLevel: {{ individualMonitoringTable.acquisitionLevel }}
          <br />
          individualMonitoringTable.pmfms: {{ (individualMonitoringTable.pmfms$ | async)?.length }}
          <br />
          <br />
          individualMonitoringTable.showLabelColumn: {{ individualMonitoringTable.showLabelColumn }}
          <br />
          individualMonitoringTable.hasRankOrder: {{ individualMonitoringTable.hasRankOrder }}
        </ion-col>
        <ion-col *ngIf="individualReleasesTable">
          individualReleasesTable.ready: {{ individualReleasesTable.readySubject | async }}
          <br />
          individualReleasesTable.loading: {{ individualReleasesTable.loadingSubject | async }}
          <br />
          individualReleasesTable.dirty: {{ individualReleasesTable.dirtySubject | async }}
          <br />
          individualReleasesTable.valid: {{ individualReleasesTable.valid }}
          <br />
          individualReleasesTable.disabled: {{ individualReleasesTable.disabled }}
          <br />
          individualReleasesTable.program: {{ individualReleasesTable.programLabel }}
          <br />
          individualReleasesTable.strategy{{ individualReleasesTable.requiredStrategy ? ' (required)' : '' }}:
          {{ individualReleasesTable.strategyId }}
          <br />
          individualReleasesTable.gear{{ individualReleasesTable.requiredGear ? ' (required)' : '' }}: {{ individualReleasesTable.gearId }}
          <br />
          <br />
          individualReleasesTable.acquisitionLevel: {{ individualReleasesTable.acquisitionLevel }}
          <br />
          individualReleasesTable.pmfms: {{ (individualReleasesTable.pmfms$ | async)?.length }}
          <br />
          <br />
          individualReleasesTable.showLabelColumn: {{ individualReleasesTable.showLabelColumn }}
          <br />
          individualReleasesTable.hasRankOrder: {{ individualReleasesTable.hasRankOrder }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-debug>
</ng-template>
