.table-container {
  --mat-table-header-headline-size: 12px;
  --mat-table-header-headline-line-height: 12px;
  --mat-cell-horizontal-padding: 4px;

  td.mat-column-gear.mat-mdc-header-cell,
  td.mat-column-metier.mat-mdc-header-cell {
    font-size: var(--mat-table-header-headline-size, var(--mat-app-title-small-size, 14px));
    font-weight: var(--mat-table-header-headline-weight, var(--mat-app-title-small-weight, 500));
    letter-spacing: var(--mat-table-header-headline-tracking, var(--mat-app-title-small-tracking));
  }

  .mat-column-pmfm {
    padding: 0 var(--mat-cell-horizontal-padding);
    &.odd {
      background-color: var(--ion-color-light) !important;
    }
  }
}
