<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">

  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>

      <!-- Taxon group -->
      <ion-col size="12" size-md="6" [class.cdk-visually-hidden]="!showTaxonGroup">
        <mat-autocomplete-field formControlName="taxonGroup"
                                [autofocus]="enabled && !mobile && showTaxonGroup"
                                [placeholder]="'TRIP.BATCH.EDIT.TAXON_GROUP'|translate"
                                [tabindex]="showTaxonGroup ? tabindex : -1"
                                [required]="showTaxonGroup"
                                [config]="autocompleteFields.taxonGroup"
                                [showSearchBar]="!autocompleteFields.taxonGroup.items">
        </mat-autocomplete-field>
      </ion-col>

      <!-- Taxon name (scientific species) -->
      <ion-col size="12" size-md="6" *ngIf="showTaxonName">
        <mat-autocomplete-field formControlName="taxonName"
                                [autofocus]="enabled && !mobile && !showTaxonGroup && showTaxonName"
                                [placeholder]="'TRIP.BATCH.EDIT.TAXON_NAME'|translate"
                                [tabindex]="tabindex+1"
                                [required]="showTaxonName"
                                [config]="autocompleteFields.taxonName"
                                [filter]="taxonNameFilter">
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- Measurements -->
    <ion-row class="ion-no-padding" [formGroup]="measurementValuesForm">
      <ion-col *ngFor="let pmfm of $pmfms | async; trackBy: trackPmfmFn; index as i;"
               size="12" class="ion-no-padding">
          <app-pmfm-field #matInput [pmfm]="pmfm"
                          [hidden]="pmfm.hidden || matInput.formControl?.disabled"
                          [controlName]="pmfm|pmfmIdString"
                          [style]="pmfm|pmfmFieldStyle:maxVisibleButtons"
                          [compact]="compact"
                          [tabindex]="tabindex+2 + i*2">
          </app-pmfm-field>
      </ion-col>
    </ion-row>

    <!-- Total weight -->
    <ion-row *ngIf="defaultWeightPmfm && showWeight">
      <ion-col class="ion-no-padding">
        <app-pmfm-field [class.computed]="(form|formGetControl: 'weight.computed').value"
                        [readonly]="(form|formGetControl: 'weight.computed').value"
                        [pmfm]="defaultWeightPmfm"
                        [formControl]="form|formGetControl: 'weight.value'"
                        [placeholder]="'TRIP.BATCH.EDIT.TOTAL_WEIGHT'|translate"
                        [compact]="compact"
                        [tabindex]="tabindex+28"
                        [listenStatusChanges]="true">
        </app-pmfm-field>

      </ion-col>

      <!-- is estimated weight ?-->
      <ion-col size="6" class="ion-no-padding" padding-left *ngIf="showEstimatedWeight">

        <mat-form-field floatLabel="never">
          <!-- fake input -->
          <input matInput hidden>

          <ion-label>&nbsp;</ion-label>

          <!-- checkbox, when compact -->
          <mat-checkbox matPrefix
                        [formControl]="form|formGetControl:'weight.estimated'"
                        labelPosition="after"
                        [tabIndex]="tabindex+29">
            <ion-text translate>TRIP.BATCH.EDIT.ESTIMATED_WEIGHT</ion-text>
          </mat-checkbox>
        </mat-form-field>

      </ion-col>
    </ion-row>

    <!-- Total NB individual  -->
    <ion-row class="ion-no-padding" *ngIf="showIndividualCount">
      <ion-col class="ion-no-padding">
        <mat-form-field>
          <input matInput
                 formControlName="individualCount"
                 autocomplete="off"
                 type="number"
                 step="1"
                 pattern="[0-9]*"
                 (click)="selectInputContent($event)"
                 [placeholder]="'TRIP.BATCH.EDIT.TOTAL_INDIVIDUAL_COUNT'|translate"
                 [tabindex]="tabindex + 30"
                 [required]="requiredIndividualCount">

          <mat-error *ngIf="form.controls.individualCount.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          <mat-error *ngIf="form.controls.individualCount.hasError('min')">
            {{(compact ? 'ERROR.FIELD_MIN_COMPACT' : 'ERROR.FIELD_MIN') | translate:form.controls.individualCount.errors['min'] }}</mat-error>
          <mat-error *ngIf="form.controls.individualCount.hasError('integer')">
            {{'ERROR.FIELD_NOT_VALID_INTEGER'| translate }}</mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <!-- Sampling batch -->
    <div formArrayName="children" [class.cdk-visually-hidden]="!showSamplingBatch">
      <ion-row class="ion-no-padding" [class.cdk-visually-hidden]="requiredSampleWeight">
        <ion-col class="ion-no-padding">
          <!-- checkbox, when compact -->
          <mat-checkbox [checked]="isSampling"
                        [disabled]="disabled"
                        labelPosition="after"
                        [tabIndex]="showSamplingBatch && !requiredSampleWeight ? tabindex+31 : -1"
                        (change)="setIsSampling($event.checked)">
            <ion-text>{{'TRIP.BATCH.EDIT.IS_SAMPLING'|translate}}</ion-text>
          </mat-checkbox>
        </ion-col>
      </ion-row>

      <ng-container *ngFor="let samplingBatchForm of children.controls; index as index" >
        <ng-container *ngVar="{
                            samplingRatio: samplingBatchForm|formGetControl:'samplingRatio',
                            samplingRatioText: samplingBatchForm|formGetControl:'samplingRatioText',
                            samplingRatioComputed: samplingBatchForm|formGetControl:'samplingRatioComputed',
                            weightValue: samplingBatchForm|formGetControl: 'weight.value',
                            weightComputed: samplingBatchForm|formGetControl: 'weight.computed',
                            childrenWeightValue: samplingBatchForm|formGetControl: 'childrenWeight.value',
                            childrenWeightComputed: samplingBatchForm|formGetControl: 'childrenWeight.computed',
                            childrenWeightMethodId: samplingBatchForm|formGetControl: 'childrenWeight.methodId'
                         } as controls">
          <ion-row class="ion-no-padding" *ngIf="controls.childrenWeightValue?.value">
            <ion-col offset="4" class="ion-no-padding">
              <mat-form-field class="computed">
                <input matInput
                       autocomplete="off"
                       [formControl]="controls.childrenWeightValue"
                       [readonly]="true"
                       type="number"
                       (click)="selectInputContent($event)"
                       [placeholder]="weightPmfmsByMethod|mapGet:controls.childrenWeightMethodId.value|pmfmName:{i18nPrefix: i18nPmfmPrefix, i18nContext: i18nSuffix}"
                       [tabindex]="-1">

                <!-- copy children weight -->
                <button type="button" mat-icon-button matSuffix
                        (click)="copyChildrenWeight($event, samplingBatchForm)"
                        [title]="'TRIP.BATCH.EDIT.BTN_APPLY_CHILDREN_WEIGHT'|translate">
                  <mat-icon>arrow_downward</mat-icon>
                </button>
                <mat-error *ngIf="controls.childrenWeightValue.errors|mapKeys|arrayFirst; let errorKey" [ngSwitch]="errorKey">
                  <span *ngSwitchCase="'required'" translate>ERROR.FIELD_REQUIRED</span>
                  <span *ngSwitchCase="'min'">{{'ERROR.FIELD_MIN' | translate: controls.childrenWeightValue.errors.min }}</span>
                  <span *ngSwitchCase="'maxDecimals'">
                      {{ 'ERROR.FIELD_MAXIMUM_DECIMALS_COMPACT'| translate:controls.childrenWeightValue.errors.maxDecimals }}</span>
                  <span *ngSwitchDefault translate>ERROR.FIELD_INVALID</span>
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="ion-no-padding" >

            <!-- Sampling ratio -->
            <ion-col size="4" class="ion-no-padding">
              <mat-sampling-ratio-field [class.computed]="controls.samplingRatioComputed.value"
                                        [readonly]="controls.samplingRatioComputed.value"
                                        [formControl]="controls.samplingRatio"
                                        [format]="samplingRatioFormat"
                                        [tabindex]="tabindex + 32">
              </mat-sampling-ratio-field>
            </ion-col>

            <!-- Sampling weight -->
            <ion-col class="ion-no-padding" *ngIf="defaultWeightPmfm && showSampleWeight">

              <app-pmfm-field [pmfm]="defaultWeightPmfm"
                              [formControl]="controls.weightValue"
                              [readonly]="controls.weightComputed.value"
                              [class.computed]="controls.weightComputed.value"
                              [placeholder]="'TRIP.BATCH.EDIT.SAMPLING_WEIGHT'|translate"
                              [compact]="compact"
                              [tabindex]="tabindex+33"
                              [listenStatusChanges]="true">
              </app-pmfm-field>

            </ion-col>

            <!-- Sampling individual count -->
            <ion-col size="4" class="ion-no-padding" *ngIf="showSampleIndividualCount">
              <mat-form-field>
                <input matInput
                       autocomplete="off"
                       [formControl]="samplingBatchForm|formGetControl: 'individualCount'"
                       type="number"
                       step="1"
                       pattern="[0-9]*"
                       (click)="selectInputContent($event)"
                       [placeholder]="'TRIP.BATCH.EDIT.SAMPLING_INDIVIDUAL_COUNT'|translate"
                       [tabindex]="tabindex + 34">
              </mat-form-field>
            </ion-col>

            <!-- DEBUG -->
            <ion-col size="12" *ngIf="debug">
              <ion-text color="primary">
                Sampling ratio: {{controls.samplingRatio.value}} <br/>
                Sampling ratio text: {{controls.samplingRatioText.value}} (type: {{samplingRatioFormat||'null'}}{{ (controls.samplingRatioComputed.value) ? ', computed' : ''}})<br/>
                Sampling weight: {{controls.weightValue.value }} {{controls.weightComputed.value?'(computed)':'' }}<br/>
                Sampling children weight: {{controls.childrenWeightValue.value }} {{controls.childrenWeightComputed.value?'(computed)':'' }}<br/>
                <br/>
                defaultWeightPmfm: {{defaultWeightPmfm?.label}} (maxDecimals: {{defaultWeightPmfm?.maximumNumberDecimals}})<br/>
                <span *ngIf="weightPmfmsByMethod|mapGet:controls.childrenWeightMethodId?.value; let childrenWeightPmfm">
                  Children weight pmfm : {{childrenWeightPmfm.label}} (maxDecimals: {{childrenWeightPmfm.maximumNumberDecimals}})
                </span>
              </ion-text>
            </ion-col>

          </ion-row>
        </ng-container>
      </ng-container>
    </div>

    <ng-content></ng-content>

  </ion-grid>


</form>


<ng-template #loadingSpinner>
  <ion-spinner class="ion-align-self-center"></ion-spinner>
</ng-template>
