// --------------------------------------------------
// Import globals
// --------------------------------------------------
@import "theme.globals";

// --------------------------------------------------
// Import Reveal.js
// --------------------------------------------------
@import "~reveal.js/dist/reveal.css";
@import "reveal/theme/simple";

@import "~reveal.js/plugin/highlight/zenburn.css";
@import "~reveal.js-plugins/chalkboard/style.css";
@import "~reveal.js-plugins/customcontrols/style.css";
@import "~reveal.js-plugins/menu/menu.css";

// --------------------------------------------------
// Reveal globals variables
// --------------------------------------------------

:root {
  --hightlight-color: yellow;
  --r-background-color: #fff;
  --r-main-font: 'Roboto', Helvetica, Arial, sans-serif;
  --r-main-font-size: 30px;
  --r-main-color: $dark;
  --r-block-margin: 10px;
  --r-heading-margin: 0 0 10px 0;
  --r-heading-font: 'Roboto', Helvetica, Arial, sans-serif;
  --r-heading-color: var(--ion-color-secondary);
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: none;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: normal;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 3.77em;
  --r-heading2-size: 2.11em;
  --r-heading3-size: 1.55em;
  --r-heading4-size: 1em;
  --r-code-font: monospace;
  --r-link-color: var(--ion-color-secondary);
  --r-link-color-dark: var(--ion-color-primary900);
  --r-link-color-hover: var(--ion-color-primary900);
  --r-selection-background-color: rgba(0, 0, 0, 0.99);
  --r-selection-color: #fff;
  --r-table-cell-font-size: 0.65em;
  --r-table-max-width: 100%;
}

// --------------------------------------------------
// Override for app
// --------------------------------------------------

.slides img{
  border: 0 !important;
  background:none !important;
  box-shadow: none !important;
}

.hidden {
  visibility: hidden;
  display: none;
}


.reveal b, .reveal strong {
  color: var(--r-link-color);
}
.reveal canvas[data-chart].theme-black {
  background-color: rgba(0,0,0,0.5);
}

.reveal .loader {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: calc(50vh - var(--app-toolbar-height));
}

.reveal p {
  --r-main-font-size: 0.9em;
  --r-main-color: var(--ion-color-dark);
  color: var(--r-main-color) !important;
  font-size: var(--r-main-font-size) !important;
}

/*********************************************
 * TABLE
 *********************************************/

.reveal table {
  max-width: var(--r-table-max-width, 100%);
  --r-table-col-count: var(--col-count, 1);
  th small {
    display: block;
  }

  th, td {
    font-size: var(--r-table-cell-font-size);
    max-width: calc(var(--r-table-max-width) / var(--r-table-col-count));
  }

  th {
    b, strong {
      color: black !important;
    }
    .pmfm-details {
      color: rgba(0,0,0,0.7) !important;
      font-weight: normal;
      font-size: smaller;
    }
  }
  tr.even {
    background-color: whitesmoke;
  }
}
/*********************************************
 * TABLE image gallery
 *********************************************/

@media print {
  .reveal table.gallery {
    --r-table-width: calc(90vw);

    td {
      min-width: calc(var(--r-table-width) / var(--col-count, 3));
    }

    img {
      max-height: calc(45vh);
    }
  }
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
  html:not(.print-pdf) body {
    width: 100%;
    margin: 0;
  }
}
