// --------------------------------------------------
// Import SUMARiS themes variables
// --------------------------------------------------
@import 'theme.globals';
// --------------------------------------------------
// Import ngx-components theme
// --------------------------------------------------
@import '@sumaris-net/ngx-components/src/theme/theme';
// --------------------------------------------------
// Import print style
// --------------------------------------------------
@import 'print';

// --------------------------------------------------
// SUMARiS theme
// --------------------------------------------------
@import 'theme.tabs';
@import 'theme.table';
@import 'theme.forms';

// --------------------------------------------------
// Override material style
// --------------------------------------------------
.mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
  transform: translateY(0px) !important;
}

ion-content.ion-flex-direction-column::part(scroll),
.ion-flex-direction-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
ion-content.ion-flex-direction-column::part(scroll) {
  height: calc(100% - 2px);
}

.mat-expansion-panel.filter-panel {
  &.filter-panel-pinned {
    overflow-y: scroll;
  }

  margin-bottom: 5px;
  --expansion-panel-padding: 0 !important;

  // Reduce filter form field subscript size
  .form-container {
    --app-form-color: var(--ion-color-secondary-color-contrast);
    --app-form-field-background-color: tranparent;
    --app-form-field-focus-background-color: tranparent;
    --mat-form-field-subscript-text-line-height: 16px;
    .mat-mdc-form-field-bottom-align::before {
      height: 16px;
    }
  }

  mat-action-row {
    height: 46px;

    ion-label {
      line-height: 36px;
    }
  }
}

.mat-toolbar,
.mat-toolbar-single-row {
  background-color: #{$mat-toolbar-background-color};
  height: var(--mat-toolbar-height);
}

// Smaller title on xxs device
@media screen and (max-width: $screen-xxs-max) {
  ion-toolbar ion-title {
    font-size: 16px;
    padding-inline: 0;
  }
}

// Smaller title on xs device
@media screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
  ion-toolbar ion-title {
    font-size: 18px;
    padding-inline: 6px;
  }
}

ion-toast {
  &.secondary {
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-primary);
    --button-color: var(--ion-color-tertiary);
  }
}

// Form buttons bar
app-form-buttons-bar {
  // Default width of form bar left buttons
  --form-buttons-bar-buttons-width: 400px;
}

// Measurement form
@media screen and (max-width: $screen-sm-max) {
  .measurements-form-padding-start {
    /* Add offset = icon width (24px) + margin (2*5px) */
    padding-inline-start: 34px;
  }
}

/* -- FAB buttons -- */
ion-fab {
  ion-fab-button[title] {
    position: relative;
  }

  ion-fab-button[title]::after {
    position: absolute;
    content: attr(title);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-medium);
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow:
      0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }

  ion-fab-button {
    .icon-secondary {
      position: absolute;
      left: 21px;
      top: 3px;
      font-size: 16px;
    }
  }
}

.popover-notifications {
  --popover-top: 110px;
}

/* -- Mat menu -- */

.mat-mdc-menu-panel {
  .mat-mdc-menu-item.activated {
    background-color: var(--ion-color-secondary100);
    color: var(--ion-color-secondary100-contrast);
  }
}

.mat-mdc-menu-content {
  .mat-mdc-menu-item-text {
    overflow: hidden;
    text-overflow: ellipsis;

    // Many label (e.g. for shortcut - see calendar component)
    &:has(> ion-label:nth-child(2)),
    &:has(> mat-label:nth-child(2)) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
  }
}

/* -- image gallery -- */

.gallery-container {
  .image-card {
    &.zoom-hover:hover {
      --img-scale: 0.8 !important;
    }
    .card-thumbnail {
      background-color: var(--ion-color-light);
    }
  }

  &.list {
    --img-max-height: 50vh;
  }
  &.mosaic {
    --img-max-height: 30vh;
  }
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.2);
}

/* -- toolbar > segment as title (see observedLocations or landings page) -- */
app-toolbar ion-segment-button {
  &.ion-title {
    min-width: 150px;
    ion-label {
      text-transform: none;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.0125em;
    }
  }
}

/* -- table container -- */

.table-container {
  --overflow: auto;
  overflow-x: var(--overflow);
  overflow-y: var(--overflow);
  overscroll-behavior-y: contain;
  overscroll-behavior-x: contain;
  //will-change: scroll-position;
  //box-sizing: border-box;
}

// In mobile, force to display a small vertical scrollbar
@media (pointer: coarse) {
  ::-webkit-scrollbar {
    height: 0;
    width: 0;
    background-color: transparent;
  }

  .table-container::-webkit-scrollbar {
    width: 3px;
  }

  .table-container::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 1px;
  }
}

.hidden {
  visibility: hidden;
  display: none;
}

.cdk-overlay-pane:has(.mat-mdc-autocomplete-panel) {
  --min-width: 200px;
  --max-width: calc(min(100%, 100vw - 64px));
  min-width: var(--min-width) !important;
  max-width: var(--max-width) !important;

  // FIXME : Workaround for full width panel
  &:has(.full-width) {
    left: 36px !important;
    right: unset !important;
    width: var(--max-width) !important;
    --min-width: var(--max-width) !important;
  }
}
