// --------------------------------------------------
// Material Table
// --------------------------------------------------
.table-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

.mat-mdc-table {
  --mat-table-background-color: var(--ion-background-color);
  --mat-table-row-item-label-text-color: var(--ion-text-color);
  --mat-table-row-item-outline-color: var(--ion-border-color);


  .mat-mdc-row {
    overflow: hidden;
  }

  .mat-mdc-row.mat-row-selected {
    .mat-mdc-cell .visible-selected-row {
      visibility: visible !important;
    }
  }

  .mat-mdc-header-row,
  .mat-mdc-row,
  .mat-mdc-footer-row {
    .mat-column-select {
      width: 50px; // Force to 50px, because sticky column must have fixed width
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell,
    .mat-mdc-footer-cell {
      // Remove right border, of sticky columns
      &.mat-mdc-table-sticky-border-elem-left {
        border-right: 0 !important; // 1px solid #{$app-table-border-color};
      }
    }

    .mat-mdc-cell {
      // Hide disabled field placeholder
      --mat-form-field-disabled-input-text-placeholder-color: transparent;

      // Hide disabled field checkbox
      --mdc-checkbox-disabled-selected-icon-color: transparent;
      --mdc-checkbox-disabled-selected-checkmark-color: transparent;
      --mdc-checkbox-disabled-unselected-icon-color: transparent;
      --mdc-checkbox-disabled-unselected-checkmark-color: transparent;
    }
  }

  .mat-mdc-header-row .mat-mdc-header-cell {
    --mat-cell-overflow: hidden;

    &.mat-column-pmfm .mat-sort-header-content {
      max-width: 90%;
    }

    .pmfm-details {
      margin-top: 4px;
      font-size: 90% !important;
      max-width: 100%;
      overflow: var(--mat-cell-overflow);
    }

    /* Pour les navigateurs supportant la propriété line-clamp (WebKit, Blink et Firefox récent) */
    @supports (-webkit-line-clamp: 5) {
      .pmfm-details {
        display: -webkit-box;
        -webkit-line-clamp: 5; /* Affiche 3 lignes puis coupe si besoin avec '...' */
        -webkit-box-orient: vertical;

        &:hover {
          -webkit-line-clamp: 10;
        }
      }
    }
  }
}

app-toolbar app-named-filter-selector {
  --ion-text-color: var(--ion-color-contrast);
  --ion-text-color-rgb: var(--ion-color-contrast-rgb);
  --app-form-field-background-color: transparent;
  --app-form-color: var(--ion-color-contrast);
  --app-form-color-rgb: var(--ion-color-contrast-rgb, 255, 255, 255);
  --app-form-field-label-color: rgba(var(--ion-color-contrast-rgb), 0.7);
  --app-form-field-focus-label-color: rgba(var(--ion-color-contrast-rgb), 0.87);
  --app-form-field-focus-background-color: var(--ion-color-contrast);
  --mat-form-field-trailing-icon-color: var(--ion-color-contrast);
  --ion-color-primary: var(--ion-color-contrast);
  --ion-color-tertiary: var(--ion-color-danger);
  --mdc-icon-button-icon-color: var(--ion-color-contrast);

  button {
    color: var(--ion-color-contrast);
  }
  width: calc(min(450px, 25vw));

  &.hidden {
    width: 0;
    .mat-mdc-form-field-infix {
      width: 0;
    }
  }
  .mat-mdc-form-field-infix {
    max-width: calc(max(350px, 15vw));
    transition: width 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
