<div>
  <!-- error -->
  @if (mobile) {
    <app-error-item [message]="errorSubject | async"></app-error-item>
  }

  @if (title) {
    <h3>
      <ion-text translate>{{ title }}</ion-text>
    </h3>
  }
</div>

<mat-table
  #table
  [dataSource]="dataSource"
  matSort
  matSortActive="startDate"
  matSortDirection="desc"
  matSortDisableClear="true"
  [trackBy]="trackByFn"
  [class.compact]="compact"
>
  <!-- hidden columns (required by AppTable) -->
  <ng-container *ngFor="let col of hiddenColumns" [matColumnDef]="col">
    <mat-header-cell *matHeaderCellDef class="cdk-visually-hidden"></mat-header-cell>
    <mat-cell *matCellDef="let row" class="cdk-visually-hidden"></mat-cell>
  </ng-container>

  <!-- Start date column -->
  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.START_DATE' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text>{{ row.currentData.startDate | dateFormat: { time: false } }}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- End date column -->
  <ng-container matColumnDef="endDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.END_DATE' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text>{{ row.currentData.endDate | dateFormat: { time: false } }}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- Exterior marking column -->
  <ng-container matColumnDef="exteriorMarking">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.EXTERIOR_MARKING' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'exteriorMarking'">
        {{ row.currentData.exteriorMarking }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- Name column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.NAME' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'name'">{{ row.currentData.name }}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- administrativePower column -->
  <ng-container matColumnDef="administrativePower">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.ADMINISTRATIVE_POWER' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'administrativePower'">
        {{ row.currentData.administrativePower }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- lengthOverAll column -->
  <ng-container matColumnDef="lengthOverAll">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.LENGTH_OVER_ALL' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'lengthOverAll'">
        {{ row.currentData.lengthOverAll }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- grossTonnageGrt column -->
  <ng-container matColumnDef="grossTonnageGrt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.GROSS_TONNAGE_GRT' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'grossTonnageGrt'">
        {{ row.currentData.grossTonnageGrt }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- grossTonnageGt column -->
  <ng-container matColumnDef="grossTonnageGt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.GROSS_TONNAGE_GT' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'grossTonnageGt'">
        {{ row.currentData.grossTonnageGt }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- construction year column -->
  <ng-container matColumnDef="constructionYear">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.CONSTRUCTION_YEAR' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'constructionYear'">
        {{ row.currentData.constructionYear }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- ircs column -->
  <ng-container matColumnDef="ircs">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.IRCS' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'ircs'">{{ row.currentData.ircs }}</ion-text>
    </mat-cell>
  </ng-container>

  <!-- fpc column -->
  <ng-container matColumnDef="isFpc">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.IS_FPC' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-text [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'isFpc'">
        {{ row.currentData.isFpc | booleanFormat | translate }}
      </ion-text>
    </mat-cell>
  </ng-container>

  <!-- hull material -->
  <ng-container matColumnDef="hullMaterial">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.HULL_MATERIAL' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-label class="ion-text-nowrap" [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'hullMaterial'">
        {{ row.currentData.hullMaterial | referentialToString: ['name'] }}
      </ion-label>
    </mat-cell>
  </ng-container>

  <!-- base port location -->
  <ng-container matColumnDef="basePortLocation">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span>{{ 'VESSEL.VESSEL_FEATURES.BASE_PORT_LOCATION' | translateContext: i18nColumnSuffix }}</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ion-label
        [title]="row.currentData.basePortLocation | referentialToString"
        class="ion-text-nowrap"
        [class.text-bold]="row.currentData.__changedProperties | arrayIncludes: 'basePortLocation'"
      >
        {{ row.currentData.basePortLocation | referentialToString }}
      </ion-label>
    </mat-cell>
  </ng-container>

  <!-- Comments column -->
  <ng-container matColumnDef="comments">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-icon class="comment" *ngIf="row.currentData.comments" [title]="row.currentData.comments"></mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions column -->
  <ng-container matColumnDef="actions" [stickyEnd]="stickyEnd">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button [title]="'COMMON.BTN_OPTIONS' | translate" [matMenuTriggerFor]="optionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row"></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns" class="mat-mdc-row-disabled"></mat-row>
</mat-table>
<!-- options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">
  <!-- display columns -->
  <button mat-menu-item (click)="openSelectColumnsModal($event)">
    <mat-icon>view_column</mat-icon>
    <ion-label translate>COMMON.DISPLAYED_COLUMNS_DOTS</ion-label>
  </button>
</mat-menu>

@if (loadingSubject | async) {
  <ion-item>
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-item>
} @else if (totalRowCount === 0) {
  <ion-text color="danger" class="text-italic" translate>COMMON.NO_RESULT</ion-text>
}

@if (showPagination) {
  <mat-paginator
    #paginator
    [length]="totalRowCount"
    [pageSize]="defaultPageSize"
    [pageSizeOptions]="defaultPageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
}
