
app-entity-metadata {
  .visible-hover {
    visibility: hidden;
    display: none;
  }

  ::ng-deep ion-item:hover {
    .visible-hover {
      visibility: visible;
      display: unset;
    }
  }
}
