.table-container {
  --table-toolbar-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height, 0px) - 1px);

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
}

.mat-table {
  min-width: 100%;
  --mat-cell-vertical-padding: 0;
  --mat-row-max-height: 56px;
  --mat-column-actions-min-width: 122px;
  --mat-column-actions-max-width: 122px;

  &.mobile {
    --mat-cell-vertical-padding: 4px;
    --mat-column-actions-min-width: 82px;
    --mat-column-actions-max-width: 82px;
  }

  .mat-header-row,
  .mat-row {
    padding: 0 0;
    z-index: 999;

    .mat-header-cell,
    .mat-cell {
      padding-inline-start: var(--mat-cell-vertical-padding, 0) !important;
    }

    .mat-column-id {
      width: 40px !important;
    }

    .mat-column-parent {
      min-width: 175px;

      ion-label{
        max-width: 175px;
        min-width: 50px;
      }
    }

    .mat-column-taxonGroup {
      min-width: 180px;
      max-width: 250px;
    }
  }

}
