<!-- DEBUG -->
@if (debug) {
  <ng-container *ngTemplateOutlet="debugPanel"></ng-container>
}

<!-- Options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">
  <!-- Compact mode -->
  <button mat-menu-item (click)="toggleCompactMode()">
    @if (compact) {
      <mat-icon>check_box</mat-icon>
    } @else {
      <mat-icon>check_box_outline_blank</mat-icon>
    }
    <ion-label translate>COMMON.BTN_COMPACT_ROWS</ion-label>
  </button>
</mat-menu>

<!-- Déclencheur invisible pour le mat-menu -->
<button mat-button [matMenuTriggerFor]="contextMenu" #menuTrigger="matMenuTrigger" style="display: none"></button>

<!-- Cell contextual menu  -->
<mat-menu #contextMenu="matMenu" class="context-menu ion-no-padding" [hasBackdrop]="disabled">
  <ng-template matMenuContent>
    @if (enabled) {
      <button mat-menu-item (click)="cut()" [disabled]="!cellSelection">
        <mat-icon>content_cut</mat-icon>
        <ion-label translate>COMMON.BTN_CUT</ion-label>
      </button>
    }
    <button mat-menu-item (click)="copy()" [disabled]="!cellSelection">
      <mat-icon>content_copy</mat-icon>
      <ion-label translate>COMMON.BTN_COPY</ion-label>
    </button>
    @if (enabled) {
      <button mat-menu-item (click)="paste()" [disabled]="!(hasClipboard$ | push)">
        <mat-icon>content_paste</mat-icon>
        <ion-label translate>COMMON.BTN_PASTE</ion-label>
      </button>
    }
  </ng-template>
</mat-menu>

<!-- ********************************************************* -->
<!-- ***********  Accordion                        *********** -->
<!-- ********************************************************* -->
@if (style === 'accordion') {
  <mat-accordion [multi]="false">
    @for (startDate of months$ | push; track $index) {
      <mat-expansion-panel style="--month-count: 1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-label
              [matBadge]="'!'"
              [matBadgeHidden]="!monthCalendar.invalid"
              matBadgeOverlap="false"
              matBadgeColor="accent"
              matBadgeSize="small"
              matBadgePosition="above after"
            >
              {{ startDate | dateFormat: { pattern: 'MMMM' } | capitalize }}
            </mat-label>
          </mat-panel-title>

          <mat-panel-description>
            <!-- TODO OTBNEP -->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-calendar
          #monthCalendar
          [style]="'table'"
          [month]="startDate.month()"
          [pmfms]="pmfms$ | push"
          [timezone]="timezone"
          [showVesselOwner]="showVesselOwner"
          [showRegistrationLocation]="showRegistrationLocation"
          [showToolbar]="false"
          [showMonth]="showMonth"
          [enableCellSelection]="enableCellSelection"
          [usePageSettings]="false"
          [compact]="compact"
          [debug]="false"
        ></app-calendar>
      </mat-expansion-panel>
    }
  </mat-accordion>
} @else {
  <!-- ********************************************************* -->
  <!-- ***********  Table style                      *********** -->
  <!-- ********************************************************* -->
  @if (showToolbar) {
    <mat-toolbar [color]="toolbarColor | matColor" class="{{ toolbarColor }}">
      <!-- metier buttons -->
      <ng-container *ngTemplateOutlet="metierButtons"></ng-container>

      <!-- copy all -->
      @if (visibleRowCount > 0 && (availablePrograms$ | push); as programs) {
        @if (programs | isArrayLength: { equals: 1 }) {
          <button mat-icon-button [title]="'ACTIVITY_CALENDAR.EDIT.BTN_COPY_PASTE_ALL' | translate" (click)="onCopyAllClick(programs[0].label)">
            <mat-icon>content_copy</mat-icon>
          </button>
        } @else {
          <button mat-icon-button [title]="'ACTIVITY_CALENDAR.EDIT.BTN_COPY_PASTE_ALL' | translate" [matMenuTriggerFor]="optionsMenuCopyPaste">
            <mat-icon>content_copy</mat-icon>
          </button>

          <mat-menu #optionsMenuCopyPaste="matMenu" xPosition="after">
            <!-- Compact mode -->
            @for (program of programs; track program.label) {
              <button mat-menu-item (click)="onCopyAllClick(program.label)">
                <mat-label>{{ 'ACTIVITY_CALENDAR.EDIT.SOURCE_PREDOC' | translateContext: program.label }}</mat-label>
              </button>
            }
          </mat-menu>
        }
      }

      <!-- error -->
      @if (showError && errorSubject | async; as error) {
        <ion-item lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
        </ion-item>
      }

      <!-- spacer + title -->
      <ion-text class="toolbar-spacer ion-text-center">
        @if (showTitle && title) {
          <span [innerHTML]="title | translate"></span>
        }
      </ion-text>

      <ng-content select="[matToolbarEnd]"></ng-content>

      <!-- filter programs -->
      @if (availablePrograms$ | async; as programs) {
        @for (program of programs; track program.label) {
          <mat-checkbox (change)="$event ? programSelection.toggle(program) : null" [checked]="programSelection.isSelected(program)">
            <mat-label>{{ 'ACTIVITY_CALENDAR.EDIT.SOURCE_PREDOC' | translateContext: program.label }}</mat-label>
          </mat-checkbox>
        }
      }

      <!-- options menu -->
      @if (showToolbarOptions) {
        <button mat-icon-button [title]="'COMMON.BTN_OPTIONS' | translate" [matMenuTriggerFor]="optionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      }
    </mat-toolbar>
  }
  <div
    #tableContainer
    class="table-container"
    [class.has-toolbar]="showToolbar"
    *rxIf="pmfms$; let pmfms; strategy: 'native'"
    (ngInit)="initTableContainer(tableContainer)"
    [class.mobile]="mobile"
    cdkScrollable
  >
    <div
      #cellSelectionDiv
      class="cell-selection"
      [class.cdk-visually-hidden]="!cellSelection"
      (contextmenu)="cellSelection && onContextMenu($event, cellSelection?.cellElement, cellSelection.row, cellSelection.columnName)"
      style="align-content: end"
    >
      <!-- debug -->
      @if (cellSelection && debug) {
        <ion-text class="debug" color="tertiary">
          @if (cellSelection.resizing) {
            Resizing...
          } @else {
            colspan:{{ cellSelection.colspan }} rowspan:{{ cellSelection.rowspan }}
            <br />
            <b>div:</b>
            top:{{ cellSelectionDiv.style.top }} left:{{ cellSelectionDiv.style.left }} height:{{ cellSelectionDiv.style.height }}
            <br />
            <b>container:</b>
            scroll-top:{{ tableContainer.scrollTop }} scroll-left:{{ tableContainer.scrollLeft }}
            <br />
            <b>originalMouse:</b>
            top:{{ cellSelection.originalMouseY }} left:{{ cellSelection.originalMouseX }}
            @if (cellSelection.cellRect; as cellRect) {
              <br />
              <b>cell rect</b>
              : top:{{ cellRect.top }} left:{{ cellRect.left }})
            }
          }
        </ion-text>
      }
    </div>
    <div #cellClipboardDiv class="cell-clipboard" [class.cdk-visually-hidden]="!cellClipboard"></div>

    <mat-table
      [dataSource]="dataSource"
      [class.resizing]="cellSelection?.resizing"
      [class.large]="!compact"
      [class.cdk-visually-hidden]="totalRowCount === 0"
    >
      <!-- hidden columns (required by AppTable) -->
      @for (col of hiddenColumns; track col) {
        <ng-container [matColumnDef]="col">
          <mat-header-cell *matHeaderCellDef class="cdk-visually-hidden"></mat-header-cell>
          <mat-cell *matCellDef="let row" class="cdk-visually-hidden"></mat-cell>
        </ng-container>
      }

      <ng-container matColumnDef="month" [sticky]="sticky" [class.mat-mdc-column-sticky]="sticky">
        <mat-header-cell *matHeaderCellDef [class.toolbar-background-color]="!showToolbar">
          @if (!showToolbar) {
            <!-- metier buttons -->
            <ng-container *ngTemplateOutlet="metierButtons"></ng-container>
          }
        </mat-header-cell>

        <mat-header-cell
          *matCellDef="let row"
          [title]="errorSpan?.innerText || ''"
          class="mat-column-reset-background-color"
          (click)="clickMonthHeader($event, row)"
        >
          <ion-label class="ion-text-center">
            <ion-text
              matBadge="!"
              [matBadgeHidden]="errorSpan.innerText | isNilOrBlank"
              matBadgeOverlap="false"
              matBadgeColor="accent"
              matBadgeSize="small"
            >
              {{ row.currentData.startDate | dateFormat: { pattern: 'MMMM' } | capitalize }}
              <!--@if (debug && canEdit) {
                <br />
                {{ row.id }}
                {{ row.valid ? 'V' : row.pending ? 'P' : 'I' }}
                {{ row.editing ? '*' : '' }}
              }-->
            </ion-text>
          </ion-label>
          <span hidden #errorSpan>
            {{ row | activityMonthRowError: errorTranslateOptions }}
          </span>
        </mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="vesselOwner">
        <mat-header-cell *matHeaderCellDef>
          <ion-label translate>ACTIVITY_CALENDAR.EDIT.VESSEL_OWNER</ion-label>
        </mat-header-cell>
        <ng-container *matCellDef="let row">
          <mat-cell #cell class="mat-column-reset-background-color">
            @if (vesselOwners$ | push | mapGet: row.id; as owners) {
              @if (owners | referentialToString: { properties: vesselOwnerDisplayAttributes, separator: '\n', propertySeparator: ' ' }; as title) {
                <ion-label class="ion-text-nowrap computed" (ngInit)="cell.title = title">
                  {{ owners | arrayFirst | referentialToString: { properties: vesselOwnerDisplayAttributes, propertySeparator: ' ' } }}
                </ion-label>

                @if (owners | isArrayLength: { greaterThan: 1 }) {
                  <ion-label class="details computed">(+{{ owners.length - 1 }})</ion-label>
                }
              }
            } @else {
              <ng-container *ngTemplateOutlet="skeletonText80"></ng-container>
            }
          </mat-cell>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="registrationLocation">
        <mat-header-cell *matHeaderCellDef class="odd">
          <ion-label translate>ACTIVITY_CALENDAR.EDIT.REGISTRATION_LOCATION</ion-label>
        </mat-header-cell>
        <ng-container *matCellDef="let row">
          <mat-cell #cell class="odd mat-column-reset-background-color">
            @if (
              inlineEdition ? (row.validator | formGetValue: 'registrationLocations') : row.currentData.registrationLocations;
              as registrationLocations
            ) {
              @if (registrationLocations | referentialToString: { properties: locationDisplayAttributes, separator: '\n' }; as title) {
                <ion-label class="ion-text-nowrap computed" (ngInit)="cell.title = title">
                  {{ registrationLocations | arrayFirst | referentialToString: locationDisplayAttributes }}
                </ion-label>
                @if (registrationLocations | isArrayLength: { greaterThan: 1 }) {
                  <ion-label class="details computed">(+{{ registrationLocations.length - 1 }})</ion-label>
                }
              }
            }
          </mat-cell>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="program">
        <mat-header-cell *matHeaderCellDef class="odd">
          <ion-label>{{ programHeaderLabel | translate }}</ion-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="odd mat-column-reset-background-color">
          <ion-label class="ion-text-nowrap computed" [title]="content.innerText">
            <span #content>{{ 'ACTIVITY_CALENDAR.EDIT.SOURCE_PREDOC' | translateContext: row.currentData.program?.label }}</span>
          </ion-label>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <mat-header-cell *matHeaderCellDef (click)="selectMonth($event, 'isActive')">
          <ion-label translate>ACTIVITY_CALENDAR.EDIT.IS_ACTIVE</ion-label>
        </mat-header-cell>
        <mat-cell
          *matCellDef="let row"
          class="mat-mdc-cell-resizable"
          #cell
          (click)="clickCell($event, row, 'isActive')"
          (dblclick)="dblClickCell($event, row, 'isActive')"
          (contextmenu)="onContextMenu($event, cell, row, 'isActive')"
        >
          @if (row.editing && row.validator | formGetControl: 'isActive'; as control) {
            <mat-form-field>
              <mat-select
                [formControl]="control"
                [placeholder]="'ACTIVITY_CALENDAR.EDIT.IS_ACTIVE' | translate"
                [autofocus]="focusColumn === 'isActive'"
                (keyup.enter)="confirmEditCell($event, row, 'isActive')"
              >
                <mat-select-trigger>
                  {{ isActiveMap[control.value]?.label | translate }}
                </mat-select-trigger>
                @for (item of isActiveList; track item.id) {
                  @if (item.statusId !== 0 || item.id === control.value) {
                    <mat-option [value]="item.id">
                      <ion-icon [name]="item.icon"></ion-icon>
                      {{ item.label | translate }}
                    </mat-option>
                  }
                }
              </mat-select>
              @if (control.hasError('required')) {
                <mat-error translate>ERROR.FIELD_REQUIRED</mat-error>
              }
            </mat-form-field>
          } @else {
            {{ isActiveMap[row.currentData.isActive]?.label | translate }}
          }

          <!-- resize handlers -->
          @if (enableCellSelection) {
            <ng-container
              *ngTemplateOutlet="cellHandlers; context: { $implicit: row, cell: cell, col: 'isActive', x: true, y: false, enabled: this.enabled }"
            ></ng-container>
          }
        </mat-cell>
      </ng-container>

      <!-- Base port location -->
      <ng-container matColumnDef="basePortLocation">
        <mat-header-cell *matHeaderCellDef class="odd" (click)="selectMonth($event, 'basePortLocation')">
          <ion-label translate>ACTIVITY_CALENDAR.EDIT.BASE_PORT_LOCATION</ion-label>
        </mat-header-cell>
        <mat-cell
          *matCellDef="let row"
          class="odd mat-mdc-cell-resizable"
          #cell
          (click)="clickCell($event, row, 'basePortLocation')"
          (dblclick)="dblClickCell($event, row, 'basePortLocation')"
          (contextmenu)="onContextMenu($event, cell, row, 'basePortLocation')"
        >
          @if (row.editing) {
            <mat-autocomplete-field
              [formControl]="row.validator | formGetControl: 'basePortLocation'"
              [config]="autocompleteFields.basePortLocation"
              [placeholder]="'ACTIVITY_CALENDAR.EDIT.BASE_PORT_LOCATION' | translate"
              [autofocus]="focusColumn === 'basePortLocation'"
              [floatLabel]="'never'"
              (keyup.enter)="confirmEditCell($event, row, 'basePortLocation')"
            ></mat-autocomplete-field>
          } @else {
            @if (row.currentData.basePortLocation | referentialToString: locationDisplayAttributes; as label) {
              <ion-label [title]="label" class="ion-text-nowrap">{{ label }}</ion-label>
            }
          }

          <!-- resize handlers -->
          @if (enableCellSelection) {
            <ng-container
              *ngTemplateOutlet="
                cellHandlers;
                context: { $implicit: row, cell: cell, col: 'basePortLocation', x: true, y: false, enabled: this.enabled }
              "
            ></ng-container>
          }
        </mat-cell>
      </ng-container>

      <!-- Pmfms columns -->
      @for (pmfm of pmfms; track pmfm.id; let index = $index; let odd = $odd) {
        <ng-container [matColumnDef]="pmfm.id || index | toString">
          <mat-header-cell
            *matHeaderCellDef
            class="mat-column-pmfm mat-column-{{ pmfm.label }}"
            [class.odd]="odd"
            (click)="selectMonth($event, pmfm.id || index)"
          >
            <ion-label
              [innerHTML]="
                pmfm
                  | pmfmName
                    : {
                        html: false,
                        withDetails: showPmfmDetails,
                        withUnit: false,
                        i18nPrefix: i18nPmfmPrefix,
                        i18nSuffix: i18nColumnSuffix
                      }
              "
            ></ion-label>
          </mat-header-cell>
          <mat-cell
            #cell
            *matCellDef="let row"
            class="mat-column-pmfm mat-column-{{ pmfm.label }} mat-mdc-cell-resizable"
            [class.odd]="odd"
            (click)="clickCell($event, row, (pmfm.id || index).toString())"
            (dblclick)="dblClickCell($event, row, (pmfm.id || index).toString())"
            (contextmenu)="onContextMenu($event, cell, row, (pmfm.id || index).toString())"
          >
            <!-- desktop -->
            @if (inlineEdition && row.validator | formGetControl: ['measurementValues', pmfm.id]; as control) {
              @if (row.editing && (row.validator | formGetValue: 'isActive') === 1) {
                <!-- writable (desktop) -->
                <app-pmfm-field
                  floatLabel="never"
                  [pmfm]="pmfm"
                  [i18nPrefix]="i18nPmfmPrefix"
                  [i18nSuffix]="i18nColumnSuffix"
                  [control]="row.validator | formGetControl: ['measurementValues', pmfm.id]"
                  [autofocus]="focusColumn == (pmfm.id || index)"
                  [compact]="compactFields"
                  (keyup.enter)="confirmEditCell($event, row, (pmfm.id || index).toString())"
                ></app-pmfm-field>
              } @else {
                <!-- readonly (desktop) -->
                <ion-text
                  [innerHTML]="control | formGetValue | pmfmValue: { pmfm: pmfm, html: true, propertyNames: compactFields && ['label'] }"
                ></ion-text>
              }
            } @else {
              <!-- readonly (mobile) -->
              <ion-label>
                {{ row.currentData | measurementValueGet: { pmfm: pmfm, html: true, propertyNames: compactFields && ['label'] } }}
              </ion-label>
            }
            <!-- resize handlers -->
            @if (enableCellSelection) {
              <ng-container
                *ngTemplateOutlet="
                  cellHandlers;
                  context: { $implicit: row, cell: cell, col: pmfm.id?.toString(), x: true, y: false, enabled: this.enabled }
                "
              ></ng-container>
            }
          </mat-cell>
        </ng-container>
      }

      <!-- Dynamic columns (metier block) -->
      @for (col of dynamicColumns; track col.key) {
        <ng-container [matColumnDef]="col.key">
          <mat-header-cell
            *matHeaderCellDef
            [class]="col.class"
            [class.collapsed]="col.hidden"
            [class.tappable]="col.expanded !== undefined"
            (click)="selectMonth($event, col.key)"
          >
            <ion-label>
              @if (col.treeIndent) {
                <span [innerHTML]="col.treeIndent"></span>
              }
              {{ col.label }}
            </ion-label>
            @if (col.expanded | isNotNil) {
              <ion-button fill="clear" size="small" shape="round" (click)="col.toggle($event)">
                <mat-icon slot="icon-only" class="mat-icon-rtl-mirror">{{ col.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
              </ion-button>
            }
          </mat-header-cell>
          <mat-cell
            #cell
            *matCellDef="let row"
            [class]="col.class"
            [class.mat-mdc-cell-resizable]="!col.hidden"
            [class.collapsed]="col.hidden"
            (click)="col.hidden ? col.expand($event) : clickCell($event, row, col.key)"
            (dblclick)="!col.hidden && dblClickCell($event, row, col.key)"
            (contextmenu)="onContextMenu($event, cell, row, col.key)"
          >
            <!-- Desktop -->
            @if (inlineEdition && !col.hidden && row.validator | formGetControl: col.path; as control) {
              @if (row.editing) {
                <!-- writable (desktop) -->
                <mat-autocomplete-field
                  [placeholder]="col.placeholder"
                  [formControl]="control"
                  [config]="col.autocomplete"
                  [autofocus]="focusColumn === col.key"
                  [floatLabel]="'never'"
                  (keyup.enter)="confirmEditCell($event, row, col.key)"
                ></mat-autocomplete-field>
              } @else {
                @if (control | formGetValue | referentialToString: col.autocomplete.attributes; as label) {
                  <ion-label [title]="label" class="ion-text-nowrap">{{ label }}</ion-label>
                }
              }
            } @else {
              <!-- readonly (mobile) -->
              @if (row.currentData | propertyGet: col.path | referentialToString: col.autocomplete.attributes; as label) {
                <ion-label [title]="label" class="ion-text-nowrap">{{ label }}</ion-label>
              }
            }
            <!-- resize handlers -->
            @if (enableCellSelection) {
              <ng-container *ngTemplateOutlet="cellHandlers; context: { $implicit: row, cell: cell, col: col.key, x: true, y: false }"></ng-container>
            }
          </mat-cell>
        </ng-container>
      }

      <!-- Actions -->
      <app-nav-actions-column
        [style]="'mat-table'"
        class="{{ inlineEdition ? 'mat-column-reset-background-color' : 'cdk-visually-hidden' }}"
        [cellTemplate]="cellInjection"
      >
        <ng-template #cellInjection let-row>
          @if (inlineEdition && _enabled && !row.pending) {
            <!-- cancel button
            @if (row.editing && row.dirty) {
              <button mat-icon-button [title]="'COMMON.BTN_CANCEL' | translate" (click)="cancelOrDelete($event, row)" tabIndex="-1">
                <mat-icon>undo</mat-icon>
              </button>
            }-->

            @if ((row | propertyGet: 'currentData.qualityFlagId') === qualityFlagId.CONFLICTUAL) {
              <!-- solve conflict button -->
              <button
                mat-icon-button
                [class.cdk-visually-hidden]="cellSelection?.resizing"
                class="visible-hover"
                [title]="'ACTIVITY_CALENDAR.EDIT.BTN_DELETE_CONFLICT' | translate"
                (click)="deleteConflictualMonth($event, row)"
                tabIndex="-1"
              >
                <mat-icon style="color: var(--ion-color-dark)">cancel</mat-icon>
              </button>
              <!-- TODO Keep remote button -->
              <!-- <button -->
              <!--   mat-icon-button -->
              <!--   [class.cdk-visually-hidden]="cellSelection?.resizing" -->
              <!--   [class.visible-hover]="!row.editing" -->
              <!--   [title]="'ACTIVITY_CALENDAR.EDIT.KEEP_REMOTE_DATA' | translate" -->
              <!--   (click)="keepRemoteData($event, row)" -->
              <!--   tabIndex="-1" -->
              <!-- > -->
              <!--   <mat-icon> -->
              <!--     <span>&#xbb;</span> -->
              <!--   </mat-icon> -->
              <!-- </button> -->
            } @else if (row.validator | formGetValue: 'isActive' | isNotNil) {
              <!-- clear button -->
              <button
                mat-icon-button
                [class.cdk-visually-hidden]="cellSelection?.resizing"
                [class.visible-hover]="!row.editing"
                [title]="'ACTIVITY_CALENDAR.EDIT.BTN_CLEAR_MONTH' | translate"
                (click)="clear($event, row)"
                tabIndex="-1"
              >
                <mat-icon [style.color]="row.editing ? 'var(--ion-color-dark)' : 'var(--ion-color-medium)'">delete</mat-icon>
              </button>
            }
          }
        </ng-template>
      </app-nav-actions-column>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.mat-mdc-row-error]="row.touched && row.invalid"
        [class.mat-mdc-row-dirty]="row.dirty"
        [class.mat-mdc-row-disabled]="!row.editing"
        [class.mat-mdc-row-selected]="row.editing || highlightedRowId === row.id"
        [class.activity-inactive]="(row.validator | formGetValue: 'isActive') === 0"
        [class.activity-not-exists]="(row.validator | formGetValue: 'isActive') === 2"
        [class]="row.validator | formGetValue: 'program' | mapGet: 'label'"
        [class.readonly]="(row.validator | formGetValue: 'readonly') === true"
        [class.duplicated]="(row.validator | formGetValue: 'qualityFlagId') === qualityFlagId.CONFLICTUAL"
        (keydown.escape)="escapeEditingRow($event, row)"
      ></mat-row>
    </mat-table>

    @if (totalRowCount === 0 && loaded) {
      <ion-item>
        <ion-text color="danger" class="text-italic">{{ 'COMMON.NO_RESULT' | translate }}</ion-text>
      </ion-item>
    }
  </div>

  <ng-template #cellHandlers let-row let-col="col" let-cell="cell" let-x="x" let-y="y" let-enabled="enabled">
    @if (x !== false && enabled) {
      <div class="resize-handle-left" (mousedown)="onMouseDown($event, cell, row, col, 'x')" (mouseup)="onMouseUp($event)"></div>
      <div class="resize-handle-right" (mousedown)="onMouseDown($event, cell, row, col, 'x')" (mouseup)="onMouseUp($event)"></div>
    }
    @if (y !== false && enabled) {
      <div class="resize-handle-top" (mousedown)="onMouseDown($event, cell, row, col, 'y')" (mouseup)="onMouseUp($event)"></div>
      <div class="resize-handle-bottom" (mousedown)="onMouseDown($event, cell, row, col, 'y')" (mouseup)="onMouseUp($event)"></div>
    }
    @if (x !== false || y !== false) {
      <div class="resize-handle-corner" (mousedown)="onMouseDown($event, cell, row, col)" (mouseup)="onMouseUp($event)"></div>
    }
  </ng-template>
}

<ng-template #metierButtons>
  <ng-content select="[matToolbarStart]"></ng-content>

  <!-- Add metier block -->
  @if (enabled) {
    <button mat-icon-button [title]="'ACTIVITY_CALENDAR.EDIT.BTN_ADD_METIER_BLOCK' | translate" (click)="addMetierBlock($event)">
      <!--      <mat-icon>add</mat-icon>-->
      <ion-icon name="add"></ion-icon>
    </button>
  }

  <!-- Expand all -->
  <button mat-icon-button [title]="'ACTIVITY_CALENDAR.EDIT.BTN_EXPAND_ALL' | translate" (click)="expandAll($event)">
    <!--    <mat-icon>unfold_more</mat-icon>-->
    <ion-icon name="chevron-expand"></ion-icon>
  </button>

  <!-- Collapse all -->
  <button mat-icon-button [title]="'ACTIVITY_CALENDAR.EDIT.BTN_COLLAPSE_ALL' | translate" (click)="collapseAll($event)">
    <!--    <mat-icon>unfold_less</mat-icon>-->
    <ion-icon name="chevron-collapse"></ion-icon>
  </button>
</ng-template>

<ng-template #skeletonText80>
  <ion-label style="width: 80%">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </ion-label>
</ng-template>

<ng-template #debugPanel>
  <app-debug title="Calendar">
    <ion-grid>
      <ion-row>
        <ion-col>
          ready: {{ readySubject | async }}
          <br />
          loading: {{ loadingSubject | async }}
          <br />
          enabled: {{ enabled }}
          <br />
          dirty: {{ dirty }}
          <br />
          valid: {{ valid }}
          <br />
          program: {{ programLabel }}
          <br />
          strategy{{ requiredStrategy ? ' (required)' : '' }}: {{ strategyId || strategyLabel }}
          <br />
          <br />
          acquisitionLevel: {{ acquisitionLevel }}
          <br />
          pmfms: {{ (pmfms$ | async)?.length }}
          <br />
          <br />
          focusColumn: {{ focusColumn }}
          <br />

          <ion-button (click)="showDebugValue = !showDebugValue">{{ showDebugValue ? 'Hide' : 'Show' }} value</ion-button>
        </ion-col>
        <ion-col>
          <!--filter: {{ filter | json }}
          <br />-->
          inlineEdition: {{ inlineEdition }} (has validator? {{ !!validatorService }})
          <br />
          style: {{ style }}
          <br />
          timezone: {{ timezone }}
          <br />
          excludesColumns: {{ excludesColumns?.length }}
          <br />
          visibleMonthCount: {{ visibleRowCount || 0 }}
          <br />
          children.length: {{ _children?.length || 0 }}
          <br />
          <br />
          dataService.started: {{ _dataService.started }}
          <br />
          dataService.loading: {{ _dataService.loading$ | push }}
          <br />
          dataService.program: {{ _dataService.programLabel }}
          <br />
          dataService.strategy{{ _dataService.requiredStrategy ? ' (required)' : '' }}: {{ _dataService.strategyLabel }}
          <br />
          dataService.acquisitionLevel: {{ _dataService.acquisitionLevel }}
          <br />
          dataService.pmfms: {{ (_dataService.pmfms$ | push)?.length }}
        </ion-col>
      </ion-row>
      @if (showDebugValue) {
        <ion-row>
          <ion-col size="12">
            <pre>{{ value | json }}</pre>
          </ion-col>
        </ion-row>
      }
    </ion-grid>
  </app-debug>
</ng-template>
