.table-container {
  --table-toolbar-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height));
  min-width: 100%;
  overflow: auto;

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }

  .visible-hover {
    visibility: hidden;
  }

  .mat-mdc-row:hover {
    .visible-hover {
      visibility: unset;
    }
  }
}

.mat-mdc-table {
  --col-header-size: 150px;
  --col-min-size: 100px;
  --col-size: calc(max(var(--col-min-size, 0px), (100% - var(--col-header-size)) / 12));
  --mat-cell-border-color-hover: var(--ion-color-secondary);
  --mat-row-height: 35px !important;
  --mat-row-max-height: 35px !important;
  --mat-cell-resizable-handle-size: 5px;
  --mat-cell-resizable-handle-color-hover: var(--ion-color-secondary);
  --mat-table-row-item-outline-width: 0px;
  --mat-column-actions-min-width: 100%;

  display: flex !important;
  flex-direction: row !important;

  .mat-mdc-header-row {
    flex-direction: column !important;
    height: unset;
    max-height: unset;
    min-width: var(--col-header-size) !important;
    width: var(--col-header-size) !important;
    max-width: var(--col-header-size) !important;
  }
  .mat-mdc-row {
    display: flex !important;
    flex-direction: column !important;
    height: unset;
    max-height: unset;
    min-width: var(--col-size) !important;
    width: var(--col-size) !important;
    max-width: var(--col-size) !important;
  }

  .mat-mdc-header-row,
  .mat-mdc-row,
  .mat-mdc-footer-row {
    border: 0 !important;
    --mat-table-row-item-outline-width: 0px;
  }

  .mat-mdc-header-cell {
    padding: 0;
    ion-label {
      width: 100%;
    }

    &.tappable:hover {
      cursor: pointer;
    }
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    flex: 1 !important;
    width: 100%;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    min-height: var(--mat-row-height) !important;
    height: var(--mat-row-height) !important;
    max-height: var(--mat-row-height) !important;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);

    &.odd {
      background-color: rgba(var(--ion-color-medium-rgb), 0.2);
    }

    &.collapsed {
      --mat-row-height: 3px !important;
      * {
        visibility: hidden;
        display: none;
      }
    }
  }

  .mat-mdc-cell .computed {
    color: var(--ion-color-primary-tint) !important;
    font-style: italic !important;
  }

  .mat-column-select,
  .mat-column-id {
    display: none;
    visibility: hidden;
    width: 0 !important;
  }

  .mat-column-month {
    font-weight: var(--mat-table-header-headline-weight, 500);
  }

  .mat-column-metier {
    background-color: rgba(var(--ion-color-medium-rgb), 0.4);
  }

  .mat-mdc-cell-resizable {
    position: relative;

    &:hover {
      border: solid 1px var(--mat-cell-border-color-hover);
      .resize-handle-corner {
        background-color: var(--mat-cell-resizable-handle-color-hover);
      }
    }
    .resize-handle-left,
    .resize-handle-right,
    .resize-handle-top,
    .resize-handle-bottom {
      position: absolute;
      transition: background-color 0.2s ease-in 0.2s;
      &:hover {
        background-color: var(--mat-cell-resizable-handle-color-hover);
      }
    }
    .resize-handle-top,
    .resize-handle-bottom {
      height: var(--mat-cell-resizable-handle-size, 5px);
      cursor: row-resize;
    }

    .resize-handle-top {
      left: 0;
      top: 0;
      right: 0;
    }

    .resize-handle-bottom {
      left: 0;
      bottom: 0;
      right: 0;
    }

    .resize-handle-left,
    .resize-handle-right {
      width: var(--mat-cell-resizable-handle-size, 5px);
      cursor: col-resize;
    }

    .resize-handle-left {
      top: 0;
      bottom: 0;
      left: 0;
    }

    .resize-handle-right {
      top: 0;
      bottom: 0;
      right: 0;
    }

    .resize-handle-corner {
      position: absolute;
      bottom: 0;
      right: 0;
      height: var(--mat-cell-resizable-handle-corner-size, 5px);
      width: var(--mat-cell-resizable-handle-corner-size, 5px);
      cursor: crosshair;
      &:hover {
        background-color: var(--mat-cell-resizable-handle-color-hover);
      }
    }
  }

  .mat-mdc-row.mat-mdc-row-disabled:hover,
  .mat-mdc-row.mat-row-disabled:hover {
    .mat-column-actions {
      background-color: var(--ion-background-color);
    }
  }

  &.resizing {
    --mat-cell-resizable-handle-color-hover: transparent;

    .mat-mdc-cell-resizable:hover {
      border: 1px solid transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mat-mdc-row.mat-mdc-row-disabled:hover,
    .mat-mdc-row.mat-row-disabled:hover {
      background-color: unset;
      cursor: crosshair;
    }
  }
}
