
.table-container {
  --table-toolbar-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height));
  min-width: 100%;
  overflow: auto;

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }

  .visible-hover {
    visibility: hidden;
  }

  .mat-row:hover {
    .visible-hover {
      visibility: unset;
    }
  }
}

mat-table {
  --col-header-size: 150px;
  --col-min-size: 100px;
  --col-size: calc(max(var(--col-min-size, 0px), (100% - var(--col-header-size)) / 12));
  --mat-cell-border-color-hover: var(--ion-color-secondary);
  --mat-row-height: 52px;
  --mat-row-max-height: 52px;
  --mat-cell-resizable-handle-size: 5px;
  --mat-cell-resizable-handle-color-hover: var(--ion-color-secondary);

  display: flex !important;
  flex-direction: row !important;

  mat-header-row {
    flex-direction: column !important;
    height: unset;
    max-height: unset;
  }
  mat-row {
    display: flex !important;
    flex-direction: column !important;
    height: unset;
    max-height: unset;
  }

  mat-header-row {
    min-width: var(--col-header-size) !important;
    width: var(--col-header-size) !important;
    max-width: var(--col-header-size) !important;
  }

  mat-row {
    min-width: var(--col-size) !important;
    width: var(--col-size) !important;
    max-width: var(--col-size) !important;
  }

  mat-header-row, mat-row {
    border: 0;
  }

  mat-header-cell {
    padding: 0;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    min-height: var(--mat-row-height);
    ion-label {
      width: 100%;
    }
  }

  mat-cell, mat-header-cell {
    flex: 1 !important;
    width: 100%;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: var(--mat-row-height) !important;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    margin-left: -1px;
    margin-bottom: -1px;
  }

  mat-cell {
    //margin-bottom: -1px;
  }

  mat-cell .computed {
    color: var(--ion-color-primary-tint) !important;
    font-style: italic !important;
  }

  .mat-column-actions {
    border: 0 !important;
    margin-bottom: 0 !important;
  }

  .mat-cell-resizable {
    position: relative;

    &:hover {
      border: solid 1px var(--mat-cell-border-color-hover);
      .resize-handle-corner {
        background-color: var(--mat-cell-resizable-handle-color-hover);
      }
    }
    .resize-handle-left,
    .resize-handle-right,
    .resize-handle-top,
    .resize-handle-bottom {
      position: absolute;
      transition: background-color 0.2s ease-in 0.2s;
      &:hover {
        background-color: var(--mat-cell-resizable-handle-color-hover);
      }
    }
    .resize-handle-top,
    .resize-handle-bottom {
      height: var(--mat-cell-resizable-handle-size, 5px);
      cursor: row-resize;
    }

    .resize-handle-top {
      left: 0;
      top: 0;
      right: 0;
    }

    .resize-handle-bottom {
      left: 0;
      bottom: 0;
      right: 0;
    }

    .resize-handle-left,
    .resize-handle-right {
      width: var(--mat-cell-resizable-handle-size, 5px);
      cursor: col-resize;
    }

    .resize-handle-left {
      top: 0;
      bottom: 0;
      left: 0;
    }

    .resize-handle-right {
      top: 0;
      bottom: 0;
      right: 0;
    }

    .resize-handle-corner {
      position: absolute;
      bottom: 0;
      right: 0;
      height: var(--mat-cell-resizable-handle-corner-size, 5px);
      width: var(--mat-cell-resizable-handle-corner-size, 5px);
      cursor: crosshair;
      &:hover {
        background-color: var(--mat-cell-resizable-handle-color-hover);
      }
    }
  }

  &.resizing {
    --mat-cell-resizable-handle-color-hover: transparent;

    .mat-cell-resizable:hover {
      border: 1px solid transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mat-row.mat-row-disabled:hover {
      background-color: unset;
      cursor: crosshair;
    }
  }

}


