:host {
  --mat-cell-border-color-hover: var(--ion-color-secondary);
  --mat-cell-resizable-handle-size: 5px;
  --mat-cell-resizable-handle-color-hover: var(--ion-color-secondary);
}
.mat-accordion {
  --expansion-panel-padding: 0;
  .mat-expansion-panel-header {
    &.mat-expanded {
      background-color: var(--ion-color-secondary100);
    }

    ::ng-deep .mat-content {
      overflow: visible !important; // To show mat badge
    }
  }
}

mat-toolbar {
  position: relative;
  z-index: 50;
  --mdc-icon-button-state-layer-size: 34px;
  &.secondary {
    --mat-toolbar-container-text-color: var(--ion-color-secondary-contrast);
    --mdc-form-field-label-text-color: var(--ion-color-secondary-contrast);
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
    mat-checkbox input,
    mat-label {
      --mdc-form-field-label-text-color: var(--ion-color-secondary-contrast);
      color: var(--ion-color-secondary-contrast);
    }
  }

  ion-item {
    max-height: 100%;
    width: calc(100% - 4 * var(--mdc-icon-button-state-layer-size) - 32px);
    overflow: hidden;
  }
}

.table-container {
  --table-toolbar-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height));
  min-width: 100%;
  overflow: auto;
  z-index: 10;

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }

  .toolbar-background-color {
    background-color: var(--ion-toolbar-background) !important;
  }
}

.mat-mdc-table {
  --col-header-size: 150px;
  --col-min-size: 120px;
  --col-size: calc(max(var(--col-min-size, 0px), (100% - var(--col-header-size)) / var(--month-count, 12)));
  --mat-table-row-item-outline-width: 0px;
  --mat-column-actions-min-width: 100%;
  --mat-row-height: 35px !important;
  --mat-row-max-height: 35px !important;

  display: flex !important;
  flex-direction: row !important;

  &.large {
    --mat-row-height: 48px !important;
    --mat-row-max-height: 48px !important;
  }

  .mat-mdc-header-row {
    flex-direction: column !important;
    height: unset;
    max-height: unset;
    min-width: var(--col-header-size) !important;
    width: var(--col-header-size) !important;
    max-width: var(--col-header-size) !important;
  }

  .mat-mdc-row {
    display: flex !important;
    flex-direction: column !important;
    height: unset;
    max-height: unset;
    min-width: var(--col-size) !important;
    width: var(--col-size) !important;
    max-width: var(--col-size) !important;

    /* Disable basePortLocation */
    &.activity-not-exists .mat-mdc-cell {
      &.mat-column-basePortLocation {
        --mat-table-background-color: rgba(var(--ion-color-medium-rgb), 0.8) !important;
        background-color: var(--mat-table-background-color);

        * {
          display: none;
          visibility: hidden;
        }
      }
    }

    .mat-column-pmfm {
    }

    /* Disable other columns */
    &.activity-not-exists .mat-mdc-cell,
    &.activity-inactive .mat-mdc-cell {
      &.mat-column-pmfm,
      &.mat-column-metier,
      &.mat-column-fishingArea,
      &.mat-column-distanceToCoastGradient,
      &.mat-column-depthGradient,
      &.mat-column-nearbySpecificArea {
        --mat-table-background-color: rgba(var(--ion-color-medium-rgb), 0.8) !important;
        background-color: var(--mat-table-background-color);

        * {
          display: none;
          visibility: hidden;
        }
      }
    }

    // Readonly month
    &.readonly .mat-mdc-cell {
      --mat-table-row-item-label-text-color: var(--ion-text-color, rgba(0, 0, 0, 0.87));
      --mat-table-row-disabled-item-label-text-color: var(--ion-color-step-500);
      color: var(--mat-table-row-disabled-item-label-text-color);
    }

    // Duplicated month (e.g. unresolved conflict)
    &.duplicated {
      background-color: var(--ion-color-warning-tint);
    }

    // Predoc month
    &.SIH-ACTIPRED {
      --mat-table-background-color: rgba(var(--ion-color-secondary-rgb), 0.1) !important;
      background-color: var(--mat-table-background-color);

      &.mat-column-reset-background-color {
        --mat-table-background-color: var(--ion-color-step-100) !important;
      }
    }

    &.conflictual {
      background-color: var(--ion-color-warning-tint);
    }
  }

  .mat-mdc-header-row,
  .mat-mdc-row,
  .mat-mdc-footer-row {
    border: 0 !important;
    --mat-table-row-item-outline-width: 0px;
  }

  .mat-mdc-header-cell {
    padding: 0;

    ion-label {
      width: 100%;
    }

    &.tappable:hover {
      cursor: pointer;
    }

    &.mat-column-month {
      //display: flex;
      //flex-basis: 33%;
      //button {
      //  flex-shrink: 1 !important;
      //  flex-grow: 1 !important;
      //  flex-wrap: wrap;
      //}
    }
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    flex: 1 !important;
    width: 100%;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    min-height: var(--mat-row-height) !important;
    height: var(--mat-row-height) !important;
    max-height: var(--mat-row-height) !important;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);

    &.odd {
      --mat-table-background-color: rgba(var(--ion-color-medium-rgb), 0.15) !important;
      background-color: var(--mat-table-background-color);

      &.mat-column-reset-background-color {
        --mat-table-background-color: var(--ion-color-step-100) !important;
      }
    }

    &.mat-column-fishingArea {
      --mat-table-background-color: rgba(var(--ion-color-medium-rgb), 0.2) !important;
      background-color: var(--mat-table-background-color);
    }

    &.collapsed {
      --mat-row-height: 3px !important;

      * {
        visibility: hidden;
        display: none;
      }
    }
  }

  .mat-mdc-cell .computed {
    color: var(--ion-color-primary-tint) !important;
    font-style: italic !important;
  }

  .mat-column-select,
  .mat-column-id {
    display: none;
    visibility: hidden;
    width: 0 !important;
  }

  .mat-column-month {
    font-weight: var(--mat-table-header-headline-weight, 500);
  }

  .mat-column-metier {
    --mat-table-background-color: rgba(var(--ion-color-medium-rgb), 0.4) !important;
    background-color: var(--mat-table-background-color);
  }

  .mat-column-reset-background-color,
  ::ng-deep .mat-column-reset-background-color {
    --ion-background-color: var(--mat-table-background-color) !important;
    background-color: var(--mat-table-background-color) !important;
  }

  ::ng-deep .mat-form-field-disabled {
    input::-webkit-input-placeholder, /* Chrome/Opera/Safari */
    input::-moz-placeholder, /* Firefox 19+ */
    input:-ms-input-placeholder, /* IE 10+ */
    input:-moz-placeholder {
      /* Firefox 18- */
      color: transparent;
    }
  }

  .visible-hover {
    visibility: hidden;
  }

  .mat-mdc-row:hover {
    .visible-hover {
      visibility: unset;
    }
  }
}

/* ------------------------------------
 * Cell selection and cell clipboard
 * ------------------------------------ */

.mat-mdc-table {
  // Enable cell selection on a cell
  .mat-mdc-cell-resizable {
    position: relative;

    &:hover {
      border: solid 1px var(--mat-cell-border-color-hover);
      .resize-handle-corner {
        background-color: var(--mat-cell-resizable-handle-color-hover);
      }
    }
    .resize-handle-left,
    .resize-handle-right,
    .resize-handle-top,
    .resize-handle-bottom {
      position: absolute;
      transition: background-color 0.2s ease-in 0.2s;
      &:hover {
        background-color: var(--mat-cell-resizable-handle-color-hover);
      }
    }
    .resize-handle-top,
    .resize-handle-bottom {
      height: var(--mat-cell-resizable-handle-size, 5px);
      cursor: row-resize;
    }

    .resize-handle-top {
      left: 0;
      top: 0;
      right: 0;
    }

    .resize-handle-bottom {
      left: 0;
      bottom: 0;
      right: 0;
    }

    .resize-handle-left,
    .resize-handle-right {
      width: var(--mat-cell-resizable-handle-size, 5px);
      cursor: col-resize;
    }

    .resize-handle-left {
      top: 0;
      bottom: 0;
      left: 0;
    }

    .resize-handle-right {
      top: 0;
      bottom: 0;
      right: 0;
    }

    .resize-handle-corner {
      position: absolute;
      bottom: 0;
      right: 0;
      height: var(--mat-cell-resizable-handle-corner-size, 5px);
      width: var(--mat-cell-resizable-handle-corner-size, 5px);
      cursor: crosshair;
      &:hover {
        background-color: var(--mat-cell-resizable-handle-color-hover);
      }
    }
  }

  // When a cell cell selection has been starting
  &.resizing {
    --mat-cell-resizable-handle-color-hover: transparent;

    .mat-mdc-cell-resizable:hover {
      border: 1px solid transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mat-mdc-row.mat-mdc-row-disabled:hover,
    .mat-mdc-row.mat-row-disabled:hover {
      background-color: unset;
      cursor: crosshair;
    }

    .visible-hover {
      visibility: hidden !important;
    }
  }
}

// Cell selection div
.cell-selection {
  position: fixed;
  background-color: rgba(var(--ion-color-secondary-rgb), 0.4);
  border: 2px solid var(--mat-cell-border-color-hover);
  z-index: 10;
  pointer-events: none;

  &.top-no-border {
    border-top: 1px dot-dot-dash var(--mat-cell-border-color-hover);
  }
  &.bottom-no-border {
    border-bottom: 1px dot-dot-dash var(--mat-cell-border-color-hover);
  }

  &:has(.debug) {
    align-content: end;
  }

  .debug {
    --ion-padding: 2px;
    padding-inline-start: var(--ion-padding);
    padding-inline-end: var(--ion-padding);
    color: var(--ion-color-tertiary);
    font-style: italic;
    font-size: 12px;
    background-color: rgba(var(--ion-background-color-rgb, 255, 255, 255), 0.7);
    display: inline-block;
  }
}

// Cell clipboard border animation
@keyframes linearGradientMove {
  100% {
    background-position:
      4px 0,
      -4px 100%,
      0 -4px,
      100% 4px;
  }
}

// Cell clipboard div
.cell-clipboard {
  --border-color: var(--ion-color-accent, gray);
  position: fixed;
  z-index: 5;
  border: 1px dotted var(--border-color);
  animation: linearGradientMove 0.3s infinite linear;
  background:
    linear-gradient(90deg, var(--border-color) 50%, transparent 0) repeat-x,
    linear-gradient(90deg, var(--border-color) 50%, transparent 0) repeat-x,
    linear-gradient(0deg, var(--border-color) 50%, transparent 0) repeat-y,
    linear-gradient(0deg, var(--border-color) 50%, transparent 0) repeat-y;
  background-size:
    4px 2px,
    4px 2px,
    2px 4px,
    2px 4px;
  background-position:
    0 0,
    0 100%,
    0 0,
    100% 0;
  background-color: unset;
  pointer-events: none;
}
