<!-- DEBUG -->
<ng-container *ngIf="debug">
  <ng-container *ngTemplateOutlet="debugPanel"></ng-container>
</ng-container>

<!-- Table options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">
  <!-- Compact mode -->
  <button mat-menu-item (click)="toggleCompactMode()">
    <mat-icon *ngIf="compact; else disabledIcon">check_box</mat-icon>
    <ng-template #disabledIcon>
      <mat-icon>check_box_outline_blank</mat-icon>
    </ng-template>
    <ion-label translate>COMMON.BTN_COMPACT_ROWS</ion-label>
  </button>
</mat-menu>

<div class="table-container">
  <mat-table [dataSource]="dataSource" [class.resizing]="!!resizingCell">
    <!-- hidden columns (required by AppTable) -->
    <ng-container *ngFor="let col of hiddenColumns" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef class="cdk-visually-hidden"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="cdk-visually-hidden"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="month" [sticky]="sticky" [class.mat-mdc-column-sticky]="sticky">
      <mat-header-cell *matHeaderCellDef>
        <ion-label>&nbsp;</ion-label>
        <!-- Add metier block -->
        <button mat-icon-button [title]="'ACTIVITY_CALENDAR.EDIT.BTN_ADD_METIER_BLOCK' | translate" (click)="addMetierBlock($event)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-header-cell *matCellDef="let row" [title]="errorSpan.innerText || ''">
        <ion-label
          class="ion-text-center"
          matBadge="!"
          [matBadgeHidden]="!row.editing || row.valid"
          matBadgeOverlap="true"
          matBadgeColor="accent"
          matBadgeSize="small"
        >
          {{ row.currentData.startDate | dateFormat: { pattern: 'MMMM' } | capitalize }}
        </ion-label>
        <span hidden #errorSpan>
          {{ row.editing && row.validator | translateFormError: errorTranslatorOptions }}
        </span>
      </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="vesselOwner">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>ACTIVITY_CALENDAR.EDIT.VESSEL_OWNER</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-label *rxIf="vesselOwners$; let vesselOwners; suspense: skeletonText80" class="computed">
          <!--          {{ vesselOwners | mapGet: row.currentData.month | propertyGet: 'vesselOwner' | referentialToString: locationDisplayAttributes }}-->
        </ion-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="registrationLocation">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>ACTIVITY_CALENDAR.EDIT.REGISTRATION_LOCATION</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ion-label *rxIf="vesselSnapshots$; let vesselSnapshots; suspense: skeletonText80" class="computed">
          {{ vesselSnapshots | mapGet: row.currentData.month | propertyGet: 'registrationLocation' | referentialToString: locationDisplayAttributes }}
        </ion-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>ACTIVITY_CALENDAR.EDIT.IS_ACTIVE</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="mat-mdc-cell-resizable" #cell (click)="focusColumn = 'isActive'">
        @if (row.editing && row.validator | formGetControl: 'isActive'; as control) {
          <mat-form-field>
            <mat-select
              [formControl]="control"
              [placeholder]="'ACTIVITY_CALENDAR.EDIT.IS_ACTIVE' | translate"
              [autofocus]="focusColumn === 'isActive'"
            >
              <mat-select-trigger>
                {{ isActiveMap[control.value]?.label | translate }}
              </mat-select-trigger>
              <mat-option *ngFor="let item of isActiveList" [value]="item.id">
                <ion-icon [name]="item.icon"></ion-icon>
                {{ item.label | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="control.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
          </mat-form-field>
        } @else {
          {{ isActiveMap[row.currentData.isActive]?.label | translate }}
        }

        <!-- resize handlers -->
        <ng-container *ngTemplateOutlet="cellHandlers; context: { $implicit: row, cell: cell, col: 'isActive', x: true, y: false }"></ng-container>
      </mat-cell>
    </ng-container>

    <!-- Base port location -->
    <ng-container matColumnDef="basePortLocation">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>ACTIVITY_CALENDAR.EDIT.BASE_PORT_LOCATION</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="mat-mdc-cell-resizable" #cell (click)="focusColumn = 'basePortLocation'">
        @if (row.editing && row.validator | formGetControl: 'basePortLocation'; as control) {
          <mat-autocomplete-field
            [placeholder]="'ACTIVITY_CALENDAR.EDIT.BASE_PORT_LOCATION' | translate"
            [formControl]="control"
            [config]="autocompleteFields.basePortLocation"
            [autofocus]="focusColumn === 'basePortLocation'"
          ></mat-autocomplete-field>
        } @else {
          @if (row.currentData.basePortLocation | referentialToString: locationDisplayAttributes; as label) {
            <ion-label [title]="label" class="ion-text-nowrap">{{ label }}</ion-label>
          }
        }

        <!-- resize handlers -->
        <ng-container
          *ngTemplateOutlet="cellHandlers; context: { $implicit: row, cell: cell, col: 'basePortLocation', x: true, y: false }"
        ></ng-container>
      </mat-cell>
    </ng-container>

    <!-- Metiers -->
    <ng-container *ngFor="let col of dynamicColumns">
      <ng-container [matColumnDef]="col.key">
        <mat-header-cell *matHeaderCellDef>
          <ion-label>{{ col.label }}</ion-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-mdc-cell-resizable" #cell (click)="focusColumn = col.key">
          @if (row.editing && row.validator | formGetControl: col.path; as control) {
            <mat-autocomplete-field
              [placeholder]="col.placeholder"
              [formControl]="control"
              [config]="col.autocomplete"
              [autofocus]="focusColumn === col.key"
            ></mat-autocomplete-field>
          } @else {
            @if (row.currentData | propertyGet: col.path | referentialToString: col.autocomplete.attributes; as label) {
              <ion-label [title]="label" class="ion-text-nowrap">{{ label }}</ion-label>
            }
          }
          <!-- resize handlers -->
          <ng-container *ngTemplateOutlet="cellHandlers; context: { $implicit: row, cell: cell, col: col.key, x: true, y: false }"></ng-container>
        </mat-cell>
      </ng-container>
    </ng-container>

    <!-- Actions -->
    <app-actions-column
      [stickyEnd]="stickyEnd"
      [style]="'mat-table'"
      (confirmAndAddClick)="confirmAndAdd($event.event, $event.row)"
      (cancelOrDeleteClick)="cancelOrDelete($event.event, $event.row)"
      (backward)="confirmAndBackward($event.event, $event.row)"
      (forward)="confirmAndForward($event.event, $event.row)"
      [canCancel]="true"
      [dirtyIcon]="false"
    >
      <!-- Add metier block -->
      <button mat-icon-button matHeader [title]="'ACTIVITY_CALENDAR.EDIT.BTN_ADD_METIER_BLOCK' | translate" (click)="addMetierBlock($event)">
        <mat-icon>add</mat-icon>
      </button>
    </app-actions-column>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.mat-mdc-row-error]="row.invalid"
      [class.mat-mdc-row-dirty]="row.dirty"
      [class.mat-mdc-row-disabled]="!row.editing"
      [class.mat-mdc-row-selected]="row.editing"
      (keydown.escape)="escapeEditingRow($event)"
      [cdkTrapFocus]="!row.valid"
      (click)="clickRow($event, row)"
      (press)="pressRow($event, row)"
    ></mat-row>
  </mat-table>
</div>

<ng-template #cellHandlers let-row let-col="col" let-cell="cell" let-x="x" let-y="y">
  <div class="resize-handle-left" *ngIf="x !== false" (mousedown)="onMouseDown($event, cell, row, col, 'x')" (mouseup)="onMouseUp($event)"></div>
  <div class="resize-handle-right" *ngIf="x !== false" (mousedown)="onMouseDown($event, cell, row, col, 'x')" (mouseup)="onMouseUp($event)"></div>
  <div class="resize-handle-top" *ngIf="y !== false" (mousedown)="onMouseDown($event, cell, row, col, 'y')" (mouseup)="onMouseUp($event)"></div>
  <div
    class="resize-handle-bottom"
    *ngIf="y !== false"
    (mousedown)="onMouseDown($event, cell, row, col.month, 'y')"
    (mouseup)="onMouseUp($event)"
  ></div>
  <div
    class="resize-handle-corner"
    *ngIf="x !== false || y !== false"
    (mousedown)="onMouseDown($event, cell, row, col.month)"
    (mouseup)="onMouseUp($event)"
  ></div>
</ng-template>

<ng-template #skeletonText80>
  <ion-label style="width: 80%">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </ion-label>
</ng-template>

<ng-template #debugPanel>
  <app-debug title="Calendar">
    <ion-grid>
      <ion-row>
        <ion-col>
          calendar.ready: {{ readySubject | async }}
          <br />
          calendar.loading: {{ loadingSubject | async }}
          <br />
          calendar.enabled: {{ enabled }}
          <br />
          calendar.dirty: {{ dirty }}
          <br />
          calendar.valid: {{ valid }}
          <br />
          <br />
          calendar.timezone: {{ timezone }}
          <br />
          calendar.excludesColumns: {{ excludesColumns }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-debug>
</ng-template>
