
<!-- Table options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">

  <!-- display columns option -->
  <button *ngIf="showDisplayColumnModal" mat-menu-item (click)="openSelectColumnsModal($event)">
    <mat-icon>view_column</mat-icon>
    <ion-label translate>COMMON.DISPLAYED_COLUMNS_DOTS</ion-label>
  </button>

  <mat-divider></mat-divider>

  <!-- Compact mode -->
  <button mat-menu-item (click)="toggleCompactMode()">
    <mat-icon *ngIf="compact; else disabledIcon">check_box</mat-icon>
    <ng-template #disabledIcon>
      <mat-icon>check_box_outline_blank</mat-icon>
    </ng-template>
    <ion-label translate>COMMON.BTN_COMPACT_ROWS</ion-label>
  </button>
</mat-menu>

<div class="table-container">
  <mat-table [dataSource]="dataSource" [class.resizing]="!!resizingCell">
    <!-- hidden columns (required by AppTable) -->
    <ng-container *ngFor="let col of hiddenColumns" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef class="cdk-visually-hidden">
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="cdk-visually-hidden">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="month" [sticky]="sticky" [class.mat-mdc-column-sticky]="sticky">
      <mat-header-cell *matHeaderCellDef>
        <ion-label>&nbsp;</ion-label>
      </mat-header-cell>
      <mat-header-cell *matCellDef="let row">
        <ion-label class="ion-text-center">
          {{ row.currentData.startDate | dateFormat: { pattern: 'MMMM' } | capitalize }}
        </ion-label>
      </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="vesselOwner">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>ACTIVITY_CALENDAR.EDIT.VESSEL_OWNER</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <ion-label class="computed">TODO Vessel Owner</ion-label>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="registrationLocation">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>ACTIVITY_CALENDAR.EDIT.REGISTRATION_LOCATION</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <ion-label *rxIf="vesselSnapshots$; let vesselSnapshots; suspense: skeletonText80" class="computed">
          {{ vesselSnapshots | mapGet: row.currentData.month | propertyGet: 'registrationLocation' | referentialToString: locationDisplayAttributes }}
        </ion-label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>ACTIVITY_CALENDAR.EDIT.IS_ACTIVE</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="mat-mdc-cell-resizable" #cell>
        <mat-form-field floatLabel="never" *ngIf="row.editing && row.validator | formGetControl: 'isActive'; let control; else readonlyCell">
          <mat-select [formControl]="control" [placeholder]="'ACTIVITY_CALENDAR.EDIT.IS_ACTIVE' | translate">
            <mat-select-trigger>
              {{ isActiveMap[control.value]?.label | translate }}
            </mat-select-trigger>
            <mat-option *ngFor="let item of isActiveList" [value]="item.id">
              <ion-icon [name]="item.icon"></ion-icon>
              {{ item.label | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="control.hasError('required')" translate>
            ERROR.FIELD_REQUIRED
          </mat-error>
        </mat-form-field>

        <ng-template #readonlyCell>
          {{ isActiveMap[row.currentData.isActive]?.label | translate }}
        </ng-template>

        <!-- resize handlers -->
        <ng-container *ngTemplateOutlet="cellHandlers; context: { $implicit: row, cell: cell, col: 'isActive', x: true, y: false }"></ng-container>
      </mat-cell>
    </ng-container>

    <!-- Base port location -->
    <ng-container matColumnDef="basePortLocation">
      <mat-header-cell *matHeaderCellDef>
        <ion-label translate>ACTIVITY_CALENDAR.EDIT.BASE_PORT_LOCATION</ion-label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="mat-mdc-cell-resizable" #cell>

        <mat-autocomplete-field
          *ngIf="row.editing && row.validator | formGetControl: 'basePortLocation'; let control; else readonlyCell"
          floatLabel="never"
          [placeholder]="'ACTIVITY_CALENDAR.EDIT.BASE_PORT_LOCATION' | translate"
          [formControl]="control"
          [config]="autocompleteFields.basePortLocation">
        </mat-autocomplete-field>
        <ng-template #readonlyCell>
          {{row.currentData.basePortLocation | referentialToString: locationDisplayAttributes}}
        </ng-template>

        <!-- resize handlers -->
        <ng-container *ngTemplateOutlet="cellHandlers; context: { $implicit: row, cell: cell, col: 'basePortLocation', x: true, y: false }"></ng-container>
      </mat-cell>
    </ng-container>

    <!-- Actions -->
    <app-actions-column [stickyEnd]="stickyEnd" [style]="'mat-table'"
      (confirmAndAddClick)="confirmAndAdd($event.event, $event.row)"
      (cancelOrDeleteClick)="cancelOrDelete($event.event, $event.row)"
      (backward)="confirmAndBackward($event.event, $event.row)"
      (forward)="confirmAndForward($event.event, $event.row)"
      [canCancel]="true" [dirtyIcon]="false"
    >
      <!-- Options menu -->
      <button mat-icon-button matHeader [title]="'COMMON.BTN_OPTIONS' | translate" [matMenuTriggerFor]="optionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </app-actions-column>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.mat-mdc-row-error]="row.invalid"
      [class.mat-mdc-row-dirty]="row.dirty"
      [class.mat-mdc-row-disabled]="!row.editing"
      [class.mat-mdc-row-selected]="row.editing"
      (keydown.escape)="escapeEditingRow($event)"
      [cdkTrapFocus]="!row.valid"
      (click)="clickRow($event, row)"
      (press)="pressRow($event, row)"
    ></mat-row>

  </mat-table>
</div>

<ng-template #cellHandlers let-row let-col="col" let-cell="cell" let-x="x" let-y="y">
  <div
    class="resize-handle-left" *ngIf="x !== false"
    (mousedown)="onMouseDown($event, cell, row, col,'x')"
    (mouseup)="onMouseUp($event)"
  ></div>
  <div
    class="resize-handle-right" *ngIf="x !== false"
    (mousedown)="onMouseDown($event, cell, row, col, 'x')"
    (mouseup)="onMouseUp($event)"
  ></div>
  <div
    class="resize-handle-top" *ngIf="y !== false"
    (mousedown)="onMouseDown($event, cell, row, col, 'y')"
    (mouseup)="onMouseUp($event)"
  ></div>
  <div
    class="resize-handle-bottom" *ngIf="y !== false"
    (mousedown)="onMouseDown($event, cell, row, col.month, 'y')"
    (mouseup)="onMouseUp($event)"
  ></div>
  <div
    class="resize-handle-corner" *ngIf="x !== false || y !== false"
    (mousedown)="onMouseDown($event, cell, row, col.month)"
    (mouseup)="onMouseUp($event)"
  ></div>
</ng-template>


<ng-template #skeletonText80>
  <ion-text style="width: 80%">
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </ion-text>
</ng-template>
