<!-- root form content -->
<app-batch-form-content>

  <ng-container afterSpecies>
    <!-- sub batches buttons -->
    <ion-col size="12" size-sm="6" *ngIf="allowSubBatches && showHasSubBatchesButton" class="form-container">
      <!-- Has individual measures ? -->
      <mat-form-field floatLabel="always" >
        <input matInput type="text" hidden
               [formControl]="hasSubBatchesControl"
               [placeholder]="'TRIP.BATCH.EDIT.INDIVIDUAL_MEASURE'|translate"
               required>
        <ion-grid class="ion-no-padding" >
          <ion-row class="ion-no-padding ion-row-buttons" *ngIf="!loading; else rowSkeleton">
            <ion-col>
              <ion-button class="mat-form-field-button"
                          [disabled]="hasSubBatchesControl.disabled"
                          [tabindex]="tabindex && tabindex + 8 || -1"
                          (click)="hasSubBatchesControl.setValue(false)"
                          (keyup.enter)="hasSubBatchesControl.setValue(false)"
                          fill="solid" expand="full"
                          [color]="hasSubBatches === undefined ? 'danger': (!hasSubBatches ? 'accent' : 'light')">
                <ion-label translate>TRIP.BATCH.EDIT.WITHOUT_MEASURE</ion-label>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="mat-form-field-button"
                          [disabled]="hasSubBatchesControl.disabled"
                          [tabindex]="tabindex && tabindex + 9 || -1"
                          (click)="hasSubBatchesControl.setValue(true)"
                          (keyup.enter)="hasSubBatchesControl.setValue(true)"
                          fill="solid" expand="full"
                          [color]="hasSubBatches === undefined ? 'danger': (hasSubBatches ? 'accent' : 'light')">
                <ion-label translate>TRIP.BATCH.EDIT.WITH_MEASURE</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </mat-form-field>
    </ion-col>

    <ng-content select="[afterSpecies]"></ng-content>
  </ng-container>
</app-batch-form-content>

<ion-grid class="ion-no-padding">

  <ng-content select="[beforeChildren]"></ng-content>

  <!-- QV children -->
  <ion-row *ngIf="qvPmfm; let qvPmfm">
    <ion-col *ngFor="let qv of qvPmfm.qualitativeValues; index as i;"
             class="ion-padding-top"
             size="12" size-md="6">

      <ion-card class="qv ion-no-margin ion-no-padding"
                [class.even]="i % 2 === 0"
                [class.odd]="i % 2 !== 0">

        <ion-card-header>
          <ion-card-title>
            <ion-label>
              <h1>
                <app-icon *ngIf="qv|batchSortingValueIcon: qvPmfm; let iconRef" [ref]="iconRef"></app-icon>&nbsp;
                <span matBadge="!" [matBadgeHidden]="!childForm.invalid"
                    matBadgeOverlap="false"
                    matBadgeColor="accent"
                    matBadgeSize="small"
                    matBadgePosition="above after">{{ qv.name }}</span>
              </h1>
              <p *ngIf="showError && loaded" [class.cdk-visually-hidden]="!childForm.invalid">
                <ion-text color="danger" [innerHTML]="childForm.form | translateFormError: childForm.errorTranslatorOptions"></ion-text>
              </p>
            </ion-label>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <app-batch-form #childForm
                          [tabindex]="tabindex + 10 + 10*i"
                          [acquisitionLevel]="acquisitionLevel"
                          [pmfms]="childrenPmfmsByQvId$ | async | mapGet: qv.id"
                          [showError]="false"
                          [showTaxonName]="false"
                          [showTaxonGroup]="false"
                          [availableTaxonGroups]="[]"
                          [samplingRatioFormat]="samplingRatioFormat"
                          [maxVisibleButtons]="maxVisibleButtons"
                          [maxItemCountForButtons]="maxItemCountForButtons"
                          [i18nSuffix]="i18nSuffix"
                          [mobile]="mobile"
                          [debug]="debug"
          ></app-batch-form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ng-content select="[afterComment]"></ng-content>

</ion-grid>

<ng-template #rowSkeleton>
  <ion-row class="ion-no-padding ion-row-buttons">
    <ion-col>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-col>
  </ion-row>
</ng-template>
