
:host {
  width: 100%;
}
.table-container {
  --table-toolbar-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height));
  min-width: 100%;
  overflow: auto;

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }

  .mat-table {
    background-color: transparent !important;
    --mat-cell-vertical-padding: 4px;

    /* First header row (group) */
    .mat-header-row.first-header-row {
      background-color: var(--mat-toolbar-background-color, whitesmoke);
      height: var(--mat-toolbar-height, 64px);
      --mat-cell-vertical-padding: 0;

      .mat-header-cell {
        background-color: transparent;

        &.mat-column-top-start {
          padding-inline-start: 8px;
          color: unset;
        }

        &.mat-column-qv-group {
          text-align: center;
          background-color: rgba(var(--ion-color-light-rgb), 0.8) !important;
          border-top: 8px solid var(--mat-toolbar-background-color);

          &.even {
            background-color: rgba(var(--ion-color-medium-rgb), 0.8) !important;
          }

          ion-label,
          mat-label {
            text-align: center !important;
            margin: 0;
            width: 100%;

            mat-checkbox {
              margin-left: 5px;
              margin-right: 5px;
            }
          }
        }
      }
    }


    .mat-header-row,
    .mat-row {


      .mat-header-cell.total {
        background-color: rgba(var(--ion-color-light-rgb), 0.6) !important;
      }

      .mat-cell.total {
        background-color: rgba(var(--ion-color-light-rgb), 0.6);
      }

      &.mat-row-selected {
        .mat-cell.total {
          background-color: rgba(0, 0, 0, 0.1) !important;
        }
      }

      .mat-column-id {
        min-width: 30px;
        max-width: 30px;
      }

      .mat-column-taxonName,
      .mat-column-taxonGroup {
        min-width: 150px;
      }

      .mat-column-weight,
      .mat-column-weight {
        text-align: center;
      }

      .mat-column-LAN_samplingIndividualCount,
      .mat-column-DIS_samplingIndividualCount,
      .mat-column-samplingIndividualCount {
        max-width: 60px;
      }

      .mat-column-comments {
        max-width: inherit; // Override default limitation
      }

      .mat-column-top-end,
      .mat-column-actions {
        max-width: 40px;
        padding-inline-start: 0;
        padding-inline-end: 0;
        color: unset;
      }

      /* reset computed*/
      .not-computed {
        color: var(--ion-color-dark);
        font-style: normal;
      }
    }
  }
}
