.table-container {
  --table-toolbar-height: 0px;
  --table-paginator-height: 0px;
  height: calc(100% - var(--table-container-offset, 0px) - var(--table-toolbar-height, 0px) - var(--table-paginator-height, 0px));

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
  &.has-paginator {
    --table-paginator-height: var(--app-paginator-height);
  }
}

.mat-mdc-table {

  .mat-column-vessel {
    max-width: 200px;
    padding-right: 5px;
  }

  mat-mdc-header-cell.hidden,
  mat-mdc-cell.hidden {
    visibility: hidden;
    display: none;
  }

  .mat-mdc-header-row,
  .mat-mdc-row {

    .mat-column-vessel {

    }

    .comments-italic {
      font-style: italic;
    }
    &.even {
      background-color: var(--ion-color-light-tint, whitesmoke);
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell {
      &.even {
        background-color: var(--ion-color-light, whitesmoke);
      }
    }

    .mat-mdc-header-cell.mat-column-day {
      ion-label {
        margin-inline-start: 4px;
        margin-inline-end: 4px;
        display: block;
        text-align: center;
        white-space: break-spaces;
      }
    }
    .mat-mdc-cell.mat-column-day:hover {
      background-color: var(--ion-color-secondary) !important;
      color: var(--ion-color-secondary-contrast);
      cursor: pointer !important;
    }

    div.mat-mdc-cell-error {
      background-color: var(--ion-color-danger);
      color: var(--ion-color-danger-contrast);
      cursor: pointer !important;
    }
  }
}
