<ion-app>

  <ion-modal #askForGeolocationModal>
    <ng-template>
      <ion-header>
        <ion-toolbar [color]="'accent'">
          <ion-title>{{'DEVICE_POSITION.ASK_FOR_ENABLE_GEOLOCATION.TITLE'|translate}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="recheckIfPositionIsEnabled()"><ion-icon name="close"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="ion-margin">
          <ion-text>
            {{'DEVICE_POSITION.ASK_FOR_ENABLE_GEOLOCATION.MESSAGE'|translate}}
          </ion-text>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <app-menu [logo]="logo" [appName]="appName" contentId="menu-content">

    <!-- notification icons  -->
    <app-job-progression-icon *ngIf="enabledNotificationIcons" [autoHide]="true" headerBottomRight></app-job-progression-icon>
    <app-user-event-notification-icon *ngIf="enabledNotificationIcons" headerBottomRight></app-user-event-notification-icon>

    <ion-router-outlet id="menu-content"></ion-router-outlet>

  </app-menu>

</ion-app>
