<!-- Progress item -->
@let current = progression?.current$ | push;
@let total = progression.total$ | push;
@if (!hideIndeterminate || current) {
  <ion-item lines="none" color="transparent" class="ion-no-padding">
    <ion-label class="ion-text-wrap">
      <h4 class="computed" *rxIf="progression.message$; let message">
        {{ message | translate }}&nbsp;
        @if (total > 0) {
          <span>({{ ((100 * current) / total).toFixed(0) }}%)</span>
        }
      </h4>
      <p>
        <ion-progress-bar [type]="(total && 'determinate') || 'indeterminate'" [value]="current / total"></ion-progress-bar>
      </p>
    </ion-label>

    @if (cancellable) {
      <ion-button
        slot="end"
        fill="clear"
        size="small"
        class="ion-no-margin"
        [disabled]="progression.cancelled$ | async"
        [title]="'COMMON.BTN_CANCEL' | translate"
        (click)="cancelClick($event)"
      >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    }
  </ion-item>
}
