
<ion-toolbar color="light" *ngIf="showToolbar">
  <!-- Add -->
  <button mat-icon-button
          *ngIf="canEdit && !mobile && enabled"
          [title]="'COMMON.BTN_ADD'|translate"
          (click)="add($event)">
    <mat-icon>add</mat-icon>
  </button>

  <ion-buttons slot="end">
    <button mat-icon-button [title]="'IMAGE.GALLERY.BTN_MODE'|translate"
            (click)="toggleMode($event)">
      <mat-icon>view_compact</mat-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-grid>
  <ion-row>
    <ion-col [size]="colSize">
      <ion-button (click)="add($event)"
                  [disabled]="disabled">
        <ion-icon slot="start" name="camera"></ion-icon>
        <span translate>COMMON.BTN_ADD</span>
      </ion-button>
    </ion-col>

    <ion-col *ngFor="let image of images" [size]="colSize">
      <a (click)="show($event, image)">
        <img [src]="image.url||image.dataUrl">
      </a>
    </ion-col>
  </ion-row>
</ion-grid>
