
<ion-toolbar color="light" *ngIf="showToolbar">
  <!-- Add -->
  <button mat-icon-button
          *ngIf="canEdit && !mobile && enabled"
          [title]="'COMMON.BTN_ADD'|translate"
          (click)="add($event)">
    <mat-icon>add</mat-icon>
  </button>

  <ion-buttons slot="end">
    <!-- Default Segment -->
    <ion-segment (ionChange)="toggleMode($event)" color="secondary" [value]="colSize">
      <ion-segment-button value="4">
        <mat-icon>view_module</mat-icon>
      </ion-segment-button>
      <ion-segment-button value="12">
        <mat-icon>view_list</mat-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-buttons>
</ion-toolbar>

<ion-grid>
  <ion-row>
<!--    <ion-col [size]="colSize">-->
<!--      <ion-button (click)="add($event)"-->
<!--                  [disabled]="disabled">-->
<!--        <ion-icon slot="start" name="camera"></ion-icon>-->
<!--        <span translate>COMMON.BTN_ADD</span>-->
<!--      </ion-button>-->
<!--    </ion-col>-->

    <ion-col *ngFor="let image of images" [size]="colSize">
      <a (click)="show($event, image)" class="tappable">
        <img [src]="image.url||image.dataUrl" @fadeInAnimation>
      </a>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- FAB button: add -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end"
         *ngIf="showToolbar && mobile"
         [class.cdk-visually-hidden]="disabled"
         @fadeInOutAnimation>

  <ion-fab-button color="tertiary" (click)="add($event)">
    <ion-icon name="camera"></ion-icon>
    <ion-icon name="add" class="icon-secondary" style="left: 33px; top: 9px; font-size: 20px;"></ion-icon>
  </ion-fab-button>
</ion-fab>
