form {
  ion-col > ion-label {
    word-wrap: break-word;
    white-space: normal;
  }

  ion-col[no-padding] {
    padding: 0 !important;
  }
}

:host ::ng-deep {
  mat-date-time-field {
    .mat-form-field-disabled {
      .mat-form-field-infix {
        min-height: 38px !important;
      }
    }
  }

  // Compact lat/long fields, to be able to display one one row in small screen
  mat-latlong-field {
    ion-col.text {
      .mdc-text-field {
        padding-left: unset; // 4px !important;
        padding-right: 0 !important;
      }
    }
    ion-col.sign {
      --max-width: var(--min-width) !important;
      &.latitude {
        --min-width: 38px !important;
      }
      &.longitude {
        --min-width: 58px !important;
      }
    }
  }

  .has-buttons {
    // Fix field height, for rows with buttons (e.g. operation type)
    .mat-form-field-infix {
      min-height: 64px !important;
      input,
      .mat-form-field-label-wrapper label.ng-star-inserted {
        padding: 5px 0 0 5px;
      }
      input[type='text'] {
        height: 27px;
      }
    }
  }
}

input.cursor-pointer {
  cursor: pointer !important;
}

.form-container {
  .mat-mdc-form-field {
    &.physicalGear,
    &.metier,
    &.parentOperation {
      max-height: 63px;
    }
  }
}
