
<!-- Top toolbar -->
<app-toolbar [color]="toolbarColor"
             [hasValidate]="!loading && (dirty || saving)"
             [hasClose]="!loading && (!dirty && !saving)"
             (onValidate)="save($event)"
             (onValidateAndClose)="saveAndClose($event)"
             (onClose)="close($event)"
             [defaultBackHref]="defaultBackHref"
             [canGoBack]="true">

  <ion-title [innerHTML]="$title|async"></ion-title>

  <ion-buttons slot="end">

    <!-- last operation (history) -->
    <ion-button *ngIf="showLastOperations"
                hidden-xxs
                [disabled]="(loadingSubject|push) || (savingSubject|push)"
                [title]="'TRIP.OPERATION.LAST_OPERATIONS'|translate"
                [matMenuTriggerFor]="lastOperationsMenu">
      <mat-icon slot="icon-only">history</mat-icon>
    </ion-button>

    <!-- New operation
    <ion-button hidden-xxs
                [disabled]="loading"
                [title]="'TRIP.OPERATION.BTN_SAVE_AND_NEW'|translate"
                (click)="saveAndNew($event)">
      <mat-icon slot="icon-only">add_circle_outline</mat-icon>
    </ion-button>-->

    <!-- duplicate (if desktop) -->
    <ion-button *ngIf="!mobile && canDuplicate"
                [disabled]="disabled || invalid || saving"
                [title]="'TRIP.OPERATION.EDIT.BTN_DUPLICATE'|translate"
                (click)="duplicate($event)">
      <mat-icon slot="icon-only">content_copy</mat-icon>
    </ion-button>

    <!-- option menu -->
    <button slot="end" mat-icon-button
            *ngIf="enabled && !isNewData || (debug && !saving)"
            [disabled]="loading || saving"
            [matMenuTriggerFor]="optionsMenu"
            [title]=" 'COMMON.BTN_OPTIONS'|translate">
      <mat-icon>more_vert</mat-icon>
    </button>
  </ion-buttons>
</app-toolbar>

<!-- Last operations menu -->
<mat-menu #lastOperationsMenu="matMenu" class="mat-menu-size-75vw ion-no-padding">

  <ng-template matMenuContent>

    <ion-row class="mat-menu-header ion-no-padding column">
      <ion-col>
        <ion-label translate>TRIP.OPERATION.LAST_OPERATIONS</ion-label>
      </ion-col>
    </ion-row>

    <ion-list class="ion-no-padding">
      <ng-container *rxIf="lastOperations$; let items; else noLastOperation">

        <ion-item *rxFor="let item of items; strategy: 'userBlocking'"
                  tappable class="text-1x"
                  [color]="data?.id === item.id ? 'secondary100' : undefined"
                  (click)="onLastOperationClick($event, item.id)">
          <app-operation-icon [value]="item" [allowParentOperation]="allowParentOperation"></app-operation-icon>
          <ion-grid>
            <ion-row>
              <!-- FIXME: rankOrder cannot be safely computed, when using a page's offset
              <ion-col size="3">
                <span translate>TRIP.OPERATION.OPE_PREFIX</span> #{{ item.rankOrderOnPeriod}}
              </ion-col>-->
              <ion-col style="padding-top: 8px !important;">
                <ion-label>{{ item.physicalGear | referentialToString: opeForm.autocompleteFields.physicalGear.attributes }}</ion-label>
              </ion-col>
              <ion-col size="auto">
                <ion-text>{{ item.startDateTime | dateFormat: {pattern: dateTimePattern} }}
                  <ion-text color="primary"><br/><small>{{ item.startDateTime | dateFromNow }}</small></ion-text>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-item>

        <!-- no result-->
        <ng-container *ngIf="!items.length" [ngTemplateOutlet]="noLastOperation">
        </ng-container>

      </ng-container>

      <!-- No last operations -->
      <ng-template #noLastOperation>
        <ion-item>
          <ion-text color="medium" class="text-italic">
            <span translate>TRIP.OPERATION.NO_LAST_OPERATION</span>
          </ion-text>
        </ion-item>
      </ng-template>
    </ion-list>

    <!-- final space (need by fab button)-->
    <p visible-xs visible-sm visible-mobile>&nbsp;</p>

    <!-- new operation fab button (mobile) -->
    <ion-fab-button color="tertiary"
                    size="small"
                    class="visible-xs visible-sm visible-mobile"
                    [disabled]="loading"
                    style="margin-left: calc(100% - 50px); margin-top: -46px;"
                    (click)="saveAndNew($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-footer hidden-mobile hidden-xs hidden-sm>
      <ion-toolbar>
        <div slot="end" class="ion-padding-end">
          <!-- Show all button -->
          <ion-button fill="clear"
                      (click)="toolbar.doBackClick($event)"
                      routerDirection="back"
                      translate>TRIP.OPERATION.BTN_SHOW_ALL</ion-button>

          <!-- New operation button -->
          <ion-button color="tertiary" fill="solid"
                      (click)="saveAndNew($event)" translate>COMMON.BTN_ADD</ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</mat-menu>

<!-- Type = options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="after">

  <ng-template matMenuContent>
    <!-- duplicate (if mobile) -->
    <button mat-menu-item class="ion-color-danger" *ngIf="mobile && enabled && canDuplicate"
            (click)="duplicate($event)">
      <ion-label>
        <mat-icon>content_copy</mat-icon>&nbsp;
        <span translate>TRIP.OPERATION.EDIT.BTN_DUPLICATE</span>
      </ion-label>
    </button>

    <!-- online help -->
    <!-- TODO: enable this -->
    <button mat-menu-item
            *ngIf="!mobile && debug"
            (click)="openHelpModal($event)">
      <ion-label>
        <mat-icon><ion-icon slot="icon-only" name="help-circle-outline"></ion-icon></mat-icon>&nbsp;
        <span translate>COMMON.BTN_SHOW_HELP</span>
      </ion-label>
    </button>

    <mat-divider *ngIf="canDuplicate"></mat-divider>

    <!-- reset -->
    <button mat-menu-item
            [disabled]="!dirty"
            (click)="cancel($event)">
      <ion-label>
        <mat-icon><ion-icon slot="icon-only" name="refresh"></ion-icon></mat-icon>&nbsp;
        <span translate>COMMON.BTN_RESET</span>
      </ion-label>
    </button>

    <!-- delete -->
    <button mat-menu-item class="ion-color-danger"
            [disabled]="isNewData || disabled"
            (click)="delete($event)">
      <ion-label>
        <mat-icon>delete</mat-icon>&nbsp;
        <span translate>TRIP.OPERATION.EDIT.BTN_DELETE</span>
      </ion-label>
    </button>
  </ng-template>

</mat-menu>

<ion-content>

  <mat-tab-group #tabGroup
                 class="mat-tab-disabled-hidden mat-tab-fixed-content mat-tab-group-root"
                 [(selectedIndex)]="selectedTabIndex"
                 (selectedTabChange)="onTabChange($event)"
                 [animationDuration]="mobile ? tabGroupAnimationDuration : '0s'"
                 [disablePagination]="true"
                 [dynamicHeight]="false">

    <!-- TAB: general -->
    <mat-tab label="{{'TRIP.OPERATION.EDIT.TAB_GENERAL'|translate}}">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>TRIP.OPERATION.EDIT.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger"
                  *ngIf="error || (submitted && (opeForm.invalid || measurementsForm.invalid))"></ion-icon>
      </ng-template>

      <div>
        <!-- error -->
        <ion-item *ngIf="(error || opeForm.error) as errorMsg" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" [innerHTML]="errorMsg|translate"></ion-label>
        </ion-item>

        <ng-container *ngIf="debug">
          <ng-container *ngTemplateOutlet="debugPanel"></ng-container>
        </ng-container>

        <ion-grid class="ion-no-padding">

          <ion-row>
            <ion-col class="ion-padding">
              <!-- form -->
              <app-form-operation #opeForm
                                  [programLabel]="programLabel$|async"
                                  [showError]="false"
                                  [usageMode]="usageMode"
                                  [tabindex]="1"
                                  (onSubmit)="save($event)"
                                  (lastEndDateChanges)="lastEndDate=$event"
                                  (openParentOperation)="openParentOperation($event)"
                                  [debug]="debug">

                <!-- Other features (Measurements) -->
                <ion-grid class="ion-no-padding ion-padding-top"
                          [class.cdk-visually-hidden]="measurementsForm.pmfms$|async|isEmptyArray">
                  <ion-row>
                    <ion-col size="12" size-md="3" size-lg="3">
                      <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.OTHER_FEATURES</ion-label>
                    </ion-col>
                    <ion-col>
                      <app-form-measurements #measurementsForm
                                             entityName="VesselUseMeasurement"
                                             [acquisitionLevel]="acquisitionLevel$|push:'immediate'"
                                             [gearId]="gearId$|push:'immediate'"
                                             [forceOptional]="forceMeasurementAsOptional"
                                             [forceOptionalExcludedPmfmIds]="forceOptionalExcludedPmfmIds"
                                             [i18nPmfmPrefix]="'TRIP.OPERATION.PMFM.'"
                                             [i18nSuffix]="i18nContext.suffix"
                                             [tabindex]="30"
                                             [mobile]="mobile">
                      </app-form-measurements>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </app-form-operation>
            </ion-col>

            <!-- quality metadata (+ control button) only if 'on desk' mode -->
            <ion-col class="ion-no-padding" size="12" size-xl="3" *ngIf="usageMode|isNotOnField">
              <app-entity-metadata [value]="data"
                                   [showRecorder]="data?.updateDate|isNotNil">
                <app-entity-quality-form [service]="entityQualityService"></app-entity-quality-form>
              </app-entity-metadata>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </mat-tab>

    <!-- TAB: Catch -->
    <mat-tab #catchTab
             [label]="'TRIP.OPERATION.EDIT.TAB_CATCH'|translateContext: i18nContext.suffix"
             [disabled]="!showCatchTab">
      <ng-template mat-tab-label>
        <mat-icon>line_style</mat-icon>
        <ion-label *ngVar="batchTree.batchGroupsTable.totalRowCount as count"
                   [matBadge]="count"
                   [matBadgeHidden]="(batchTree.errorSubject|push) || batchTree.invalid || !count"
                   matBadgeOverlap="false"
                   matBadgeColor="primary"
                   matBadgeSize="small"
                   matBadgePosition="above after">{{catchTab.textLabel}}
        </ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && batchTree.invalid || (batchTree.errorSubject|push)"></ion-icon>
      </ng-template>

      <!-- batch tree -->
      <app-batch-tree #batchTree
                      queryTabIndexParamName="subtab"
                      [showBatchTables]="showBatchTables"
                      [selectedTabIndex]="selectedSubTabIndex"
                      [allowSpeciesSampling]="hasIndividualMeasures$|push"
                      [defaultHasSubBatches]="hasIndividualMeasures$|push"
                      [allowSubBatches]="hasIndividualMeasures$|push"
                      [usageMode]="usageMode"
                      [gearId]="gearId$|push:'immediate'"
                      [physicalGear]="physicalGear$|push:'immediate'"
                      [useSticky]="mobile"
                      [i18nPmfmPrefix]="'TRIP.BATCH.PMFM.'"
                      [mobile]="mobile"
                      [debug]="debug">
      </app-batch-tree>
    </mat-tab>

    <!-- TAB: Samples  -->
    <mat-tab #sampleTab
             [label]="'TRIP.OPERATION.EDIT.TAB_SAMPLES'|translateContext: i18nContext.suffix"
             [disabled]="!showSamplesTab">
      <ng-template mat-tab-label>
        <mat-icon svgIcon="fish-oblique"></mat-icon>
        <ion-label *ngVar="sampleTree.samplesTable.totalRowCount as count"
                   [matBadge]="count"
                   [matBadgeHidden]="sampleTree.invalid || !count"
                   matBadgeOverlap="false"
                   matBadgeColor="primary"
                   matBadgeSize="small"
                   matBadgePosition="above after">{{sampleTab.textLabel}}</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && sampleTree.invalid"></ion-icon>
      </ng-template>

      <app-sample-tree #sampleTree queryTabIndexParamName="subtab"
                       [selectedTabIndex]="selectedSubTabIndex"
                       [defaultSampleDate]="lastEndDate$|async"
                       [usageMode]="usageMode"
                       (prepareRowForm)="onPrepareSampleForm($event)"
                       [useSticky]="mobile"
                       [mobile]="mobile"
                       [debug]="debug">
      </app-sample-tree>
    </mat-tab>

  </mat-tab-group>

</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>

  <app-form-buttons-bar (onCancel)="reloadWithConfirmation()"
                        [disabledCancel]="!dirty || loading"
                        (onSave)="save($event)"
                        [disabled]="!dirty || loading">

    <!-- error -->
    <ion-item *ngIf="error as errorMsg" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="errorMsg|translate"></ion-label>
    </ion-item>

  </app-form-buttons-bar>
</ion-footer>

<!-- FAB button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed"
         *ngIf="mobile && showFabButton" @fadeInOutAnimation
         visible-xs visible-sm visible-mobile>

  <ion-fab-button color="tertiary" (click)="onNewFabButtonClick($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-fab>

<!-- DEBUG -->
<ng-template #debugPanel>
  <app-debug>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          editor.ready: {{readySubject|async}}<br/>
          editor.loading: {{loading}}<br/>
          editor.enabled: {{enabled}}<br/>
          editor.dirty: {{dirty}}<br/>
          editor.valid: {{valid}}<br/>
          editor.saving: {{saving}}<br/>
        </ion-col>
        <ion-col>
          opeForm.ready: {{opeForm.readySubject|async}}<br/>
          opeForm.loading: {{opeForm.loading}}<br/>
          opeForm.enabled: {{opeForm.enabled}}<br/>
          opeForm.dirty: {{opeForm.dirty}}<br/>
          opeForm.valid: {{opeForm.valid}}<br/>
          <br/>
          opeForm.startDateTime: {{form|formGetValue:'startDateTime'|dateFormat: {time: true} }}<br/>
          opeForm.fishingStartDateTime: {{form.controls.fishingStartDateTime.valueChanges|async|dateFormat: {time: true} }}<br/>
          opeForm.fishingEndDateTime: {{form.controls.fishingEndDateTime.valueChanges|async|dateFormat: {time: true} }}<br/>
          opeForm.endDateTime: {{form.controls.endDateTime.valueChanges|async|dateFormat: {time: true} }}<br/>
        </ion-col>
        <ion-col *ngIf="allowParentOperation">
            <span *ngIf="opeForm.isChildOperation">
              parentOperation.startDateTime: {{form.get('parentOperation.startDateTime')?.valueChanges|async|dateFormat: {time: true} }}<br/>
              parentOperation.fishingStartDateTime: {{form.get('parentOperation.fishingStartDateTime')?.valueChanges|async|dateFormat: {time: true} }}<br/>

              batchTree.enabled: {{batchTree.enabled}}
              batchTree.loading: {{batchTree.loading}}
            </span>
            <span *ngIf="opeForm.isParentOperation">
              childOperation.fishingEndDateTime: {{form.get('childOperation.fishingEndDateTime')?.valueChanges|async|dateFormat: {time: true} }}<br/>
              childOperation.endDateTime: {{form.get('childOperation.endDateTime')?.valueChanges|async|dateFormat: {time: true} }}<br/>
            </span>
        </ion-col>
        <ion-col>
          measurementsForm.ready: {{measurementsForm.readySubject|async}}<br/>
          measurementsForm.loading: {{measurementsForm.loading}}<br/>
          measurementsForm.enabled: {{measurementsForm.enabled}}<br/>
          measurementsForm.dirty: {{measurementsForm.dirty}}<br/>
          measurementsForm.valid: {{measurementsForm.valid}}<br/>
          measurementsForm.gearId: {{measurementsForm.gearId}}<br/>
          measurementsForm.i18nPmfmPrefix: {{measurementsForm.i18nPmfmPrefix}}<br/>
          measurementsForm.i18nSuffix: {{measurementsForm.i18nSuffix}}<br/>
          <!-- Sample debug -->
          <span *ngIf="sampleTree">
            <br/>
            sampleTree.ready: {{sampleTree.readySubject|async}}<br/>
            sampleTree.loading: {{sampleTree.loading}}<br/>
            sampleTree.enabled: {{sampleTree.enabled}}<br/>
            sampleTree.dirty: {{sampleTree.dirty}}<br/>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-debug>
</ng-template>
