<app-modal-toolbar
  color="secondary"
  [title]="'TRIP.OPERATION.PARENT.TITLE' | translate"
  (cancel)="cancel()"
  (validate)="close($event)"
  [showSpinner]="loading"
  [canValidate]="!loading && hasSelection()"
></app-modal-toolbar>

<ion-content class="ion-no-padding">
  <mat-tab-group [selectedIndex]="debug ? 1 : 0">
    <!--    main tab Search operation -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon matPrefix slot="start">search</mat-icon>
        <ion-label translate>TRIP.OPERATION.PARENT.SEARCH</ion-label>
        <ion-icon slot="start" name="alert-circle" color="danger" *ngIf="table.error"></ion-icon>
      </ng-template>

      <app-select-operation-by-trip-table
        #table
        [showToolbar]="false"
        [enableGeolocation]="enableGeolocation"
        [gearIds]="gearIds"
        [selectedOperation]="selectedOperation"
        [allowMultiple]="allowMultiple"
        [allowParentOperation]="allowParentOperation"
        (onOpenRow)="selectRow($event)"
      ></app-select-operation-by-trip-table>
    </mat-tab>

    <!--    second tab Create operation -->
    <mat-tab>
      <ng-template mat-tab-label>
        <ion-icon matPrefix slot="start" name="add-circle-outline"></ion-icon>
        <ion-label translate>TRIP.OPERATION.PARENT.CREATE</ion-label>
      </ng-template>
      <div class="ion-padding">
        @if (debug) {
          <ng-template *ngTemplateOutlet="debugPanel"></ng-template>
        }
        <app-form-operation
          #form
          [allowParentOperation]="true"
          [programLabel]="programLabel"
          [trip]="trip"
          [showError]="false"
          [tabindex]="1"
          (onSubmit)="save($event)"
        >
          <!--          Other features (Measurements)-->
          <ion-grid
            class="form-container ion-no-padding ion-padding-top"
            [class.cdk-visually-hidden]="measurementsForm.pmfms$ | async | isEmptyArray"
          >
            <ion-row>
              <ion-col size="12" size-md="3" size-lg="3">
                <ion-label class="ion-float-end" translate>TRIP.OPERATION.EDIT.OTHER_FEATURES</ion-label>
              </ion-col>
              <ion-col>
                <app-form-measurements
                  #measurementsForm
                  entityName="VesselUseMeasurement"
                  [acquisitionLevel]="acquisitionLevel"
                  [requiredStrategy]="requiredStrategy"
                  [strategyId]="strategyId"
                  [requiredGear]="true"
                  [gearId]="gearId"
                  [forceOptional]="forceMeasurementAsOptional"
                  [forceOptionalExcludedPmfmIds]="forceOptionalExcludedPmfmIds"
                  (mapPmfms)="mapPmfms($event)"
                  [i18nPmfmPrefix]="'TRIP.OPERATION.PMFM.'"
                  [i18nSuffix]="i18nContext.suffix"
                  [tabindex]="30"
                  [mobile]="mobile"
                  [debug]="debug"
                ></app-form-measurements>
              </ion-col>
            </ion-row>
          </ion-grid>
        </app-form-operation>
      </div>
    </mat-tab>
  </mat-tab-group>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>
  <ion-toolbar>
    <ion-row class="ion-no-padding" nowrap>
      <ion-col></ion-col>

      <!-- buttons -->
      <ion-col size="auto">
        <ion-button fill="clear" color="dark" (click)="cancel()">
          <ion-label translate>COMMON.BTN_CANCEL</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ng-template #debugPanel>
  <app-debug>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          opeForm.ready: {{ opeForm.readySubject | async }}
          <br />
          opeForm.loading: {{ opeForm.loading }}
          <br />
          opeForm.enabled: {{ opeForm.enabled }}
          <br />
          opeForm.dirty: {{ opeForm.dirty }}
          <br />
          opeForm.valid: {{ opeForm.valid }}
          <br />
        </ion-col>
        <ion-col>
          opeForm.isInlineFishingArea: {{ opeForm.isInlineFishingArea }}
          <br />
          opeForm.showPosition: {{ opeForm.showPosition }}
          <br />
          opeForm.showFishingArea: {{ opeForm.showFishingArea }}
          <br />
        </ion-col>
        <ion-col>
          trip.gears.length: {{ trip.gears.length }}
          <br />
          trip.measurements.length: {{ trip.measurements.length }}
          <br />
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-debug>
</ng-template>
