<app-toolbar
  [title]="titleSubject | async"
  color="primary"
  [hasValidate]="!loading"
  (onValidate)="save($event)"
  [defaultBackHref]="defaultBackHref"
  [canGoBack]="true"
>
  <!-- options sub menu -->
  <button slot="end" mat-icon-button *ngIf="_selectedTabIndex === 3" [matMenuTriggerFor]="optionsMenu" [title]="'COMMON.BTN_OPTIONS' | translate">
    <mat-icon>more_vert</mat-icon>
  </button>
</app-toolbar>

<!-- options menu -->
<mat-menu #optionsMenu="matMenu">
  <button mat-menu-item [disabled]="loading" [matMenuTriggerFor]="downloadMenu">
    <mat-icon>download</mat-icon>
    <ion-label translate>COMMON.BTN_DOWNLOAD_DOTS</ion-label>
  </button>
  <button mat-menu-item [disabled]="loading" [matMenuTriggerFor]="importMenu">
    <mat-icon>download</mat-icon>
    <ion-label translate>COMMON.BTN_IMPORT_FROM_FILE_DOTS</ion-label>
  </button>
</mat-menu>

<!-- download menu -->
<mat-menu #downloadMenu="matMenu">
  <button mat-menu-item (click)="exportPropertiesToCsv()">
    <ion-label translate>PROGRAM.EDIT.BTN_DOWNLOAD_PROPERTIES_AS_CSV</ion-label>
  </button>
</mat-menu>

<!-- import menu -->
<mat-menu #importMenu="matMenu">
  <button mat-menu-item (click)="uploadPropertiesFromCsv($event)">
    <ion-label translate>PROGRAM.EDIT.BTN_IMPORT_PROPERTIES_FROM_CSV</ion-label>
  </button>

  <!-- Import options button -->
  <mat-divider></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="importPolicyMenu">
    <ion-label translate>REFERENTIAL.LIST.BTN_IMPORT_OPTIONS_DOTS</ion-label>
  </button>
</mat-menu>

<!-- Import policy menu -->
<mat-menu #importPolicyMenu="matMenu" class="ion-no-padding">
  <ng-template matMenuContent>
    <!-- header-->
    <ion-row class="mat-menu-header ion-no-padding column">
      <ion-col>
        <ion-label translate>REFERENTIAL.LIST.IMPORT_POLICY.TITLE</ion-label>
      </ion-col>
    </ion-row>
    @for (policy of importPolicies; track policy) {
      <button mat-menu-item (click)="propertiesImportPolicy = policy">
        <mat-icon>{{ propertiesImportPolicy === policy ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
        <ion-label>{{ 'REFERENTIAL.LIST.IMPORT_POLICY.' + policy | uppercase | translate }}</ion-label>
      </button>
    }
  </ng-template>
</mat-menu>

<ion-content>
  <mat-tab-group
    #tabGroup
    class="mat-mdc-tab-fixed-content"
    [(selectedIndex)]="selectedTabIndex"
    (selectedTabChange)="onTabChange($event)"
    [animationDuration]="tabGroupAnimationDuration"
    [dynamicHeight]="false"
  >
    <!-- TAB: general -->
    <mat-tab label="{{ 'PROGRAM.TAB_GENERAL' | translate }}" appSubMenuTab [subMenuTitle]="data?.label || ''" [parentPath]="defaultBackHref">
      <ng-template mat-tab-label>
        <mat-icon>information-circle</mat-icon>
        <ion-label translate>PROGRAM.TAB_GENERAL</ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && referentialForm.invalid"></ion-icon>
      </ng-template>

      <div class="ion-padding">
        <!-- error -->
        <ion-item *ngIf="referentialForm.error || error" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="referentialForm.error || error | translate"></ion-label>
        </ion-item>

        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding ion-padding-top">
              <!-- base form-->
              <app-referential-form
                #referentialForm
                [form]="form"
                [showError]="false"
                [requiredLabel]="true"
                [requiredName]="true"
                [requiredDescription]="true"
                [debug]="debug"
                (onSubmit)="save($event)"
              >
                <!-- taxon group type-->
                <app-form-field
                  [definition]="fieldDefinitions.taxonGroupType"
                  [formControl]="form | formGetControl: 'taxonGroupType'"
                ></app-form-field>

                <!-- gear classification -->
                <app-form-field
                  [definition]="fieldDefinitions.gearClassification"
                  [formControl]="form | formGetControl: 'gearClassification'"
                ></app-form-field>

                <!-- location classification(s) -->
                <mat-form-field floatLabel="always">
                  <mat-label matPrefix translate>PROGRAM.LOCATION_CLASSIFICATION</mat-label>
                  <input matInput class="cdk-visually-hidden" type="text" />
                  <app-list-form
                    #locationClassificationList
                    [formArray]="form | formGetArray: 'locationClassifications'"
                    [displayWith]="referentialToString"
                    [equals]="referentialEquals"
                    [options]="{ allowEmptyArray: false, allowMultipleSelection: false }"
                    (onNewItem)="addLocationClassification()"
                  ></app-list-form>
                </mat-form-field>
              </app-referential-form>
            </ion-col>

            <!-- entity metadata-->
            <ion-col class="ion-no-padding" size="12" size-xl="3">
              <app-entity-metadata [value]="data"></app-entity-metadata>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </mat-tab>

    <!-- TAB: locations  -->
    <mat-tab [label]="'PROGRAM.TAB_LOCATIONS' | translate" appSubMenuTab>
      <ng-template mat-tab-label>
        <mat-icon>room</mat-icon>
        <ion-label
          [matBadge]="locationList.length | badgeNumber"
          [matBadgeHidden]="locationList.invalid || !locationList.length"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          matBadgeSize="small"
          translate
        >
          PROGRAM.TAB_LOCATIONS
        </ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && locationList.invalid"></ion-icon>
      </ng-template>

      <div class="form-container ion-padding">
        <mat-form-field floatLabel="always">
          <input matInput class="cdk-visually-hidden" type="text" [placeholder]="'PROGRAM.LOCATIONS' | translate" />

          <app-list-form
            #locationList
            [displayWith]="referentialToString"
            [formArray]="form | formGetArray: 'locations'"
            [equals]="referentialEquals"
            [options]="{ allowEmptyArray: true, allowMultipleSelection: false }"
            (onNewItem)="addLocation()"
          ></app-list-form>
        </mat-form-field>
      </div>
    </mat-tab>

    <!-- TAB: strategies -->
    <mat-tab #strategiesTab [label]="'PROGRAM.TAB_STRATEGIES' | translateContext: i18nTabStrategiesSuffix" [disabled]="isNewData" appSubMenuTab>
      <ng-template mat-tab-label>
        <mat-icon>date_range</mat-icon>
        <ng-container *rxIf="strategiesTable$; let table; suspense: suspense">
          <ion-label
            [matBadge]="table.totalRowCount | badgeNumber"
            [matBadgeHidden]="table.invalid || !table.totalRowCount"
            matBadgeColor="primary"
            matBadgeOverlap="false"
            matBadgeSize="small"
          >
            {{ strategiesTab.textLabel }}
          </ion-label>
          <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && table?.invalid"></ion-icon>
        </ng-container>
        <ng-template #suspense>
          <ion-label><ion-skeleton-text style="min-width: 110px"></ion-skeleton-text></ion-label>
        </ng-template>
      </ng-template>

      <div class="ion-no-padding">
        <!-- error -->
        <ion-item *ngIf="(strategiesTable$ | push)?.error; let strategiesTableError" visible-xs visible-sm visible-mobile lines="none">
          <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
          <ion-label color="danger" class="error" [innerHTML]="strategiesTableError | translate"></ion-label>
        </ion-item>

        <ng-container [ngSwitch]="strategyEditor">
          <!-- Biological sampling strategy table -->
          <app-sampling-strategies-table
            #samplingStrategiesTable
            *ngSwitchCase="'sampling'"
            [program]="data"
            showToolbar="true"
            [canEdit]="enabled"
            [canDelete]="enabled"
            (onOpenRow)="onOpenStrategy($event)"
            (onNewRow)="onNewStrategy($event)"
            (ngInit)="strategiesTable = samplingStrategiesTable"
          ></app-sampling-strategies-table>

          <!-- legacy strategy table -->
          <app-strategy-table
            #legacyStrategiesTable
            *ngSwitchDefault
            [program]="data"
            [canEdit]="enabled"
            [canDuplicate]="enabled"
            [canDelete]="enabled"
            [canDownload]="loaded"
            [canUpload]="enabled"
            (onOpenRow)="onOpenStrategy($event)"
            (onNewRow)="onNewStrategy($event)"
            (ngInit)="strategiesTable = legacyStrategiesTable"
          ></app-strategy-table>
        </ng-container>
      </div>
    </mat-tab>

    <!-- TAB: properties -->
    <mat-tab [label]="'PROGRAM.TAB_PROPERTIES' | translate" [disabled]="isNewData" appSubMenuTab>
      <ng-template mat-tab-label>
        <mat-icon matPrefix>build</mat-icon>
        @let propertiesCount = propertiesForm.formArray?.length;
        <ion-label
          [matBadge]="propertiesCount | badgeNumber"
          [matBadgeHidden]="propertiesForm.invalid || !propertiesCount"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          matBadgeSize="small"
          translate
        >
          PROGRAM.TAB_PROPERTIES
        </ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && propertiesForm.invalid"></ion-icon>
      </ng-template>

      <div class="ion-padding">
        <app-properties-form #propertiesForm [definitions]="propertyDefinitions" [options]="{ allowEmptyArray: true }"></app-properties-form>
      </div>
    </mat-tab>

    <!-- TAB: privilege -->
    <mat-tab [label]="'PROGRAM.TAB_PRIVILEGES' | translate" [disabled]="isNewData" appSubMenuTab>
      <ng-template mat-tab-label *ngVar="personsTable as table">
        <mat-icon>
          <ion-icon matPrefix slot="start" name="people"></ion-icon>
        </mat-icon>
        <ion-label
          [matBadge]="table.totalRowCount | badgeNumber"
          [matBadgeHidden]="table.invalid || !table.totalRowCount"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          matBadgeSize="small"
        >
          {{ 'PROGRAM.TAB_PRIVILEGES' | translate }}
        </ion-label>
        <ion-icon slot="end" name="alert-circle" color="danger" *ngIf="submitted && table.invalid"></ion-icon>
      </ng-template>

      <div style="height: var(--mat-tab-body-content-height)">
        <app-person-privileges-table
          #personsTable
          [title]="'PROGRAM.PRIVILEGES.TITLE' | translate"
          [canEdit]="enabled"
          [readOnly]="readOnlyPrivileges"
        ></app-person-privileges-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</ion-content>

<ion-footer hidden-xs hidden-sm hidden-mobile>
  <app-form-buttons-bar
    (onCancel)="reloadWithConfirmation()"
    [disabledCancel]="!dirty || loading"
    (onSave)="save($event)"
    [disabled]="!dirty || loading"
  >
    <!-- error -->
    <ion-item *ngIf="error" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" [innerHTML]="error | translate"></ion-label>
    </ion-item>
  </app-form-buttons-bar>
</ion-footer>

<!-- FAB Button -->
<ng-container *ngIf="mobile" [ngSwitch]="selectedTabIndex">
  <!-- add strategy -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    *ngSwitchCase="TABS.STRATEGIES"
    [class.cdk-visually-hidden]="strategiesTable?.disabled"
    @fadeInOutAnimation
  >
    <ion-fab-button color="tertiary" (click)="onNewStrategy($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- add person -->
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    *ngSwitchCase="TABS.PERSONS"
    [class.cdk-visually-hidden]="personsTable?.disabled"
    @fadeInOutAnimation
  >
    <ion-fab-button color="tertiary" (click)="personsTable.addRow($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ng-container>
