.table-container {
  --table-toolbar-height: 0px;
  --table-paginator-height: 0px;
  height: calc(100% - var(--table-toolbar-height) - var(--table-paginator-height));

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
  &.has-paginator {
    --table-paginator-height: var(--app-paginator-height);
  }
}

.mat-table {

  .mat-column-acquisitionLevel {
    min-width: 80px;
    max-width: 110px;
  }

  .mat-column-rankOrder,
  .mat-column-acquisitionNumber,
  .mat-column-minValue,
  .mat-column-maxValue,
  .mat-column-defaultValue {
    max-width: 60px;
  }

  .mat-column-isMandatory {
    max-width: 40px;
  }



  mat-header-cell.hidden,
  mat-cell.hidden {
    visibility: hidden;
    display: none;
  }

  &.no-header-row {

    .mat-column-parameter {
      min-width: 80px;
      max-width: 80px;
    }

    .mat-column-actions {
      min-width: 80px;
      max-width: 80px;
    }

    mat-cell:first-of-type,
    .mat-cell:first-of-type {
      padding-left: 0 !important;
    }
  }
}
