.table-container {
  --table-toolbar-height: 0px;
  --table-paginator-height: 0px;
  height: calc(100% - var(--table-toolbar-height) - var(--table-paginator-height));

  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
  &.has-paginator {
    --table-paginator-height: var(--app-paginator-height);
  }
}

.mat-table {
  min-width: 100%;

  .mat-column-acquisitionLevel {
    min-width: 80px;
    max-width: 120px;
  }

  .mat-column-rankOrder,
  .mat-column-acquisitionNumber {
    min-width: 40px;
    max-width: 40px;
  }

  .mat-column-pmfm {
    min-width: 250px;
  }

  .mat-column-minValue,
  .mat-column-maxValue {
    min-width: 50px;
    max-width: 70px;
  }

  .mat-column-defaultValue {
    min-width: 100px;
  }

  .mat-column-isMandatory {
    max-width: 40px;
  }

  mat-header-cell.hidden,
  mat-cell.hidden {
    visibility: hidden;
    display: none;
  }

  &.no-header-row {

    .mat-column-parameter {
      min-width: 80px;
      max-width: 80px;
    }

    .mat-column-actions {
      min-width: 80px;
      max-width: 80px;
    }

    mat-cell:first-of-type,
    .mat-cell:first-of-type {
      padding-left: 0 !important;
    }
  }
}
