
:host {

  .mat-expansion-panel-body {
    padding: 0;
  }


  mat-sidenav-content {
    height: calc(100vh - var(--app-toolbar-height, 0px) - var(--mat-tab-link-height, 0px) - var(--app-form-buttons-bar-height, 0px) - 1px);
  }

  mat-sidenav {
    width: 350px;
    ion-footer::before {
      background-image: unset;
      border: 0;
    }
  }

  mat-accordion {
    display: block;
  }

  mat-sidenav-container {
    ion-footer {
      position: absolute;
      bottom: 0;
    }
  }
}
