:host {

  .mat-expansion-panel-body {
    padding: 0;
  }

  mat-sidenav-container {
    height: 100%; // Avoid to overflow
  }

  mat-sidenav {
    width: 350px;
    ion-footer::before {
      background-image: unset;
      border: 0;
    }

    ion-footer {
      position: absolute;
      bottom: 0;
    }

    mat-accordion {
      display: block;
    }
  }


}
