.leaflet-control-layers {
  visibility: hidden;
  display: none;
}

.chart-container {
  height: calc(80vh);
}

.summary {
  li {
    list-style-type: none;

    ion-icon, mat-icon {
      height: 24px;
      width: 24px;
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      display: inline-block;
      line-height: 1;
    }
  }

  li.no-icon {
    padding-left: 31px;
  }
}
