.leaflet-control-layers {
  visibility: hidden;
  display: none;
}

.chart-container {
  height: calc(80vh);
}

/* -- table -- */
@media print {
  section table {
    --r-table-cell-font-size: 0.4em;

    th {
      --r-link-color: black;
    }
  }
}

section table {
  --r-table-cell-font-size: 0.4em;
  th {
    --r-link-color: black;
  }

  td.numeric {
    text-align: end;
  }
}
