// --------------------------------------------------
// Import theme
// --------------------------------------------------
@import 'theme';
@import 'theme.variables';
@import 'leaflet';
@import 'reveal';

// --------------------------------------------------
// Inject Font
// --------------------------------------------------
* {
  @include font-roboto();
}

// --------------------------------------------------
// Inject theme colors (as CSS variables)
// --------------------------------------------------
:root {
  // Extra small device
  @media screen and (max-width: #{$screen-xs-max}) {
    --mat-toolbar-height: mat.$toolbar-height-mobile;
  }

  ion-icon {
    pointer-events: none !important;
  }
}
