
<ng-container [ngSwitch]="style">

  <!-- mat-icon-button -->
  <button *ngSwitchCase="'mat-icon-button'"
          mat-icon-button
          [title]="title|translate"
          [matMenuTriggerFor]="downloadMenu">
    <mat-icon *ngIf="matIcon">{{matIcon}}</mat-icon>
    <ion-icon *ngIf="icon" [name]="icon"></ion-icon>
  </button>

  <!-- mat-menu-item -->
  <button *ngSwitchCase="'mat-menu-item'"
          mat-menu-item
          #menuItemTrigger="matMenuTrigger"
          [disabled]="disabled"
          (mouseenter)="menuTrigger.openMenu()"
          [matMenuTriggerFor]="downloadMenu">
    <ion-label>
      <mat-icon *ngIf="matIcon">{{matIcon}}</mat-icon>
      <mat-icon *ngIf="icon" ><ion-icon [name]="icon"></ion-icon></mat-icon>
      <span>{{title|translate}}</span>
    </ion-label>
  </button>

</ng-container>

<!-- Download menu -->
<mat-menu #downloadMenu="matMenu"  xPosition="after">
  <ng-template matMenuContent>

    <ng-container *ngIf="!onDownloadAsJson.observed && onDownloadAsType.observed; else subMenu ">
      <ng-container *ngTemplateOutlet="typesTemplate"></ng-container>
    </ng-container>

    <ng-template #subMenu>
      <!-- Select extraction types -->
      <button mat-menu-item
              *ngIf="onDownloadAsType.observed"
              [disabled]="disabled"
              [matMenuTriggerFor]="typesMenu">
        <mat-icon><ion-icon name="cloud-download"></ion-icon></mat-icon>
        <ion-label translate>COMMON.BTN_DOWNLOAD_DOTS</ion-label>
      </button>

      <!-- JSON -->
      <button mat-menu-item
              *ngIf="onDownloadAsJson.observed"
              [disabled]="disabled"
              (click)="onDownloadAsJson.emit($event)">

        <mat-icon>download</mat-icon>
        <ion-label translate>COMMON.BTN_DOWNLOAD_JSON</ion-label>
      </button>
    </ng-template>
  </ng-template>
</mat-menu>

<!-- Types menu -->
<mat-menu #typesMenu="matMenu" xPosition="after">
  <ng-template matMenuContent>
    <ng-container *ngTemplateOutlet="typesTemplate"></ng-container>
  </ng-template>
</mat-menu>

<ng-template #typesTemplate>
  <!-- header-->
  <ion-row class="mat-menu-header ion-no-padding column" *ngIf="title">
    <ion-col>
      <ion-label>{{ typesTitle | translate }}</ion-label>
    </ion-col>
  </ion-row>

  <ng-container *rxIf="types$; let items; suspense: loadingItem">
    <button mat-menu-item *ngIf="items|isEmptyArray" [disabled]="true">
      <mat-label translate>COMMON.NO_RESULT</mat-label>
    </button>
    <button mat-menu-item
            *ngFor="let type of items"
            (click)="onDownloadAsType.emit(type)">
      <ion-label>{{type.name}}</ion-label>
    </button>
  </ng-container>
  <ng-template #loadingItem>
    <button mat-menu-item [disabled]="true">
      <mat-label><ion-skeleton-text animated style="width: 80%; min-width: 150px"></ion-skeleton-text></mat-label>
    </button>
  </ng-template>
</ng-template>
