:host {
  .mat-mdc-tab-group {
    --mat-tab-body-content-height: calc(
      100vh - var(--app-toolbar-height, 0px) - var(--mat-tab-link-height, 0px) - var(--app-form-buttons-bar-height, 0px)
    );

    --expansion-panel-padding: 0;
    --mat-expansion-container-background-color: var(--ion-color-step-50);
  }

  ::ng-deep .mat-mdc-tab-label-container {
    z-index: 100 !important; // To be over cell selection (see activity calendar)
  }

  ::ng-deep .mat-mdc-tab-body.mat-mdc-tab-body-active.no-scroll-y {
    // Avoid 2 scrollbars, after predoc panel was opened - fix issue #753
    overflow-y: hidden !important;
  }
}

app-entity-metadata {
  .visible-hover {
    visibility: hidden;
    display: none;
  }

  ::ng-deep ion-item:hover {
    .visible-hover {
      visibility: visible;
      display: unset;
    }
  }
  ion-text.warning {
    font-size: 12px !important;
    color: var(--ion-color-tertiary);

    p {
      font-size: inherit;
    }
  }

  .observer-avatars {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap;

    ion-avatar {
      height: 30px;
      width: 30px;

      img,
      svg {
        border: solid 1px rgba(0, 0, 0, 0.2);
      }
      img {
        background-color: var(--ion-color-secondary) !important;
      }
      svg {
        border-radius: 20px;
        height: 30px;
        width: 30px;
      }
    }
  }

  ion-list {
    background-color: var(--ion-color-light-tint);
  }
}
