:host {
  .mat-mdc-tab-group {
    --mat-tab-body-content-height: calc(
      100vh - var(--app-toolbar-height, 0px) - var(--mat-tab-link-height, 0px) - var(--app-form-buttons-bar-height, 0px)
    );
  }
}

app-entity-metadata {
  .visible-hover {
    visibility: hidden;
    display: none;
  }

  ::ng-deep ion-item:hover {
    .visible-hover {
      visibility: visible;
      display: unset;
    }
  }
}
