.filter-panel {
  margin-bottom: 5px;
  --expansion-panel-padding: 0 !important;

  ion-row.filter-row {
    & > ion-col:first-child {
      text-align: end;
      vertical-align: center;
    }
  }
}

.table-container {
  height: calc(100% - var(--table-toolbar-height) - var(--table-paginator-height));

  --table-toolbar-height: 0px;
  --table-paginator-height: 0px;
  &.has-toolbar {
    --table-toolbar-height: var(--mat-toolbar-height);
  }
  &.has-paginator {
    --table-paginator-height: var(--app-paginator-height);
  }
}

.mat-mdc-table {
  min-width: 100%;
  --mat-cell-horizontal-padding: 4px;

  .mat-mdc-cell {
    padding-right: 10px;
  }

  .mat-mdc-table-sticky {
    &.mat-column-id {
      left: 50px !important;
      min-width: 55px;
      max-width: 55px;
    }
    &.mat-column-label {
      left: 105px !important;
    }
  }

  .mat-column-label,
  .mat-column-analyticReference {
    min-width: 120px;
    max-width: 120px;
  }

  .mat-column-effortQ1,
  .mat-column-effortQ2,
  .mat-column-effortQ3,
  .mat-column-effortQ4 {
    min-width: 80px;
    max-width: 80px;
    padding-left: 5px;

    ion-text {
      width: 100%;
    }
    ion-text.has-realized {
      .mouseover {
        visibility: hidden;
      }

      &:hover {
        color: var(--ion-color-primary);

        .mouseover {
          visibility: visible;
        }
      }
    }
  }

  .mat-column-effortQ1,
  .mat-column-effortQ3 {
    background-color: lightgray;
  }

  .mat-column-comment {
    width: 80px;
  }

  .mat-column-recorderDepartments,
  .mat-column-locations,
  .mat-column-taxonNames {
    min-width: 80px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .mat-column-parameterGroups {
    min-width: 100px;
    max-width: 120px;
  }

  .mat-column-actions {
    min-width: 40px;
    width: 40px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  mat-mdc-header-cell.hidden,
  mat-mdc-cell.hidden {
    visibility: hidden;
    display: none;
  }
}
