<app-toolbar *ngIf="showToolbar" [title]="title$ | async | translate" color="primary" [canGoBack]="false" [canShowMenu]="true">
  <ion-buttons slot="end">
    @if (selection | isEmptySelection) {
      @if (!mobile && !offline) {
        <app-named-filter-selector
          class="hidden-xs hidden-sm"
          [class.cdk-visually-hidden]="!filterExpansionPanel.expanded"
          [entityName]="'Trip'"
          [subscriptSizing]="'dynamic'"
          [filterContentProvider]="namedFilterContentProvider"
          [filterFormDirty]="filterForm.dirty"
          [autocompleteConfig]="namedFilterAutocompleteConfig"
          [filterImportCallback]="filterImportCallback"
          (filterSelected)="setFilter($event)"
        ></app-named-filter-selector>
      }

      <!-- Add -->
      <button mat-icon-button *ngIf="!mobile && canEdit" [title]="'COMMON.BTN_ADD' | translate" (click)="addRow()">
        <mat-icon>add</mat-icon>
      </button>

      <!-- Refresh -->
      <button mat-icon-button *ngIf="!mobile" [title]="'COMMON.BTN_REFRESH' | translate" (click)="onRefresh.emit()">
        <mat-icon>refresh</mat-icon>
      </button>

      <!-- reset filter -->
      @if (filterCriteriaCount || (!mobile && filterExpansionPanel.expanded)) {
        <button mat-icon-button (click)="resetFilter()">
          <mat-icon color="accent">filter_list_alt</mat-icon>
          <mat-icon class="icon-secondary" style="left: 16px; top: 5px; font-weight: bold">close</mat-icon>
        </button>
      }

      <!-- Show filter -->
      <button mat-icon-button (click)="filterExpansionPanel.toggle()">
        <mat-icon
          *ngIf="filterCriteriaCount; else emptyFilter"
          [matBadge]="filterCriteriaCount"
          matBadgeColor="accent"
          matBadgeSize="small"
          matBadgePosition="above after"
        >
          filter_list_alt
        </mat-icon>
        <ng-template #emptyFilter>
          <mat-icon>filter_list_alt</mat-icon>
        </ng-template>
      </button>

      <button mat-icon-button [title]="'COMMON.BTN_OPTIONS' | translate" [matMenuTriggerFor]="optionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <!-- if row selection -->
    } @else {
      <!-- synchronize -->
      @if (!mobile && hasReadyToSyncSelection) {
        <ion-button expand="block" [color]="offline ? 'danger100' : 'danger'" (click)="synchronizeSelection()">
          <ion-icon slot="start" name="cloud-upload"></ion-icon>
          <ion-text translate>QUALITY.BTN_SYNCHRONIZE</ion-text>
        </ion-button>
      }

      <!-- Download button -->
      @if (canDownload) {
        <app-extraction-button
          [disabled]="offline"
          [programLabels]="selectionProgramLabels$ | async"
          [title]="'COMMON.BTN_DOWNLOAD' | translate"
          [disabledDownloadAsType]="synchronizationStatus !== 'SYNC'"
          (downloadAsJson)="downloadSelectionAsJson($event)"
          (downloadAsType)="openDownloadPage($event)"
        ></app-extraction-button>
      }

      <!-- map -->
      @if (canOpenMap) {
        <button mat-icon-button [title]="'EXTRACTION.BTN_OPEN_MAP' | translate" (click)="openSelectionMap($event)">
          <mat-icon>
            <ion-icon name="earth"></ion-icon>
          </mat-icon>
        </button>
      }

      <!-- delete -->
      @if (canDelete) {
        <button mat-icon-button class="hidden-xs hidden-sm" [title]="'COMMON.BTN_DELETE' | translate" (click)="deleteSelection($event)">
          <mat-icon>delete</mat-icon>
        </button>
      }
    }
  </ion-buttons>
</app-toolbar>

<!-- Table options menu -->
<mat-menu #optionsMenu="matMenu" xPosition="before">
  <!-- Update offline mode -->
  <button mat-menu-item *ngIf="hasOfflineMode" [disabled]="offline" (click)="prepareOfflineMode($event)">
    <mat-icon><ion-icon name="cloud-download"></ion-icon></mat-icon>
    <ion-label translate>NETWORK.BTN_UPDATE_OFFLINE_MODE</ion-label>
  </button>

  <!-- Init offline mode -->
  <button mat-menu-item *ngIf="!hasOfflineMode" [disabled]="offline" (click)="prepareOfflineMode($event)">
    <mat-icon>cloud_off</mat-icon>
    <ion-label translate>NETWORK.BTN_INIT_OFFLINE_MODE</ion-label>
  </button>

  <mat-divider></mat-divider>

  @if (mobile) {
    <!-- display mode options -->
    <button mat-menu-item [matMenuTriggerFor]="displayModeMenu">
      <mat-icon>view_module</mat-icon>
      <ion-label translate>COMMON.DISPLAY_MODE_DOTS</ion-label>
    </button>

    <mat-divider></mat-divider>
  }

  <!-- upload button -->
  <button mat-menu-item *ngIf="synchronizationStatus !== 'SYNC'" (click)="importJsonFile($event)">
    <mat-icon>upload</mat-icon>
    <ion-label translate>COMMON.BTN_IMPORT_FROM_FILE_DOTS</ion-label>
  </button>

  <!-- trash -->
  <button mat-menu-item *ngIf="isAdmin || synchronizationStatus !== 'SYNC'" (click)="openTrashModal($event)">
    <mat-icon>delete_sweep</mat-icon>
    <ion-label translate>COMMON.BTN_SHOW_TRASH_DOTS</ion-label>
  </button>

  <!-- Force offline (DEV ONLY) -->
  <button mat-menu-item *ngIf="debug && !offline" (click)="toggleOfflineMode($event)">
    <mat-icon>signal_wifi_off</mat-icon>
    <ion-label translate>SETTINGS.OFFLINE_MODE</ion-label>
  </button>
</mat-menu>

<!-- actions options menu -->
<mat-menu #actionsOptionsMenu="matMenu" xPosition="after">
  <!-- display columns -->
  <button mat-menu-item (click)="openSelectColumnsModal($event)" [disabled]="cardView">
    <mat-icon>view_column</mat-icon>
    <ion-label translate>COMMON.DISPLAYED_COLUMNS_DOTS</ion-label>
  </button>

  @if (!mobile) {
    <!-- display mode -->
    <button mat-menu-item [matMenuTriggerFor]="displayModeMenu">
      <mat-icon>view_module</mat-icon>
      <ion-label translate>COMMON.DISPLAY_MODE_DOTS</ion-label>
    </button>
  }

  <!-- sort by -->
  <button mat-menu-item [matMenuTriggerFor]="sortByMenu">
    <mat-icon>sort</mat-icon>
    <ion-label translate>COMMON.BTN_SORT_BY_DOTS</ion-label>
  </button>
</mat-menu>

<!-- display mode menu-->
<mat-menu #displayModeMenu="matMenu">
  <!-- Card view -->
  <button mat-menu-item (click)="setCardView(true)">
    <mat-icon><ion-icon name="grid"></ion-icon></mat-icon>
    <ion-label translate>COMMON.DISPLAY_MODE.CARD</ion-label>
  </button>
  <!-- List view -->
  <button mat-menu-item (click)="setCardView(false)">
    <mat-icon><ion-icon name="list"></ion-icon></mat-icon>
    <ion-label translate>COMMON.DISPLAY_MODE.LIST</ion-label>
  </button>
</mat-menu>

<!-- sort by menu -->
<mat-menu #sortByMenu="matMenu">
  <ng-template matMenuContent>
    <!-- lazy rendering -->
    <button mat-menu-item *ngFor="let col of sort.sortables.values()" (click)="sort.sort(col)">
      {{ getI18nColumnName(col.id) | translate }}
      <ng-container *ngIf="sortActive === col.id">
        <mat-icon>{{ sortDirection === 'asc' ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
      </ng-container>
    </button>
  </ng-template>
</mat-menu>

<ion-content class="ion-no-padding ion-flex-direction-column" scroll-y="false" scroll-x="false">
  <ion-refresher slot="fixed" *ngIf="mobile" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- search -->
  <mat-expansion-panel
    #filterExpansionPanel
    class="filter-panel"
    [class.filter-panel-floating]="filterPanelFloating"
    [class.filter-panel-pinned]="!filterPanelFloating"
  >
    <form class="form-container ion-padding-top" [formGroup]="filterForm" (ngSubmit)="onRefresh.emit()">
      <ion-grid>
        @if (showFilterProgram) {
          <ion-row>
            <ion-col>
              <!-- Program -->
              <mat-autocomplete-field
                [placeholder]="'TRIP.TABLE.FILTER.PROGRAM' | translate"
                formControlName="program"
                [config]="autocompleteFields.program"
                [clearable]="true"
              >
                <ion-icon matPrefix name="contract"></ion-icon>
              </mat-autocomplete-field>
            </ion-col>
          </ion-row>
        }

        <ion-row>
          <ion-col size="12" size-lg="6">
            <!-- Vessel -->
            <mat-autocomplete-field
              *ngIf="autocompleteFields.vesselSnapshot; else fieldSkeleton"
              [placeholder]="'TRIP.TABLE.FILTER.VESSEL' | translate"
              formControlName="vesselSnapshot"
              [config]="autocompleteFields.vesselSnapshot"
              [clearable]="true"
            >
              <ion-icon matPrefix name="boat"></ion-icon>
            </mat-autocomplete-field>
          </ion-col>

          <ion-col size="12" size-lg="6">
            <!-- Location -->
            <mat-autocomplete-field
              [placeholder]="'TRIP.TABLE.FILTER.LOCATION' | translate"
              formControlName="location"
              [config]="autocompleteFields.location"
              [clearable]="true"
            >
              <mat-icon matPrefix>room</mat-icon>
            </mat-autocomplete-field>
          </ion-col>
        </ion-row>

        <!-- Period criteria -->
        <ion-row>
          <ion-col size="12" size-sm="6">
            <!-- Start date -->
            <mat-date-field [placeholder]="'TRIP.TABLE.FILTER.START_DATE' | translate" formControlName="startDate" [clearable]="true">
              <ion-icon matPrefix name="calendar-outline"></ion-icon>
            </mat-date-field>
          </ion-col>

          <ion-col size="12" size-sm="6">
            <!-- End date -->
            <mat-date-field [placeholder]="'TRIP.TABLE.FILTER.END_DATE' | translate" formControlName="endDate" [clearable]="true">
              <ion-icon matPrefix name="calendar-outline" class="visible-xs visible-sm"></ion-icon>
            </mat-date-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <!-- Recorder (desktop only) -->
          @if (!mobile && showRecorder) {
            <ion-col size="12" size-lg="6">
              <!-- Recorder department -->
              <mat-autocomplete-field
                [placeholder]="'TRIP.TABLE.FILTER.RECORDER_DEPARTMENT' | translate"
                formControlName="recorderDepartment"
                [config]="autocompleteFields.department"
                [clearable]="true"
              >
                <ion-icon matPrefix name="business"></ion-icon>
              </mat-autocomplete-field>
            </ion-col>

            <ion-col size="12" size-lg="6">
              <!-- Recorder person -->
              <mat-autocomplete-field
                [placeholder]="'TRIP.TABLE.FILTER.RECORDER_PERSON' | translate"
                formControlName="recorderPerson"
                [config]="autocompleteFields.person"
                [i18nPrefix]="'USER.'"
                [clearable]="true"
              >
                <ion-icon matPrefix name="person"></ion-icon>
              </mat-autocomplete-field>
            </ion-col>
          }

          <!-- Observers (desktop only) -->
          @if (!mobile && showObservers) {
            <ion-col size="12" size-lg="6">
              <mat-autocomplete-field
                [placeholder]="'TRIP.TABLE.FILTER.OBSERVERS' | translate"
                [formControl]="filterObserversForm.at(0)"
                [config]="autocompleteFields.person"
                [i18nPrefix]="'USER.'"
                [clearable]="true"
              >
                <ion-icon matPrefix name="person"></ion-icon>
              </mat-autocomplete-field>
            </ion-col>
          }

          <!-- Data quality (desktop only) -->
          @if (!mobile && filterForm | formGetControl: 'dataQualityStatus'; as control) {
            <!-- Data quality status -->
            <ion-col [sizeLg]="!showQuality || control.value !== 'QUALIFIED' ? 6 : 3">
              <mat-form-field>
                <ion-icon matPrefix name="create"></ion-icon>
                <mat-label>{{ 'TRIP.TABLE.QUALITY' | translate }}</mat-label>
                <mat-select [formControl]="control">
                  <mat-select-trigger>
                    @if (dataQualityStatusById | mapGet: control.value; as item) {
                      <span>
                        {{ item.label | translate }}
                      </span>
                    }
                  </mat-select-trigger>
                  @for (item of dataQualityStatusList; track item.id) {
                    @if (showQuality || item.id !== 'QUALIFIED') {
                      <mat-option [value]="item.id">
                        <ion-icon [name]="item.icon"></ion-icon>
                        {{ item.label | translate }}
                      </mat-option>
                    }
                  }
                </mat-select>

                <button
                  matSuffix
                  mat-icon-button
                  tabindex="-1"
                  type="button"
                  (click)="clearFilterValue('dataQualityStatus', $event)"
                  [hidden]="disabled || !control.value"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </ion-col>

            <!-- Quality flag -->
            @if (showQuality && filterForm | formGetControl: 'qualityFlagId'; as flagControl) {
              <ion-col size="12" size-lg="3" [class.cdk-visually-hidden]="control.value !== 'QUALIFIED'">
                <mat-form-field>
                  <mat-label>{{ 'TRIP.TABLE.FILTER.QUALITY_FLAG_ID' | translate }}</mat-label>
                  <mat-select [formControl]="flagControl">
                    <mat-option
                      *ngFor="let item of qualityFlags | arrayFilter: excludeNotQualified"
                      style="background-color: var(--ion-color-{{ item.id | qualityFlagToColor }}); color: var(--ion-color-{{
                        item.id | qualityFlagToColor
                      }}-contrast)"
                      [value]="item.id"
                    >
                      {{ item.label | translate }}
                    </mat-option>
                  </mat-select>

                  <button
                    matSuffix
                    mat-icon-button
                    tabindex="-1"
                    type="button"
                    (click)="clearFilterValue('qualityFlagId', $event)"
                    [hidden]="disabled || !flagControl.value"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </ion-col>
            }
          }
        </ion-row>
      </ion-grid>
    </form>

    <mat-action-row>
      <!-- Counter  -->
      <ion-label [hidden]="(loadingSubject | async) || filterForm.dirty" [color]="empty && 'danger'" class="ion-padding">
        {{ (totalRowCount ? 'COMMON.RESULT_COUNT' : 'COMMON.NO_RESULT') | translate: { count: (totalRowCount | numberFormat) } }}
      </ion-label>

      <div class="toolbar-spacer"></div>

      <button
        mat-icon-button
        color="accent"
        *ngIf="filterPanelFloating"
        (click)="toggleFilterPanelFloating()"
        class="hidden-xs hidden-sm hidden-md"
        [title]="(filterPanelFloating ? 'COMMON.BTN_EXPAND' : 'COMMON.BTN_HIDE') | translate"
      >
        <mat-icon>
          <span style="transform: rotate(90deg)">{{ filterPanelFloating ? '&#xbb;' : '&#xab;' }}</span>
        </mat-icon>
      </button>

      <!-- Close panel -->
      <ion-button mat-button fill="clear" color="dark" (click)="closeFilterPanel()" [disabled]="loadingSubject | async">
        <ion-text translate>COMMON.BTN_CLOSE</ion-text>
      </ion-button>

      <!-- Apply button -->
      <ion-button
        mat-button
        [color]="filterForm.dirty ? 'tertiary' : 'dark'"
        [fill]="filterForm.dirty ? 'solid' : 'clear'"
        (click)="applyFilterAndClosePanel($event)"
        [disabled]="loadingSubject | async"
      >
        <ion-text translate>COMMON.BTN_APPLY</ion-text>
      </ion-button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Network status (+ Install and upgrade link) -->
  <app-install-upgrade-card
    *ngIf="showInstallUpgradeCard"
    [isLogin]="isLogin"
    [showInstallButton]="false"
    [showUpgradeWarning]="true"
    [showOfflineWarning]="false"
  ></app-install-upgrade-card>

  <!-- Update offline mode -->
  <app-update-offline-mode-card
    *ngIf="showUpdateOfflineFeature && (needUpdateOfflineFeature || importing)"
    (onUpdateClick)="prepareOfflineMode($event, { toggleToOfflineMode: false, showToast: false })"
    [progressionMessage]="progressionMessage | translate: { pct: $progression | async }"
    [progressionValue]="$progression | push: 'low'"
  ></app-update-offline-mode-card>

  <!-- error -->
  <app-error-item [message]="errorSubject | async"></app-error-item>

  <!-- Tab nav - synchro status-->
  @if (hasOfflineMode) {
    @let synchroStatus = synchronizationStatus$ | async;
    <nav mat-tab-nav-bar [tabPanel]="tableContainer">
      <a mat-tab-link [active]="synchroStatus === 'DIRTY'" (click)="setSynchronizationStatus('DIRTY')">
        <mat-icon>cloud_off</mat-icon>
        &nbsp;
        <mat-label translate>NETWORK.SYNCHRONIZATION_STATUS.DIRTY</mat-label>
      </a>
      <a mat-tab-link [active]="synchroStatus === 'SYNC'" [disabled]="offline" (click)="setSynchronizationStatus('SYNC')">
        <mat-icon>cloud_done</mat-icon>
        &nbsp;
        <ion-text translate>NETWORK.SYNCHRONIZATION_STATUS.SYNC</ion-text>
      </a>
    </nav>
  }

  <!-- table -->
  <div #tableContainer class="table-container" [class.card-view]="cardView">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortDisableClear
      [matSortActive]="defaultSortBy"
      [matSortDirection]="defaultSortDirection"
      [trackBy]="trackByFn"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef [class.cdk-visually-hidden]="mobile || !canEdit">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection | isAllSelected" [tabIndex]="-1"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="mobile || !canEdit">
          <mat-checkbox (click)="toggleSelectRow($event, row)" [checked]="selection | isSelected: row" [tabIndex]="-1"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [class.cdk-visually-hidden]="!showIdColumn"
          [class.ion-padding-start]="mobile || !canEdit"
        >
          <ion-label>#</ion-label>
        </th>
        <td mat-cell *matCellDef="let row" [class.cdk-visually-hidden]="!showIdColumn" [class.ion-padding-start]="mobile || !canEdit">
          {{ row.currentData.id | mathAbs }}
        </td>
      </ng-container>

      <!-- Quality Column -->
      <ng-container matColumnDef="quality">
        <!-- FIXME pas triable pour l'instant -->
        <th mat-header-cell *matHeaderCellDef>
          <ion-label translate>TRIP.TABLE.QUALITY</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <app-entity-quality-icon [value]="row.currentData"></app-entity-quality-icon>
        </td>
      </ng-container>

      <!-- Program Column -->
      <ng-container matColumnDef="program">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>TRIP.TABLE.PROGRAM</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-label>{{ row.currentData.program | referentialToString: ['label'] }}</ion-label>
        </td>
      </ng-container>

      <!-- Vessel Column -->
      <ng-container matColumnDef="vessel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>TRIP.TABLE.VESSEL</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-label *ngIf="autocompleteFields.vesselSnapshot; else fieldSkeleton">
            {{ row.currentData.vesselSnapshot | referentialToString: autocompleteFields.vesselSnapshot.attributes }}
          </ion-label>
        </td>
      </ng-container>

      <!-- departure location -->
      <ng-container matColumnDef="departureLocation">
        <th mat-header-cell *matHeaderCellDef>
          <ion-label translate>TRIP.TABLE.DEPARTURE_LOCATION</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.currentData.departureLocation | referentialToString: autocompleteFields.location.attributes }}
        </td>
      </ng-container>

      <!-- departure date time  -->
      <ng-container matColumnDef="departureDateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-mdc-cell-date-time">
          <ion-label translate>TRIP.TABLE.DEPARTURE_DATE_TIME</ion-label>
        </th>
        <td mat-cell class="mat-mdc-cell-date-time" *matCellDef="let row">
          <ion-text>{{ row.currentData.departureDateTime | dateFormat: { time: true } }}</ion-text>
        </td>
      </ng-container>

      <!-- return date time -->
      <ng-container matColumnDef="returnDateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-mdc-cell-date-time">
          <ion-label translate>TRIP.TABLE.RETURN_DATE_TIME</ion-label>
        </th>
        <td mat-cell class="mat-mdc-cell-date-time" *matCellDef="let row">
          <ion-text>{{ row.currentData.returnDateTime | dateFormat: { time: true } }}</ion-text>
        </td>
      </ng-container>

      <!-- Observers -->
      <ng-container matColumnDef="observers">
        <th mat-header-cell *matHeaderCellDef>
          <ion-label translate>TRIP.TABLE.OBSERVERS</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ion-text>{{ row.currentData.observers | personToString }}</ion-text>
        </td>
      </ng-container>

      <!-- Recorder -->
      <ng-container matColumnDef="recorderPerson">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <ion-label translate>TRIP.TABLE.RECORDER_PERSON</ion-label>
        </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.currentData.recorderPerson; let recorderPerson; else: recorderDepartment">
            {{ recorderPerson | personToString }}
          </ng-container>
          <ng-template #recorderDepartment>
            {{ row.currentData.recorderDepartment?.label }}
          </ng-template>
        </td>
      </ng-container>

      <!-- Comments column -->
      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" [title]="row.currentData.comments || ''">
          <ion-icon *ngIf="row.currentData.comments" color="secondary" name="chatbox" slot="icon-only"></ion-icon>
        </td>
      </ng-container>

      <!-- Card column -->
      <ng-container matColumnDef="card">
        <th mat-header-cell *matHeaderCellDef class="cdk-visually-hidden"></th>
        <td mat-cell *matCellDef="let row">
          <app-trip-card
            [color]="highlightedRowId === row.id || (mobile && selection.isSelected(row)) ? 'secondary100' : 'light'"
            [value]="row.currentData"
            [config]="autocompleteFields"
            (delete)="deleteRow($event, row)"
            (synchronize)="synchronizeRows([row])"
            [showRecorder]="false"
            [canSynchronize]="row.currentData.synchronizationStatus === 'READY_TO_SYNC' && row.currentData.id < 0"
            [canDelete]="mobile && selection.isSelected(row)"
          ></app-trip-card>
        </td>
      </ng-container>

      <!-- Actions buttons column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <!-- options menu -->
          <button mat-icon-button [title]="'COMMON.BTN_OPTIONS' | translate" [matMenuTriggerFor]="actionsOptionsMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row">
          <!-- Delete row button -->
          <!--<button mat-icon-button *ngIf="canDelete" class="visible-hover-row"
                  [title]="'COMMON.BTN_DELETE'|translate"
                  (click)="deleteRow($event, row)">
            <mat-icon>delete</mat-icon>
          </button>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: !cardView" [class.cdk-visually-hidden]="cardView"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="mat-mdc-row-disabled"
        [class.cdk-visually-hidden]="loadingSubject | async"
        [class.mat-mdc-row-selected]="!cardView && (highlightedRowId === row.id || (mobile && selection.isSelected(row)))"
        (click)="clickRow($event, row)"
        (press)="pressRow($event, row)"
      ></tr>
    </table>

    @if (loadingSubject | async) {
      <ion-item>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    } @else if (totalRowCount === 0) {
      <ion-item>
        <ion-text
          color="danger"
          class="text-italic"
          [innerHTML]="(hasOfflineMode && synchronizationStatus !== 'SYNC' ? 'TRIP.TABLE.NO_LOCAL_RESULT' : 'COMMON.NO_RESULT') | translate"
        ></ion-text>
      </ion-item>
    }
  </div>
</ion-content>

<ion-footer>
  <mat-paginator
    class="mat-paginator-footer"
    [length]="totalRowCount"
    [pageSize]="defaultPageSize"
    [pageSizeOptions]="defaultPageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
</ion-footer>

<!-- Add button (mobile) -->
<ion-fab vertical="bottom" horizontal="end" *ngIf="canEdit && mobile">
  <ion-fab-button color="tertiary" [disabled]="importing">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button [disabled]="offline || importing" [title]="'TRIP.TABLE.BTN_NEW_ONLINE' | translate" (click)="addRowToSyncStatus($event, 'SYNC')">
      <mat-icon color="primary">cloud_done</mat-icon>
      <ion-icon name="add" class="icon-secondary"></ion-icon>
    </ion-fab-button>

    <ion-fab-button [disabled]="importing" [title]="'TRIP.TABLE.BTN_NEW_OFFLINE' | translate" (click)="addRowToSyncStatus($event, 'DIRTY')">
      <mat-icon color="primary">cloud_off</mat-icon>
      <ion-icon name="add" class="icon-secondary"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ng-template #fieldSkeleton>
  <mat-form-field>
    <input matInput hidden />
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </mat-form-field>
</ng-template>
