<form class="form-container" [formGroup]="form" (ngSubmit)="doSubmit($event)">
  <!-- error -->
  <ion-item *ngIf="error && showError" visible-xs visible-sm visible-mobile lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error | translate"></ion-label>
  </ion-item>

  <ion-grid>
    <!-- PROGRAM -->
    <ion-row>
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col>
        <mat-autocomplete-field
          formControlName="program"
          [placeholder]="'TRIP.PROGRAM' | translate"
          [config]="autocompleteFields.program"
          [required]="true"
          [clearable]="!mobile"
        >
          <ion-icon matPrefix name="contract"></ion-icon>
          <app-data-favorite-button
            matSuffix
            controlName="program"
            [equals]="autocompleteFields.program.equals"
            [visibility]="true"
          ></app-data-favorite-button>
        </mat-autocomplete-field>
      </ion-col>
    </ion-row>

    <!-- Sampling strata -->
    <ion-row [@expansionAnimation]="showSamplingStrata">
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label class="ion-float-end hidden-xs hidden-sm">{{ 'TRIP.SAMPLING_SCHEME' | translateContext: i18nSuffix }}</ion-label>
      </ion-col>
      <ion-col class="has-form-field">
        @if (showSamplingStrata && form.controls.samplingStrata; as control) {
          <mat-autocomplete-field
            [formControl]="control | formGetControl"
            [placeholder]="'TRIP.SAMPLING_STRATA' | translateContext: i18nSuffix"
            [config]="autocompleteFields.samplingStrata"
            [mobile]="mobile"
            [required]="true"
            [debug]="debug"
            logPrefix="[sampling-strata-combo]"
          >
            <mat-icon matPrefix>date_range</mat-icon>
            @if (showFavorites) {
              <app-data-favorite-button
                matSuffix
                controlName="samplingStrata"
                [equals]="autocompleteFields.samplingStrata.equals"
              ></app-data-favorite-button>
            }
          </mat-autocomplete-field>
        }
      </ion-col>
    </ion-row>

    <!-- VESSEL -->
    <ion-row>
      <ion-col size="0" size-md="2" size-lg="3" class="ion-no-padding">
        <ion-label>&nbsp;</ion-label>
      </ion-col>
      <ion-col class="has-form-field">
        @if (autocompleteFields.vesselSnapshot) {
          <mat-autocomplete-field
            formControlName="vesselSnapshot"
            [placeholder]="'TRIP.VESSEL_SNAPSHOT' | translate"
            [config]="autocompleteFields.vesselSnapshot"
            [required]="true"
            [panelWidth]="mobile ? '80vw' : undefined"
          >
            <ion-icon matPrefix name="boat"></ion-icon>
            @if (showFavorites) {
              <app-data-favorite-button
                matSuffix
                controlName="vesselSnapshot"
                [equals]="autocompleteFields.vesselSnapshot.equals"
              ></app-data-favorite-button>
            }
            @if (allowAddNewVessel && network.online) {
              <button
                matSuffix
                type="button"
                mat-icon-button
                tabindex="-1"
                [class.large]="mobile"
                [title]="'TRIP.BTN_ADD_VESSEL' | translate"
                (click)="addVesselModal($event)"
              >
                <mat-icon>add</mat-icon>
              </button>
            }
          </mat-autocomplete-field>
        }
      </ion-col>
    </ion-row>

    <!-- DEPARTURE -->
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="2" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.DEPARTURE</ion-label>
      </ion-col>
      <ion-col size="12" size-sm="7" size-md="6" size-lg="5">
        @let departureLocationControl = form | formGetControl: 'departureLocation';
        <mat-autocomplete-field
          #departureLocation
          [formControl]="departureLocationControl"
          [placeholder]="'TRIP.DEPARTURE_LOCATION' | translate"
          [config]="autocompleteFields.location"
          [required]="true"
          [mobile]="mobile"
          [panelWidth]="mobile ? '80vw' : '500px'"
        >
          <mat-icon matPrefix>room</mat-icon>

          @if (showFavorites) {
            <app-data-favorite-button
              matSuffix
              [control]="departureLocationControl"
              [equals]="autocompleteFields.location.equals"
            ></app-data-favorite-button>
          }
          @if (enableCopyLocation) {
            <button
              type="button"
              mat-icon-button
              matSuffix
              [hidden]="departureLocationControl.invalid"
              (click)="copyDepartureLocation($event)"
              [title]="'TRIP.EDIT.BTN_DUPLICATE_LOCATION' | translate"
              [disabled]="disabled"
            >
              <mat-icon>arrow_downward</mat-icon>
            </button>
          }
        </mat-autocomplete-field>
      </ion-col>
      <ion-col size="12" size-sm="5" size-md="4" size-lg="4">
        <mat-date-time-field [placeholder]="'TRIP.DEPARTURE_DATE_TIME' | translate" formControlName="departureDateTime" [required]="true">
          <!-- icon (need for small screen) -->
          <mat-icon matPrefix class="visible-xs">today</mat-icon>
        </mat-date-time-field>
      </ion-col>
    </ion-row>

    <!-- RETURN -->
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="2" size-lg="3">
        <ion-label class="ion-float-end" translate>TRIP.RETURN</ion-label>
      </ion-col>
      <ion-col size="12" size-sm="7" size-md="6" size-lg="5">
        <mat-autocomplete-field
          #returnLocation
          formControlName="returnLocation"
          [placeholder]="'TRIP.RETURN_LOCATION' | translate"
          [config]="autocompleteFields.location"
          [required]="returnFieldsRequired"
          [clearable]="!returnFieldsRequired"
          [panelWidth]="mobile ? '80vw' : '500px'"
        >
          <mat-icon matPrefix>room</mat-icon>
        </mat-autocomplete-field>
      </ion-col>
      <ion-col size="12" size-sm="5" size-md="4" size-lg="4">
        @let control = form | formGetControl: 'returnDateTime';
        <mat-date-time-field
          [placeholder]="'TRIP.RETURN_DATE_TIME' | translate"
          [formControl]="control"
          [startDate]="form | formGetValue: 'departureDateTime'"
          [required]="returnFieldsRequired"
          [clearable]="!returnFieldsRequired"
        >
          <!-- icon (need for small screen) -->
          <mat-icon matPrefix class="visible-xs">insert_invitation</mat-icon>
          <!-- duration -->
          <mat-hint align="end" *ngIf="control.valid && control.value as value">
            <span translate>COMMON.DURATION_DOTS</span>
            &nbsp;{{
              {
                startValue: form.controls.departureDateTime.value,
                endValue: value,
              } | dateDiffDuration
            }}
          </mat-hint>
        </mat-date-time-field>
      </ion-col>
    </ion-row>

    <!-- Metiers -->
    @for (metierForm of metiersForm?.controls; track i; let i = $index; let first = $first; let last = $last) {
      <ion-row [@expansionAnimation]="showMetiers">
        <ion-col size="12" size-md="2" size-lg="3">
          <ion-label class="ion-float-end" *ngIf="first" translate>TRIP.METIERS</ion-label>
        </ion-col>
        <ion-col>
          <mat-autocomplete-field
            #metierField
            [formControl]="metierForm | formGetControl"
            [placeholder]="(first ? 'TRIP.MAIN_METIER_PLACEHOLDER' : 'TRIP.SECONDARY_METIER_PLACEHOLDER') | translate: { rank: i }"
            [autofocus]="metierFocusIndex === i"
            [config]="autocompleteFields.metier"
            [tabindex]="tabindex + 10 + i * 3"
            [i18nPrefix]="'REFERENTIAL.'"
            [required]="first"
            [noResultMessage]="enableMetierFilter ? 'TRIP.ERROR.NO_PRACTICED_METIER_FOUND' : 'COMMON.NO_RESULT'"
          >
            <ion-icon matPrefix name="locate"></ion-icon>
            <button
              matAfter
              type="button"
              mat-icon-button
              tabindex="-1"
              [disabled]="disabled || !canFilterMetier"
              [title]="'TRIP.BTN_FILTER_METIER' | translate"
              (click)="toggleFilteredMetier()"
              [color]="enableMetierFilter ? 'primary' : undefined"
            >
              <mat-icon>filter_list_alt</mat-icon>
            </button>
          </mat-autocomplete-field>
        </ion-col>
        <ion-col size="auto">
          <button
            type="button"
            mat-icon-button
            *ngIf="last"
            [tabindex]="tabindex + 10 + i * 3 + 1"
            [disabled]="disabled"
            [title]="'COMMON.BTN_ADD' | translate"
            (click)="addMetier()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            type="button"
            mat-icon-button
            [tabindex]="tabindex + 10 + i * 3 + 2"
            [disabled]="disabled"
            [title]="'COMMON.BTN_DELETE' | translate"
            (click)="metiersForm.removeAt(i)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </ion-col>
      </ion-row>
    }

    <ng-content select="[beforeObservers]"></ng-content>

    <!-- Observers -->
    @for (observerForm of observersForm?.controls; track i; let i = $index; let first = $first; let last = $last) {
      <ion-row [@expansionAnimation]="showObservers">
        <ion-col size="12" size-md="2" size-lg="3">
          <ion-label class="ion-float-end" *ngIf="first" translate>TRIP.OBSERVERS</ion-label>
        </ion-col>
        <ion-col>
          <mat-autocomplete-field
            [formControl]="observerForm | formGetControl"
            [placeholder]="('TRIP.OBSERVER_PLACEHOLDER' | translate) + (i + 1)"
            [autofocus]="observerFocusIndex === i"
            [config]="autocompleteFields.person"
            [tabindex]="tabindex + 10 + i * 3"
            [i18nPrefix]="'USER.'"
            [required]="first"
          >
            <ion-icon matPrefix name="person"></ion-icon>
          </mat-autocomplete-field>
        </ion-col>
        <ion-col size="auto">
          <button
            type="button"
            mat-icon-button
            *ngIf="last"
            [tabindex]="tabindex + 10 + i * 3 + 1"
            [disabled]="disabled"
            [title]="'COMMON.BTN_ADD' | translate"
            (click)="addObserver()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            type="button"
            mat-icon-button
            [tabindex]="tabindex + 10 + i * 3 + 2"
            [disabled]="disabled"
            [title]="'COMMON.BTN_DELETE' | translate"
            (click)="observersForm.removeAt(i)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </ion-col>
      </ion-row>
    }

    <!-- PMFMS -->
    <ng-content select="[afterObservers]"></ng-content>

    <!-- Comments -->
    <ion-row *ngIf="showComment">
      <ion-col size="12">
        <app-text-form
          formControlName="comments"
          [multiline]="true"
          [maxLength]="2000"
          appearance="outline"
          [autoSize]="true"
          [autoSizeMinRows]="4"
          [placeholder]="'COMMON.COMMENTS' | translate"
        >
          <mat-error *ngIf="form.controls.comments.hasError('required')" translate>ERROR.FIELD_REQUIRED</mat-error>
        </app-text-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

<ng-template #skeletonText100 let-icon="icon">
  <mat-form-field>
    @if (icon) {
      <mat-icon matPrefix>{{ icon }}</mat-icon>
    }
    <input matInput hidden />
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </mat-form-field>
</ng-template>
