


.mat-table {
  min-width: 100%;
  --mat-cell-vertical-padding: 4px;

  .mat-column-id {
    min-width: 50px;
    max-width: 120px;
    padding-right: var(--mat-cell-vertical-padding, 4px);
  }

  .mat-column-quality {
    min-width: calc(1.2em + 8px);
    padding-inline-start: var(--mat-cell-vertical-padding, 4px);
    padding-inline-end: var(--mat-cell-vertical-padding, 4px);

    mat-icon,
    ion-icon {
      font-size: 1.2em;
      height: 1.2em;
      width: 1.2em;
    }
  }

  .mat-column-program {
    min-width: 90px;
  }

  .mat-column-vessel {
    min-width: 200px;
  }

  .mat-column-departureLocation,
  .mat-column-returnLocation {
    min-width: 150px;
  }

  .mat-column-observers,
  .mat-column-recorderPerson {
    min-width: 180px;
  }

  .mat-column-actions {
    min-width: 40px;
    width: 40px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}
