
<app-toolbar *ngIf="showToolbar"
  [defaultBackHref]="defaultBackHref" canGoBack="true">
  <ion-title [innerHTML]="$title|async"></ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="slides.print($event)" >
      <ion-icon name="print"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-toolbar>

<ion-content>

  <!-- error -->
  <ion-item *ngIf="error && showError" lines="none">
    <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
    <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
  </ion-item>

  <app-slides #slides *ngIf="!error"
              [options]="slidesOptions">
    <ng-container *ngIf="loaded; else loadingTemplate">
      <section>
        <section markdown ngPreserveWhitespaces>
          ## {{'AUCTION_CONTROL.REPORT.TITLE_SHORT'|translate}}
          - {{'AUCTION_CONTROL.REPORT.AUCTION'|translate}} {{data.location?.name}}
          - {{'LANDING.REPORT.DATE_TIME'|translate}} {{data.dateTime|dateFormat: {time: true} }}
          - {{'LANDING.REPORT.RECORDER_PERSON'|translate}} {{parent.observers|personToString}}
          - {{'LANDING.REPORT.VESSEL'|translate}} **{{data.vesselSnapshot.name}}**
          - {{'AUCTION_CONTROL.REPORT.CONTROLLED_SPECIES'|translate}} **{{stats.taxonGroup?.name || '?'}}**
        </section>
      </section>
      <section *ngIf="data.samples|isArrayLength:{greaterThan: 0}">
        <section markdown ngPreserveWhitespaces
                 *ngFor="let samples of (data.samples | splitArrayInChunks: slides.printing ? -1 : 25); index as index; count as count">
          ### {{data.vesselSnapshot?.name}} - {{stats.taxonGroup?.name}} {{index|paginationToString:count:true}}

          <table [style.--col-count]="pmfms.length + 1">
            <thead>
              <tr>
                <th>{{'TRIP.SAMPLE.TABLE.LABEL'|translateContext: i18nContext.suffix}}</th>
                <th *ngFor="let pmfm of pmfms"
                    [innerHTML]="pmfm|pmfmName: {i18nPrefix: i18nPmfmPrefix, i18nContext: i18nContext.suffix, html: true }"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sample of samples; even as even" [class.even]="even">
                <td>{{sample.label}}</td>
                <td *ngFor="let pmfm of pmfms" [innerHTML]="sample.measurementValues[pmfm.id]|pmfmValue: {pmfm: pmfm, html: true}"></td>
              </tr>
            </tbody>
          </table>

        </section>
      </section>
    </ng-container>
  </app-slides>

  <ng-template #loadingTemplate>
    <div class="loader">
      <ion-spinner slot="start" color="secondary" size="large"></ion-spinner>
    </div>
  </ng-template>
</ion-content>
