<ng-container *ngIf="!embedded">
  <app-toolbar *ngIf="showToolbar"
    [defaultBackHref]="defaultBackHref" canGoBack="true">
    <ion-title [innerHTML]="$title|async"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="slides.print($event)" >
        <ion-icon name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
  </app-toolbar>

  <ion-content>

    <!-- error -->
    <ion-item *ngIf="error && showError" lines="none">
      <ion-icon color="danger" slot="start" name="alert-circle"></ion-icon>
      <ion-label color="danger" class="error" [innerHTML]="error|translate"></ion-label>
    </ion-item>

    <app-slides #slides *ngIf="!error"
                [options]="slidesOptions">
      <ng-container *ngIf="loaded; else loadingTemplate">
        <section>
          <section markdown ngPreserveWhitespaces>
            ## {{'AUCTION_CONTROL.REPORT.TITLE_SHORT'|translate}}
            - {{'AUCTION_CONTROL.REPORT.AUCTION'|translate}} {{data.location?.name}}
            - {{'LANDING.REPORT.DATE_TIME'|translate}} {{data.dateTime|dateFormat: {time: true} }}
            - {{'LANDING.REPORT.RECORDER_PERSON'|translate}} {{parent.observers|personToString}}
            - {{'LANDING.REPORT.VESSEL'|translate}} **{{data.vesselSnapshot.name}}**
            - {{'AUCTION_CONTROL.REPORT.CONTROLLED_SPECIES'|translate}} **{{stats.taxonGroup?.name || '?'}}**

            <div *ngIf="data.samples|isArrayLength: {lessThan: 6}">
              &nbsp;
              <ng-container
                [ngTemplateOutlet]="samplesTable" [ngTemplateOutletContext]="{$implicit: data.samples}">
              </ng-container>
            </div>
          </section>
        </section>
        <section *ngIf="data.samples|isArrayLength:{greaterThan: 5}">
          <section markdown ngPreserveWhitespaces
                   *ngFor="let samples of (data.samples | splitArrayInChunks: slides.printing ? -1 : 25); index as index; count as count">
            ### {{data.vesselSnapshot?.name}} - {{stats.taxonGroup?.name}} {{index|paginationToString:count:true}}

            <ng-container *ngTemplateOutlet="samplesTable; context: {$implicit: samples, pmfms: pmfms}"></ng-container>
          </section>
        </section>
      </ng-container>
    </app-slides>

    <ng-template #loadingTemplate>
      <div class="loader">
        <ion-spinner slot="start" color="secondary" size="large"></ion-spinner>
      </div>
    </ng-template>
  </ion-content>
</ng-container>

<ng-container *ngIf="embedded && loaded">
  <section markdown ngPreserveWhitespaces
   *ngFor="let samples of (data.samples | splitArrayInChunks: 25); index as index; count as count">
    ## {{data.vesselSnapshot?.name}} - {{stats.taxonGroup?.name}} {{index|paginationToString:count:true}}
    <ng-container *ngTemplateOutlet="samplesTable; context: {$implicit: samples, pmfms: pmfms}"></ng-container>
  </section>
</ng-container>

<ng-template #samplesTable let-samples let-pmfms="pmfms">

  <table [style.--col-count]="pmfms.length + 2">
    <thead>
    <tr>
      <th>{{'TRIP.SAMPLE.TABLE.LABEL'|translateContext: i18nContext.suffix}}</th>
      <th *ngFor="let pmfm of pmfms"
          [innerHTML]="pmfm|pmfmName: {i18nPrefix: i18nPmfmPrefix, i18nContext: i18nContext.suffix}"></th>
      <th>{{'TRIP.SAMPLE.TABLE.COMMENTS'|translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sample of samples; even as even" [class.even]="even">
      <td>{{sample.label}}</td>
      <td *ngFor="let pmfm of pmfms" [innerHTML]="sample|measurementValueGet:{pmfm: pmfm, html: true}"></td>
      <td>{{sample.comments}}</td>
    </tr>
    </tbody>
  </table>

</ng-template>
