
.filter-panel {
  margin-bottom: 5px;
  --expansion-panel-padding: 0!important;

  &.filter-panel-floating {
    z-index: 10000
  }

  .form-container {
    mat-form-field {
      width: 100%;
      .datetime-md {
        padding: 0 !important;
      }
    }
  }

  mat-action-row {
    height: 46px;
    ion-label {
      line-height: 36px;
    }
  }
}

.map-container {
  height: 100%;
  width: 100%;

  div[leaflet] {
    height: 100%;
    width: 100%;
    padding: 0;
  }

}

.table-panel {
  --expansion-panel-padding: 0!important;

  &.table-panel-floating {
    z-index: 10000;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .mat-table {
    max-height: calc(30vh) !important;
    overflow-y: auto !important;
    padding-top: 0;

    .mat-header-row {
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 100;
    }
    .mat-row {
      align-items: center;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, 0.12);
      &.mat-row-selected {
        background-color: var(--ion-color-secondary100) !important;
        color: var(--ion-color-secondary100-contrast);
      }

      &:hover {
        background-color: var(--ion-color-light);
        cursor: pointer;
      }
    }

    .text-button {
      text-transform: none;
      margin: 0;
    }

    .mat-column-dateTime {
      min-width: 250px;
    }
  }
}
