<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Sample tree test page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="ion-padding form-container" [formGroup]="filterForm" (ngSubmit)="doSubmit($event)">
   <ion-grid class="ion-no-padding">

     <!-- Filter -->
     <ion-row>
       <!-- Program -->
       <ion-col>
         <mat-autocomplete-field formControlName="program" class="min-width-large ion-text-wrap"
                                 [placeholder]="'TRIP.TABLE.FILTER.PROGRAM'|translate"
                                 [config]="autocomplete.fields.program"
                                 [tabindex]="1"
                                 required>
         </mat-autocomplete-field>
       </ion-col>

       <!-- Example select -->
       <ion-col>
         <mat-autocomplete-field formControlName="example"
                                 placeholder="Data example"
                                 [tabindex]="3"
                                 [required]="true"
                                 [config]="autocomplete.fields.example">
         </mat-autocomplete-field>
       </ion-col>

       <!-- Action  buttons -->
       <ion-col size="4" size-md="2">
         <!-- show tree -->
         <ion-button *ngIf="!outputs.example" fill="outline"
                     (click)="dumpExample()">
           <ion-icon name="eye" slot="icon-only"></ion-icon>
         </ion-button>
         <!-- hide tree -->
         <ion-button *ngIf="outputs.example"
                     fill="outline"
                     (click)="outputs.example=undefined">
           <ion-icon name="eye-off" slot="icon-only"></ion-icon>
         </ion-button>
         <!-- copy to -->
         <ion-button (click)="applyExample()"
                     fill="outline">
           <ion-icon name="arrow-down" slot="icon-only"></ion-icon>
         </ion-button>
       </ion-col>
     </ion-row>
   </ion-grid>
  </form>

  <div class="ion-padding" *ngIf="outputs.example">
    <ion-text color="medium">
      <h4>Output: </h4>
      <p [innerHTML]="outputs.example">
      </p>
    </ion-text>
  </div>


  <mat-tab-group #tabGroup
                 class="mat-tab-disabled-hidden mat-tab-fixed-content mat-tab-group-root"
                 [(selectedIndex)]="selectedTabIndex"
                 [dynamicHeight]="false">
    <mat-tab label="Mobile">
      <ng-template matTabContent>

        <app-sample-tree #mobileTree
                         [programLabel]="$programLabel|async"
                         [defaultSampleDate]="defaultSampleDate"
                         queryTabIndexParamName="mobileTab"
                         [usageMode]="'FIELD'"
                         [mobile]="true"
                         [debug]="true">
        </app-sample-tree>
          <!-- buttons -->
        <ion-item [lines]="'none'">
          <!-- log tree -->
          <ion-button (click)="dumpSampleTree(mobileTree, 'mobile')"
                      matTooltip="Output data to log"
                      fill="outline">
            <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
          </ion-button>

          <!-- copy to -->
          <ion-button (click)="copySampleTree(mobileTree, desktopTree)"
                      matTooltip="Copy to desktop table"
                      fill="outline">
            <ion-icon name="arrow-down" slot="icon-only"></ion-icon>
          </ion-button>

          <!-- Reload from himself -->
          <ion-button (click)="copySampleTree(mobileTree, mobileTree)"
                      matTooltip="Reload from himself data"
                      fill="outline">
            <ion-icon name="reload-circle" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>

        <div class="ion-padding"
             *ngIf="outputs.mobile">
          <ion-text color="medium">
            <h4>Output: </h4>
            <p [innerHTML]="outputs.mobile">
            </p>
          </ion-text>
        </div>
      </ng-template>
    </mat-tab>


    <mat-tab label="Desktop">
      <ng-template matTabContent>

         <app-sample-tree #desktopTree
                          [programLabel]="$programLabel|async"
                          queryTabIndexParamName="desktopTab"
                          [defaultSampleDate]="defaultSampleDate"
                          [usageMode]="'DESK'"
                          [debug]="true">
         </app-sample-tree>

        <!-- buttons -->
        <ion-item>
         <!-- log tree -->
         <ion-button (click)="dumpSampleTree(desktopTree, 'desktop')"
                     matTooltip="Output data to log"
                     fill="outline">
           <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
         </ion-button>

         <!-- copy to -->
         <ion-button (click)="copySampleTree(desktopTree, mobileTree)"
                     matTooltip="Copy data to mobile table"
                     fill="outline">
           <ion-icon name="arrow-up" slot="icon-only"></ion-icon>
         </ion-button>

         <!-- Reload from himself -->
         <ion-button (click)="copySampleTree(desktopTree, desktopTree)"
                     matTooltip="Reload from himself data"
                     fill="outline">
           <ion-icon name="reload-circle" slot="icon-only"></ion-icon>
         </ion-button>

        </ion-item>

        <div class="ion-padding"
             *ngIf="outputs.desktop">
          <ion-text color="medium">
            <h4>Output: </h4>
            <p [innerHTML]="outputs.desktop">
            </p>
          </ion-text>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>


</ion-content>


<!-- FAB button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed"
         [class.cdk-visually-hidden]="selectedTabIndex">

  <ion-fab-button color="tertiary" (click)="mobileTree.addRow($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-fab>
